/*---------------------------
[Template Structure]

Project:	 Gliders
Version:	 1.0
Primary Use: Site Template
Layout:      Responsive
Platforms:   Mobile & Tablet
-----------------------------


@charset "UTF-8";

/* 1. General */

body{
	height:100%;

	 -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
    -webkit-text-size-adjust: none;
}

#content{
 padding-top:60px;
}

::-webkit-scrollbar { display:none; }

.all-elements{ position:absolute; overflow-x:hidden!important; width:100%; height:100%; min-height:100%; max-height:100%; }

.header{ height:61px; position:fixed; top:0; width:100%; display:block; background-color:rgba(255, 255, 255, 0.7) ; background-size:100px 100px; background-repeat:repeat; z-index:999999; transition:all 350ms ease-in-out; border-left:solid 1px rgba(255,255,255,0.05); border-right:solid 1px rgba(255,255,255,0.05); }

.header-nav{ transform:translateX(266px); -webkit-transform:translateX(266px); transition:all 350ms ease-in-out; }
.header-socials{ transform:translateX(-280px); -webkit-transform:translateX(-280px); transition:all 350ms ease-in-out; }
.header-leftBtn{ float:left; width:60px; height:60px; line-height:60px; text-align:center; font-size:24px; color:#2A333C; z-index:1; }

.open-nav{ float:left; width:60px; height:60px; line-height:60px; text-align:center; font-size:24px; color:#2A333C; z-index:1; }
.open-nav:hover{ background-color:rgba(255,255,255,0.05); color:#2A333C; }

.header-logo{ position:absolute; background-image:url(../../images/logo.png); background-repeat:no-repeat; background-size:128px 30px; width:128px; height:30px; left:50%; margin-left:-64px; margin-top:15px; }

.header-message{ font-size:14px; color:#FFFFFF; text-align:center; position:absolute; width:100%; text-align:center; height:60px; line-height:60px; font-size:16px; font-weight:600; z-index:0; }
.header-message:hover{ color:#FFFFFF; }


.codeAuthWrap { display:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height:100%; } 
.codeAuthWrap .header{  background-color:rgba(255, 255, 255, 1); }

.qrscannerWrap { display:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height:100%;}
.qrscannerWrap .header{  background-color:rgba(255, 255, 255, 1); }
.qrscannerWrap .qrscnnerFocus { display:block; border:5px solid #fff; width:80vw; height:80vw; position:fixed; top:220px; left:50%; transform: translateX(-50%); z-index:999999; }
.qrscannerWrap .qrscnnerBg_top { position:fixed; top:0; left:0; right:0; height:220px; background-color:rgba(0, 0, 0, 0.8);z-index:99999; }
.qrscannerWrap .qrscnnerBg_left {position:fixed; top:220px; left:0; width:10vw; height:80vw; background-color:rgba(0, 0, 0, 0.8);z-index:99999;}
.qrscannerWrap .qrscnnerBg_right {position:fixed; top:220px; right:0; width:10vw; height:80vw; background-color:rgba(0, 0, 0, 0.8);z-index:99999;}
.qrscannerWrap .qrscnnerBg_bottom {position:fixed; top:calc(220px + 80vw); left:0; right:0; bottom:0; background-color:rgba(0, 0, 0, 0.8);z-index:99999; }
.qrscannerWrap .qrscnnerBg_comment {position:fixed; top:calc(220px + 80vw); left:0; right:0; height:100px; z-index:99999; text-align: center; line-height:30px; font-size: 14px; color:#fff;  }


.open-socials{ float:right; width:60px; height:60px; line-height:60px; text-align:center; font-size:24px; color:#2A333C; z-index:1; }
.open-socials:hover{ background-color:rgba(255,255,255,0.05); color:#2A333C; }


.snap-drawer {  background-color: #9dadcb !important; }

.sidebar-logo{ background-repeat:no-repeat; background-image:url(../../images/logo.png); background-position:0px 20px; height:50px; width:150px; background-size:150px 25px; float:left; margin-left:20px; }
.sidebar-close{ width:60px; height:60px; float:right; color:#2A333C; font-size:17px; line-height:61px; text-align:center; }
.sidebar-close:hover{ color:#2A333C; background-color:rgba(255,255,255,0.05); }
.breadcrumb{ font-size:'Lato', sans-serif; font-size:10px; font-weight:600; color:#2A333C; text-transform:uppercase; height:15px; line-height:15px; padding-left:0px; opacity:0.5; margin-top:30px; text-align: center; }
.deco{ border-bottom:solid 0px ; }

.userinfo { height:100px;  }
.userinfo .thumb { width:53px; height:53px; border-radius:26px; background:url(../../images/userThumb.png) no-repeat left top;}

.menu-item{ height:50px; line-height:50px; background-color:transparent;}
.menu-item i:first-child{ color:#2A333C; font-size:16px; width:20px; position:absolute; left:21px; top:18px; text-align:center; }
.menu-item em{ color:#2A333C; font-size:13px; font-style:normal; font-weight:700; padding-left:60px; }
.menu-item:hover{ background-color:rgba(255,255,255,0.05); }
.menu-item .kk-icon-add, .menu-item .kk-icon-circle{ position:absolute; left:230px; top:22px; font-size:10px; color:#2A333C; }
.menu-item .kk-icon-circle{font-size:8px;}

.active-menu .kk-icon-circle{ font-size:10px!important; color:#42526e!important; top:22px!important;  }
.active-menu { background-color:#9dadcb!important; margin-right:-1px; }
.active-menu em { color:#343E4A; }
.active-menu i { color:#343E4A; }
.active-menu i:first-child{ color:#343E4A; }

.has-submenu{ height:auto; }
.has-submenu .kk-icon-add{ width:7px; height:7px; margin-left:-1px; margin-top:-1px; -ms-transform: rotate(0deg); /* IE 9 */ -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */ transform: rotate(0deg); transition:all 200ms ease; }

.rotate-plus{ -ms-transform: rotate(-45deg)!important; /* IE 9 */ -webkit-transform: rotate(-45deg)!important; /* Chrome, Safari, Opera */ transform: rotate(-45deg)!important; transition:all 200ms ease; color:#c0392b!important; }
.submenu{display:none;}
.active-submenu .submenu{ display:block; }
.submenu .menu-item{ line-height:50px; height:50px; }
.submenu .fa-angle-right{ font-size:10px!important; top:21px!important; color:#6a6b6d!important; left:50px!important; }
.submenu em{ font-size:11px; font-weight:400; color:#6a6b6d; padding-left:80px; }
.submenu .kk-icon-circle{ font-size:6px; top:24px; }
.submenu .active-menu .kk-icon-circle{ margin-top:-6px; font-size:8px!important; left:229px; }





/*Page Updates*/
	.red-update i{      background-color:#c0392b;  }
	.green-update i{    background-color:#27ae60;  }
	.blue-update i{     background-color:#2980b9;  }
	.yellow-update i{   background-color:#f39c12;  }
	.orange-update i{   background-color:#d35400;  }
	.magenta-update i{  background-color:#8e44ad;  }

	.update-item{ padding-left:20px; padding-right:20px; height:60px; margin-top:20px }
	.update-item i{ width:40px; height:40px; float:left; border-radius:40px; line-height:40px; text-align:center; color:#FFFFFF; font-size:16px; }
	.update-item strong{ width:185px; float:left; padding-left:20px; color:#d2d3d3; font-weight:700; font-size:13px; }
	.update-item em{ width:185px; float:left; font-size:11px; padding-left:20px; font-style:normal; }

/*Right Drawer*/
	.social-item{ height:80px; color:#d2d3d3; }
	.social-item:hover{ color:#FFFFFF; background-color:rgba(255,255,255,0.05); }
	.social-item i{ color:#FFFFFF!important; margin-top:20px; height:20px; width:100%; font-size:18px; text-align:center; }
	.social-item{ font-size:10px; text-align:center; }

/*Full Screen Image Slider*/
	.dark-overlay{ background-color:rgba(0,0,0,0.8)!important; }
	.full-slider{ position:absolute; margin-top:0px; }
	.full-slider img{ width:100%; height:100%; }
	.slider-image{ background-size:cover; background-position: center center;}
	.slider-image-1{background-image:url(../../images/pictures/3.jpg);}
	.slider-image-2{background-image:url(../../images/pictures/1.jpg);}
	.slider-image-3{background-image:url(../../images/pictures/5.jpg);}

	.slider-style-1{ position:absolute; width:100%; top:50%; z-index:9999; }
	.slider-style-1 p{ text-align:center; width:70%; margin-left:auto; margin-right:auto; font-size:14px; }
	.slider-style-1 h2{ color:#FFFFFF; text-align:center; font-weight:800; text-transform:uppercase; font-size:51px; line-height:36px; padding-bottom:0px; }
	.slider-style-1 h3{ color:#FFFFFF; text-align:center; font-size:13px; font-weight:700; text-transform:uppercase; margin-bottom:30px; }

	.slider-button-1{ width:200px; margin-left:auto; margin-right:auto; font-size:12px; font-weight:500; text-transform:uppercase; text-align:center; padding-top:12px; padding-bottom:12px; font-family:'Roboto', sans-serif; margin-bottom:20px; transition:all 200ms ease; }
	.slider-button-1:hover{ transform:scale(0.95, 0.95); transition:all 200ms ease; }
	.slider-button-2{ width:200px; margin-left:auto; margin-right:auto; font-size:12px; font-weight:500; text-transform:uppercase; text-align:center; padding-top:12px; padding-bottom:12px; font-family:'Roboto', sans-serif;    margin-bottom:20px; color:#cacaca; transition:all 200ms ease; }
	.slider-button-2:hover{ transform:scale(0.95, 0.95); transition:all 200ms ease; }
	.button-line{ border:solid 1px #cacaca; }
	.slider-button-1:hover{color:#FFFFFF;}
	.slider-button-2:hover{color:#FFFFFF;}
	.slider-style-2{ position:absolute; width:100%; top:50%; z-index:9999; }
	.slider-style-2 h2{ color:#FFFFFF; text-align:center; font-weight:800; text-transform:uppercase; font-size:24px; line-height:36px; padding-bottom:0px; margin-bottom:5px; }
	.slider-style-2 h3{ color:#FFFFFF; text-align:center; font-size:34px; font-weight:700; text-transform:uppercase; margin-bottom:30px; }
	.slider-style-2 p{ text-align:center; width:70%; margin-left:auto; margin-right:auto; font-size:14px; }
	.slider-style-3{ position:absolute; width:100%; top:50%; z-index:9999; height:200px; }
	.slider-style-3 h2{ color:#FFFFFF; text-align:center; font-weight:800; text-transform:uppercase; font-size:24px; line-height:36px; padding-bottom:0px; margin-bottom:0px; }
	.slider-style-3 h3{ color:#FFFFFF; text-align:center; font-size:14px; font-weight:700; text-transform:uppercase; margin-bottom:20px; }
	.slider-style-3 p{ text-align:center; width:70%; margin-left:auto; margin-right:auto; font-size:14px; }

@media(min-width:768px){
    .slider-style-1 h2{ font-size:60px; line-height:55px }
    .slider-style-1 h3{ font-size:16px; margin-bottom:10px; }
    .slider-style-1 p{ font-size:14px; width:320px; }
    .slider-style-2 h2{ font-size:36px; font-weight:600; }
    .slider-style-2 h3{ padding-top:10px; font-size:48px; font-weight:900; }
    .slider-style-2 p{ width:320px; }
    .slider-style-3 h2{ font-size:36px; padding-bottom:5px; }
    .slider-style-3 h3{ font-size:18px; }
    .slider-style-3 p{ width:320px; }
}

/*Content Title*/
	.content-title h3{ font-size:18px; text-align:center; font-weight:500; }
	.content-title p{ opacity:0.7; text-align:center; width:90%; font-size:14px; line-height:30px; margin-left:auto; margin-right:auto; }
	.content-title a{ font-size:14px; text-align:center }

/*Center Socials*/
	.center-socials{ width:147px; margin-left:auto; margin-right:auto; }
	.center-socials a{ transition:all 500ms ease; }
	.center-socials a:hover{ transform:scale(0.9, 0.9); transition:all 500ms ease; }
	.center-socials .facebook-social{ width:35px; height:35px; background-color:#3b5998; color:#FFFFFF; text-align:center; line-height:35px; border-radius:35px; float:left; margin-left:7px; margin-right:7px; }
	.center-socials .twitter-social{ width:35px; height:35px; background-color:#4099FF; color:#FFFFFF; text-align:center; line-height:35px; border-radius:35px; float:left; margin-left:7px; margin-right:7px; }
	.center-socials .google-social{ width:35px; height:35px; background-color:#d34836; color:#FFFFFF; text-align:center; line-height:35px; border-radius:35px; float:left; margin-left:7px; margin-right:7px; }

/*Content Heading*/
	.content-heading{ margin-bottom:30px; }
	.content-heading h4{ color:#FFFFFF; position:absolute; z-index:9999; text-transform:uppercase; margin-top:27px; padding-left:30px; pointer-events:none; font-weight:800; }
	.content-heading{ max-height:100px; }
	.content-heading p{ color:#FFFFFF; position:absolute; z-index:999; margin-top:48px; padding-left:30px; opacity:0.5; pointer-events:none; }
	.content-heading .overlay{ z-index:99; background-color:rgba(0,0,0,0.8); }
	.content-heading i{ font-size:32px; position:absolute; color:#FFFFFF; right:30px; z-index:999; margin-top:36px; pointer-events:none; }
	.content-heading img{ width:100%; display:block; position:relative; z-index:2; transition:all 300ms ease; }
	.content-heading img:hover{ filter: blur(3px); -webkit-filter:blur(3px); transition:all 300ms ease; }

@media (min-width:768px){
	.content-heading{ max-height:140px; }
	.content-heading h4{ font-size:20px; margin-top:45px; padding-left:50px; }
	.content-heading p{ font-size:13px; margin-top:75px; padding-left:50px; }
	.content-heading i{ font-size:40px; margin-top:53px; right:50px; }
}

/*Thumbnails Columns*/
	.thumb-clear{ height:40px; display:block; width:100%; }
	.thumb-left{ line-height:24px; display:block; padding-bottom:10px; }
	.thumb-left a{ display:block; text-align:right; }
	.thumb-left img{ width:100px; height:100px; border-radius:100px; float:left; margin-right:20px; transition:all 500ms ease; }
	.thumb-left img:hover{ transform:scale(0.9, 0.9); transition:all 500ms ease; }
	.thumb-left strong{ color:#1a1a1a; display:inline-block; padding-bottom:5px; font-size:13px; }
	.thumb-left em{ font-style:normal; }
	.thumb-right{ line-height:24px; display:block; padding-bottom:10px; }
	.thumb-right img{ width:100px; height:100px; border-radius:100px; float:right; margin-left:20px; transition:all 500ms ease; }
	.thumb-right img:hover{ transform:scale(0.9, 0.9); transition:all 500ms ease; }
	.thumb-right strong{ color:#1a1a1a; display:inline-block; padding-top:5px; padding-bottom:5px; font-size:13px; }
	.thumb-right em{ font-style:normal; }

@media (min-width:600px){
	.thumb-left img{ width:140px; height:140px; border-radius:150px; }
	.thumb-left em{ line-height:28px; }
	.thumb-left strong{ padding-top:10px; }
	.thumb-right img{ width:140px; height:140px; border-radius:150px; }
	.thumb-right em{ line-height:28px; }
	.thumb-right strong{ padding-top:10px; }
}


/*Quote & Staff Slider*/
	.staff-item img{ border-radius:300px; max-width:150px; margin-left:auto; margin-right:auto; transition:all 500ms ease; margin-top:10px; }
	.staff-item img:hover{ transform:scale(1.1, 1.1); transition:all 500ms ease; }
	.staff-item h4{ text-align:center; margin-top:20px; font-size:16px; }
	.staff-item em{ text-align:center; font-size:12px; color:#e34e47; display:block; margin-top:-10px; margin-bottom:10px; font-style:normal; }
	.staff-item strong{ display:block; font-weight:400; text-align:center; padding-left:20px; padding-right:20px; line-height:28px; }


/*Footer*/
	.footer p{ clear:both; }
	.footer-socials{ width:260px; margin-left:auto; margin-right:auto; padding-left:40px; padding-right:40px; }
	.footer-socials a:hover{ transform:scale(0.9, 0.9); color:#FFFFFF; transition:all 200ms ease; }
	.footer-socials a{ width:35px; height:35px; text-align:center; line-height:35px; border-radius:35px; float:left; margin-left:5px; margin-right:5px; font-size:16px; color:#FFFFFF; transition:all 200ms ease; }
	.footer-facebook{ background-color:#3b5998; }
	.footer-twitter{ background-color:#4099FF; }
	.footer-google{ background-color:#d34836; }
	.footer-up{ background-color:#27ae60; line-height:32px!important; }
	.pageTitle { position:relative; background-color:#efedee; height:40px; line-height:40px; color:#000; font-size:16px; padding:0 15px 0 20px; border-bottom:1px solid #d9d9d9; }
	.pageTitle:after {content:" "; display:block; clear:both;}
	.pageTitle a.backBtn { float:left; display:block; width:40px;height:40px; line-height:40px; color:#666; }
	.pageTitle a.backBtn:active { color:#333; }
	.pageTitle .folderTitle {height:40px; line-height:40px; }

/* @gorup Item Lists */
	ul.item { position:relative; list-style:none; padding:0; margin:0; border:none;}
	ul.item li { position:relative; list-style-type:none; border-bottom: 0px solid #d9d9d9; background:#fff; margin:10px 0 10px 0; padding:0; min-height:49px; height:49px;  -webkit-tap-highlight-color: rgba(0,0,0,0.1); -webkit-tap-highlight-color: transparent; }
	ul.item li:after {content:" "; display:block; clear:both;}
	ul.item li:active { background-color:rgba(0,0,0,0.1);}
	ul.item li > a.action {position:absolute; display:block; top:0; right:0; background:transparent url(../../images/actionBtn.png) no-repeat 50% 50%; width:40px; height:49px; background-size:18px 18px; font-size:0; text-indent:-10000px;}
	ul.item li > .item_img { position:absolute; top:6px; left:15px; height:36px; width:36px; font-size:0; text-indent:-10000px; background: url(../../images/doc_icons.png) no-repeat left top; background-size:36px 400px; }

	ul.item li > .etc { background-position:0px 0px; }
	ul.item li > .document { background-position:0px -36px; }
	ul.item li > .cell { background-position:0px -72px; }
	ul.item li > .slide { background-position:0px -108px; }
	ul.item li > .pdf { background-position:0px -144px; }
	ul.item li > .epub { background-position:0px -180px; }
	ul.item li > .img { background-position:0px -216px; }
	ul.item li > .hwp { background-position:0px -300px; }

	ul.item li > .folder { background-position:0px -252px; }


	ul.item li > .meta { position:absolute; top:0px; bottom:0; left:70px; right:45px; }
	ul.item li > .meta > .title {position:absolute; top:5px; left:0; right:45px; color: #333; text-shadow:rgba(0, 0, 0, 1) 1px 0 0 0; text-decoration:none; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; font: normal 14px Helvetica;}
	ul.item li > .meta > .filemeta { position:absolute; bottom:5px; left:0; right:45px; color:#a5a5a5; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font:normal 12px Helvetica;}

	ul.item li > .meta > .published { display:inline-block; width:13px; height:13px; margin:1px 5px 0 0; background:url(../../images/i1/iconPublish.png) no-repeat 0 0; vertical-align:top; text-indent:-10000px; }
	ul.item li > .meta > .shared { display:inline-block; width:19px; height:14px; margin:1px 5px 0 0; background:url(../../images/i1/iconShare.png) no-repeat 0 0; vertical-align:top; text-indent:-10000px; }


	ul.item li > .url { position:absolute; top:32px; left:55px; right:15px; color:#999; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font:normal 12px Helvetica; }
	ul.item li > .hidden_url { display: none; }
	ul.item li.more {text-align:center; padding:0; margin:0; background:url(../../images/i1/bgListMore.png) repeat-x left top; }
	ul.item li.more > span.next { padding-top:17px; text-align:center; color:#475773; text-shadow: rgba(255,255,255,.3) 1px 1px 1px; font:normal 18px Helvetica; display:block; }
	ul.item li.error { border:none; padding:20px; font-size:14px; color:#999; text-align:center;}
	ul.item li.active { color:#fff; background:#3dbee6 url(../../images/i1/bgListActive.png) repeat-x left top; }
	ul.item li.active > .meta , ul.item li.active > .title ,ul.item li.active > .url , ul.item li.more.active span { color: #fff; }
	.stop { position:absolute; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,.1); z-index:10003; display: none;}
	.active .stop { display: block; }
	ul.item li[ftype='folder'] > .title {right:40px;}
	ul.item li[ftype='folder'] > .meta {width:250px;}

/* @gorup File Info */
	.fileInfoWrap .thumbWrap{ background-color:#ebf0f4; min-height:120px; }
	.fileInfoWrap .thumbWrap .docIcon {margin:50px auto 0 auto; width:72px; height:72px; }

	.fileInfoWrap .filenameWrap { background-color:#ebf0f4; min-height:50px; line-height:50px; color:#666; text-align:center;   }

	.fileInfoWrap .itemWrap { background-color:#fff; min-height:50px; color:#666; padding-top:10px; padding-bottom:10px; padding-left:15px; border-bottom:1px solid #eee;  }
	.fileInfoWrap .itemWrap:after {content:" "; display:block; clear:both;}
	.fileInfoWrap .itemWrap .item { float:left; width:60px; height:60px; padding-top:10px; color:#666; text-align:center; }
	.fileInfoWrap .itemWrap .item:hover { background-color:#ebf0f4; }

	.fileInfoWrap .metaWrap { background-color:#fff; min-height:50px; color:#666; padding-left:0; border-bottom:1px solid #eee;}
	.fileInfoWrap .metaWrap:after {content:" "; display:block; clear:both;}
	.fileInfoWrap .metaWrap label { float:left; margin-left:20px; line-height:50px; font-weight:bold; color:#333;  }
	.fileInfoWrap .metaWrap .value { float:right; margin-right:20px; line-height:50px; color:#666; width:150px; text-align:right; text-overflow:ellipsis; white-space: nowrap; overflow: hidden;}

	.fileInfoWrap .titleWrap { padding-left:20px; color:#fff; height:40px; line-height:40px; }

	.fileInfoWrap .revicsionWrap { background-color:#fff; }

	.fileInfoWrap .revision { position:relative; padding:0; margin:0; list-style:none;}
	.fileInfoWrap .revision li { position:relative; list-style-type:none; background-color:#fff; border-bottom:1px solid #eee; height:30px; line-height:30px; padding-left:15px;}
	.fileInfoWrap .revision li:after {content:" "; display:block; clear:both;}
	.fileInfoWrap .revision li span.date { float:right; margin-right:15px; color:#999; font-size:12px; }


/* @gorup File Info */
	#ajaxloader { background-color:rgba(255,255,255,0.5); display:none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: auto; height: auto; z-index: 200; overflow: auto; }
	#ajaxloader .status { position:fixed; z-index:99999999; width:250px; height:250px; position:absolute; left:50%; top:50%; background-image:url(../../images/status.gif); background-size:64px 64px; background-repeat:no-repeat; background-position:center; margin:-125px 0 0 -125px; }
	#ajaxloader .status p{ top:60%; }
	#ajaxloader .status em{ font-size:10px!important; display:block; font-style:normal; }




	#kukuviewer { position:absolute; top:0; left:0; right:0; bottom:0; z-index:9990000; width:100%; height:100%; background-color:#eee; }
	#kukuviewer .viewerHeader { position:absolute; top:0px; width:0px; right:0px; width:100%; height:50px; background-color:#2A333C; }

	#kukuviewer .viewerHeader .title{position:absolute; top:0px; left:50px; right:50px; color: #fff; text-shadow:rgba(0, 0, 0, 1) 1px 0 0 0; text-decoration:none; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; font: normal 14px Helvetica; height:50px; line-height:50px;}

	#kukuviewer .viewerHeader .item_img { position:absolute; top:7px; left:7px; height:36px; width:36px; font-size:0; text-indent:-10000px; background: url(../../images/doc_icons.png) no-repeat left top; background-size:36px 400px; }

	#kukuviewer .viewerHeader .etc { background-position:0px 0px; }
	#kukuviewer .viewerHeader .document { background-position:0px -36px; }
	#kukuviewer .viewerHeader .cell { background-position:0px -72px; }
	#kukuviewer .viewerHeader .slide { background-position:0px -108px; }
	#kukuviewer .viewerHeader .pdf { background-position:0px -144px; }
	#kukuviewer .viewerHeader .epub { background-position:0px -180px; }
	#kukuviewer .viewerHeader .img { background-position:0px -216px; }
	#kukuviewer .viewerHeader .hwp { background-position:0px -300px; }

	#kukuviewer .viewerHeader .folder { background-position:0px -252px; }



	#kukuviewer iframe { position:absolute; top:50px; left:0; right:0; bottom:0; width:100%; background-color:#eee;  }
	#kukuviewer .viewerHeader .viewerClose { position:absolute; top:0px; right:0px; width:50px; height:50px; line-height:50px; z-index:99999999; text-align:center; }
	#kukuviewer .viewerHeader .viewerClose i {font-size:20px; color:#fff;}





/* ------------------------------------------------------------------------------------------------------------------------------------ */

* { -webkit-tap-highlight-color:rgba(240,65,131,0.3); }
body { user-select:none; height:100%;  }

.kk-page-wrap {}
.kk-page-wrap .kk-header { height:50px; margin-left: 20px; margin-right:20px; position:relative; }
.kk-page-wrap .kk-header .kk-title { position: absolute; top:10px; left:5px; height:30px; line-height:30px; font-size:20px; font-weight:bold; }
.kk-page-wrap .kk-header .kk-action { position: absolute; top:10px; right:5px; height:30px; width:30px; text-align: center; line-height:30px; font-size:25px; font-weight:bold; }

.kk-page-wrap .kk-process { height:30px; margin-left:20px; margin-right:20px; position:relative; text-align: right; }
.kk-page-wrap .kk-process span { font-size:12px; margin:0 3px 0 3px;  color:#999; }
.kk-page-wrap .kk-process span.kk-active { font-weight:bold; text-decoration: underline; color:#000; }

.kk-page-wrap .kk-content { position:relative; margin-left:20px; margin-right:20px; padding-bottom:100px; position:relative; overflow:visible;}
.kk-page-wrap .kk-content .kk-item-button { position:relative; display:block; height:80px; border: 0px solid #a5a5a5; margin-bottom:15px; border-radius: 10px; box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.1); margin-left:10px; margin-right:10px;}
.kk-page-wrap .kk-content .kk-item-button > .kk-title { position: absolute; top:0; left:100px; height:80px; line-height:80px; font-size:20px; font-weight: bold; color:#333;}
.kk-page-wrap .kk-content .kk-item-button .kk-thumb { position: absolute; top:10px; left:20px; width:60px; height:60px; border-radius:50%; background-color: #e4f2fc; text-align: center; }
.kk-page-wrap .kk-content .kk-item-button .kk-thumb-list_1 {background-color: #e4f2fc;}
.kk-page-wrap .kk-content .kk-item-button .kk-thumb-list_2 {background-color: #feedd5;}
.kk-page-wrap .kk-content .kk-item-button .kk-thumb-list_3 {background-color: #e9fce4;}
.kk-page-wrap .kk-content .kk-item-button .kk-thumb img {position: absolute;  top:7.5px; left:7.5px; width:45px; height:45px; }


.kk-page-wrap .kk-content .kk-item-button .kk-arrow { position: absolute; top:50%; right:10px; width:50px; height:50px; margin-top:-25px; line-height:50px; text-align: center; font-size: 30px; color:#333; }
.kk-page-wrap .kk-content .kk-item-button .kk-arrow i { line-height:30px; } 

.kk-page-wrap .kk-content .kk-today-play { position:relative; }
.kk-page-wrap .kk-content .kk-today-play img { width:100%; }
.kk-page-wrap .kk-content .kk-today-play .kk-today-button { position:absolute; display:block; top:70%; left:50%; width:42vw; height:5vh; background-color: rgba(255, 255, 255, 0.3); border-radius:2.5vh ; }
.kk-page-wrap .kk-content .kk-today-play .kk-today-button > .kk-title { position:absolute; top:0; left:5vw; color:#fff; font-size:2vh; height:5vh; line-height: 5vh; }
.kk-page-wrap .kk-content .kk-today-play .kk-today-button > .kk-arrow { position: absolute; top:0.5vh; right:0.5vh; width:4vh; height:4vh; line-height:1.2; text-align:center; font-size:3vh; color:#f48b21; background-color:#fff; border-radius: 2vh; }

.kk-page-wrap .kk-content .kk-user-info { position:relative; height:150px; margin-bottom:20px; }
.kk-page-wrap .kk-content .kk-user-info .kk-user-thumb { position:absolute; top:0; left:50%; width:100px; height:100px; margin-left:-50px; }
.kk-page-wrap .kk-content .kk-user-info .kk-user-thumb img { width:100%; }
.kk-page-wrap .kk-content .kk-user-info .kk-user-name { position:absolute; top:120px; left:50%; width:200px; height:30px; margin-left:-100px; font-size:16px; font-weight:bold; text-align: center; }

.kk-page-wrap .kk-content > .kk-title { position: relative; height:30px; line-height:30px; font-size:16px; font-weight:bold; margin-top:30px; margin-bottom:20px; margin-left:5px; margin-right:5px;  }

.kk-page-wrap .kk-content .kk-list-routine { position:relative; display: block; height:50px; border: 0px solid #a5a5a5; margin-bottom:10px; border-radius:5px; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); margin-left:10px; margin-right:10px; }
.kk-page-wrap .kk-content .kk-list-routine > .kk-title { position: absolute; top:0; left:20px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#333; }
.kk-page-wrap .kk-content .kk-list-routine > .kk-arrow { position: absolute; top:50%; right:10px; width:30px; height:30px; margin-top:-15px; line-height:30px; text-align:center; font-size:20px; color:#333; }

.kk-page-wrap .kk-content > .kk-action-title { position: relative; height:50px; line-height:50px; font-size:20px; text-align: center; font-weight:bold; color:#000; margin-top:30px; margin-bottom:30px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); border-radius:15px;  }

.kk-page-wrap .kk-content .kk-action-list {	position: relative; display:flex; padding:0 0 10px 0; flex-direction:row; margin:10px 0 0 0; border-bottom:1px solid #eee; }
.kk-page-wrap .kk-content .kk-action-list .kk-media-gif { width:100%; display:block; }
.kk-page-wrap .kk-content .kk-action-list .kk-thumb { width:55%; } 
.kk-page-wrap .kk-content .kk-action-list .kk-repeat { width:50%; text-align:left; margin-top:0; height:4.5vh; padding-left:1vh; font-size:20px; line-height: 4.5vh; } 
.kk-page-wrap .kk-content .kk-action-list .kk-summary {position:absolute; width:50%; right:1vh; bottom:0; height:4.5vh; font-size:14px; text-align: right; line-height:2vh; font-weight:normal;} 


.kk-page-wrap .kk-content .kk-action-tab { position:relative; height:30px; margin-top:20px; margin-bottom:10px; display:flex; flex-direction:row;  }
.kk-page-wrap .kk-content .kk-action-tab .kk-action-tab-btn { width:calc(50% - 2px); font-size:14px; text-align: center; height:30px; line-height:28px; border-radius:15px; color:#000; font-weight:bold; background-color:#9dadcb; margin-left:2px;}
.kk-page-wrap .kk-content .kk-action-tab .kk-action-tab-btn:first-child { margin-left:0; margin-right:2px;  } 
.kk-page-wrap .kk-content .kk-action-tab .kk-action-tab-btn.kk-action {background-color:#f3f3f3; color:#999;}


.kk-footer-wrap { position:relative; display:block; z-index:100; margin-top:40px; }
.kk-footer-wrap .kk-footer-btn { display:block; height:50px; border-radius:25px; text-align: center; color:#fff; font-size:16px; line-height:50px; background-color:#ffa548; }


.kk-record-round { display:flex; padding:0 0 10px 0; flex-direction:row; margin-top:30px; margin-bottom:30px; }
.kk-record-round .kk-label { font-size:20px; height:40px; line-height:40px; margin-left:5px; margin-right:30px; color:#343434;}
.kk-record-round .kk-input-down { font-size:40px; height:40px; line-height:40px; margin-left:10px; margin-right:10px; }
.kk-record-round .kk-input {height:40px; line-height:40px;  margin-left:10px; margin-right:10px;}
.kk-record-round .kk-input input { font-size:30px; width:50px; padding-top:10px; height:40px; line-height:40px; text-align: center; margin-left:10px; margin-right:10px; color:#1a93f3; }
.kk-record-round .kk-input-up  { font-size:40px; height:40px; line-height:40px; margin-left:10px; margin-right:10px; }

.kk-record-time { display:flex; padding:0 0 10px 0; flex-direction:row; margin-top:50px; margin-bottom:30px; }
.kk-record-time .kk-label { font-size:20px; height:40px; line-height:40px; margin-left:5px; margin-right:30px; color:#343434;}
.kk-record-time .kk-min { font-size:20px; height:40px; line-height:40px; margin-left:10px; margin-right:10px; }
.kk-record-time .kk-sec { font-size:20px; height:40px; line-height:40px; margin-left:10px; margin-right:10px; }
.kk-record-time .kk-select {height:40px; line-height:40px;  margin-left:10px; margin-right:10px;}
.kk-record-time .kk-select select { font-size:30px; width:50px; height:40px; line-height:40px; text-align: center; margin-left:10px; margin-right:10px; color:#1a93f3; }
.kk-record-time .kk-select select option {  text-align: center; }
.kk-record-time .kk-input {height:40px; line-height:40px;  margin-left:10px; margin-right:10px;}
.kk-record-time .kk-input input { font-size:30px; width:50px; padding-top:10px; height:40px; line-height:40px; text-align: center; margin-left:0px; margin-right:0px; color:#1a93f3; }

.kk-record-result { display:block; padding:0 0 10px 0; flex-direction:row; margin-top:50px; margin-bottom:30px; text-align: right; }
.kk-record-result span {  font-size:16px; height:40px; line-height:40px; margin-left:5px; margin-right:5px; color:#b4b4b4;}
.kk-record-result .kk-label { font-size:20px; color:#343434; }
.kk-record-result .kk-result-round {  font-size:35px;  color:#ff901e; }
.kk-record-result .kk-result-min {  font-size:35px;  color:#ff901e; }
.kk-record-result .kk-result-sec {  font-size:35px;  color:#ff901e; }

.kk-page-wrap .kk-content .kk-user { position:relative; height:150px; margin-bottom:20px; margin-top:50px;}
.kk-page-wrap .kk-content .kk-user .kk-user-thumb { position:absolute; top:0; left:5px; width:150px; height:150px; }
.kk-page-wrap .kk-content .kk-user .kk-user-thumb img { width:100%; }

.kk-page-wrap .kk-content .kk-user .kk-user-branch { position:absolute; top:10px; left:180px; width:200px; height:30px; font-size:14px; color:#000; }
.kk-page-wrap .kk-content .kk-user .kk-user-name { position:absolute; top:40px; left:180px; width:200px; height:30px; font-size:16px; font-weight:bold; color:#000; }
.kk-page-wrap .kk-content .kk-user .kk-user-level { position:absolute; top:80px; left:180px; width:200px; height:30px; font-size:14px; }
.kk-page-wrap .kk-content .kk-user .kk-user-logout { position:absolute; top:120px; left:180px; width:200px; height:30px; font-size:12px; }

.kk-page-wrap .kk-content .kk-exercise-time { position:relative;  }
.kk-page-wrap .kk-content .kk-exercise-time img { width:100%; }
.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-days {  position:absolute; top:40%; left:52%; font-size:24px; font-weight:bold; height:30px; line-height:30px;  }
.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-days span { font-size:16px; font-weight: bold; }

.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-button { position:absolute; display:block; top:70%; left:50%; width:42vw; height:5vh; background-color: #dcedf7; border-radius:2.5vh 0  0 2.5vh ; }
.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-button > .kk-title { position:absolute; top:0; left:15vw; color:#000; font-size:1.5vh; height:5vh; line-height: 5vh; }
.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-button > .kk-check { position: absolute; top:0.5vh; left:0.5vh; width:4vh; height:4vh; line-height:4vh; text-align:center; font-size:2vh; color:#fff; background-color:#a7dbf1; border-radius: 2vh; }
.kk-page-wrap .kk-content .kk-exercise-time .kk-exercise-button > .kk-arrow { position: absolute; top:0.5vh; right:0.5vh; width:4vh; height:4vh; line-height:1.2; text-align:center; font-size:3vh; color:#a7dbf1; }

.kk-page-wrap .kk-content .kk-expired-time { position:relative;  }
.kk-page-wrap .kk-content .kk-expired-time img { width:100%; }
.kk-page-wrap .kk-content .kk-expired-time .kk-expired-days {  position:absolute; top:57%; left:52%; font-size:14px; font-weight:bold; line-height:25px;  }
.kk-page-wrap .kk-content .kk-expired-time .kk-expired-days span { font-size:16px; font-weight: bold; }

.kk-loginbox { position:absolute; display: block; width: 320px; height: 480px; top: 50%; margin-top: -240px; left: 50%; margin-left: -160px; background-color: rgba(255,255,255,0.9); z-index: 999999; border-radius: 5px; overflow:visible; }
.kk-loginbox .kk-loginbox-logo-wrap { width:100px; text-align:center; margin:auto; } 
.kk-loginbox .loginbox-phone{ margin-bottom:15px; height:40px; width:100%; border:solid 2px rgba(0,0,0,0.1); color:rgba(0,0,0,0.5); padding-left:20px; transition:all 400ms ease; margin-left:auto; margin-right:auto; font-size:16px; line-height:40px; }
.kk-loginbox .loginbox-auth{ margin-bottom:15px; height:40px; line-height:40px; font-size: 16px; width:100%; border:solid 2px rgba(0,0,0,0.1); color:rgba(0,0,0,0.5); padding-left:20px; transition:all 400ms ease; margin-left:auto; margin-right:auto; }
.kk-loginbox .kk-auth-btn { margin-bottom:15px; display:block; height:40px; border-radius:0px; text-align: center; color:#fff; font-size:16px; line-height:40px; background-color:#ffa548; }
.kk-loginbox .kk-reauth-btn { margin-bottom:15px; display:block; height:40px; border-radius:0px; text-align: center; color:#fff; font-size:16px; line-height:40px; background-color:#666; }
.kk-loginbox .step_1 { display:block; }
.kk-loginbox .step_2 { display:none; }

.kk-page-wrap .kk-content .kk-week { display:flex; padding:0 0 10px 0; flex-direction:row; margin-top:20px; margin-bottom:20px; margin-left:10px; margin-right:10px; }
.kk-page-wrap .kk-content .kk-week .kk-day { display:block; width:20%; height:55px; text-align:center; border: 1px solid #eee; background-color:#eee;  }
.kk-page-wrap .kk-content .kk-week .kk-day .kk-label { display:block; height:30px; line-height:30px; font-size: 16px;  font-weight: bold; color:#999; }
.kk-page-wrap .kk-content .kk-week .kk-day .kk-weekday { display:block; height:20px; font-size: 12px; font-weight:normal; color:#999;  }

.kk-page-wrap .kk-content .kk-week .kk-day.kk-active { background-color:#2980b9; color:#fff;  }
.kk-page-wrap .kk-content .kk-week .kk-day.kk-active .kk-label { color:#fff; } 
.kk-page-wrap .kk-content .kk-week .kk-day.kk-active .kk-weekday { color:#fff; } 

.kk-page-wrap .kk-content .kk-branch-title { position: relative; height:50px; padding-left:10px; padding-right:10px; line-height:50px; font-size:16px; font-weight:bold; margin-top:30px; margin-bottom:20px; margin-left:11px; margin-right:11px; border:1px solid #2980b9; color:#2980b9;  }

.kk-page-wrap .kk-content .kk-class-list { position:relative; display: block; border-bottom: 1px solid #ddd;}
.kk-page-wrap .kk-content .kk-class-list .kk-class { position:relative; display: block; border-top: 1px solid #ddd; padding-bottom:10px; border-radius:0px; margin-left:10px; margin-right:10px; }

.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-branch { position:relative; width:calc(100% - 100px); line-height:25px; font-size:18px; font-weight:bold; margin-top:10px; margin-left:10px; color:#2980b9;  }

.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-time { position:relative; width:calc(100% - 100px); line-height:25px; font-size:14px; font-weight:bold; margin-top:10px; margin-left:10px; color:#2980b9;  }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-title { position:relative; width:calc(100% - 100px); line-height:25px; font-size:14px; font-weight: bold; color:#333; margin-left:10px; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-summary { position:relative; width:calc(100% - 100px); line-height:25px; font-size:14px; font-weight: normal; color:#333; margin-left:10px; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-possible { position:relative; width:calc(100% - 100px); line-height:25px; font-size:14px; color:#333; margin-left:10px;  }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-possible strong {  color:#2980b9; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-btn { position: absolute; top:10px; right:0px; width:80px; height:50px; margin-top:0px; line-height:50px; text-align:center; font-size:12px; color:#333; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-btn a { display:block; height:30px;width:65px; line-height:30px; border-radius:15px;  background-color:#2980b9; color:#fff; }

.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-combobox { position:absolute; top:5px; right:10px; display:block; height:40px; width:40px; line-height:40px; border-radius:20px;  background-color:#999; color:#000; text-align:center; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-combobox-wrap { position:absolute; top:0;left:0;right:0;bottom:0; display:none; background-color:rgba(0,0,0,0.5); }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-combobox-wrap .kk-tt-combobox-btn { display:block; position:absolute; height:40px; width:40px; line-height:40px; border-radius:20px; text-align:center;}
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-combobox-wrap .kk-book-cancel  { top:5px; right:110px;width:80px;  background-color:#d80027; color:#fff; }
.kk-page-wrap .kk-content .kk-class-list .kk-class > .kk-combobox-wrap .kk-book-ok  { top:5px; right:10px;width:80px;  background-color:#999999; color:#fff; }


.kk-page-wrap .kk-content .kk-class-list .kk-disable { background-color: #eee;}
.kk-page-wrap .kk-content .kk-class-list .kk-disable > .kk-title { color:#999; }
.kk-page-wrap .kk-content .kk-class-list .kk-disable > .kk-time { color:#999; }
.kk-page-wrap .kk-content .kk-class-list .kk-disable > .kk-possible { color:#999; }
.kk-page-wrap .kk-content .kk-class-list .kk-disable > .kk-btn a { display:none; }
.kk-page-wrap .kk-content .kk-class-list .kk-confirmed > .kk-btn a { display:block; background-color:#3b5998; color:#fff;  }


.ui-dialog { z-index:9999999 !important; top:0 !important; left:0 !important; right:0 !important; bottom:0 !important; width:100% !important; border:none !important; border-radius:0 !important; }


.ui-dialog .ui-dialog-titlebar { height:60px; padding:0 !important; z-index:1000000;  }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { width:60px; height:60px; text-align: center; line-height:60px; right: 0 !important; color:#fff; top:0; margin-top:0;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { height:60px; line-height:60px; color:#fff; margin-top:0; padding-left:20px; font-size: 20px;}

.ui-dialog .ui-dialog-content { position: absolute !important; top:100px; left:0; right:0; bottom:0; background-color: transparent !important; background-image: none !important;}
.ui-dialog .ui-dialog-content .kk-list-branch { position:relative; display: block; height:50px; border: 1px solid #fff; margin-bottom:10px; border-radius:5px; margin-left:10px; margin-right:10px; }
.ui-dialog .ui-dialog-content .kk-list-branch > .kk-title { position: absolute; top:0; left:20px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#fff; }
.ui-dialog .ui-dialog-content .kk-list-branch > .kk-action { position: absolute; top:50%; right:10px; width:30px; height:30px; margin-top:-15px; line-height:30px; text-align:center; font-size:20px; color:#fff; }


.ui-widget-content {  background-color: transparent !important; background-image: none !important; }

.embed-container { position: absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); }
.ui-widget-overlay { background-color: rgba(0, 0, 0, 0.85) !important; background-image: none !important;  opacity:1; position: fixed; top: 0; left: 0; right:0; bottom:0;width: 100%;  height: 100%; }

.kk-page-wrap .kk-content .kk-evaluation-list { position:relative; display: block;}
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation { position:relative; display: block; height:50px; border: 0px solid #a5a5a5; margin-top:5px; margin-bottom:10px; border-radius:5px; background-color:#fafafa; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); margin-left:5px; margin-right:5px;  }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-rangking { position: absolute; top:0; left:20px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#333; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-user-name { position: absolute; top:50%; left:50px; width:80px; height:30px; margin-top:-15px; line-height:30px; font-size:14px; color:#333;  }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-round { position: absolute; top:0; left:150px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#333; }

.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox { position:absolute; top:5px; right:10px; display:block; height:40px; width:40px; line-height:40px; border-radius:20px;  background-color:#999; color:#000; text-align:center; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-upper  { background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-middle { background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-lower  { background-color:#d80027; color:#fff; }



.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap { position:absolute; top:0;left:0;right:0;bottom:0; display:none; background-color:#ddd; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-combobox-btn { display:block; position:absolute; height:40px; width:40px; line-height:40px; border-radius:20px; text-align:center;}
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-upper  { top:5px; left:10px; background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-middle { top:5px; left:60px; background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-lower  { top:5px; left:110px; background-color:#d80027; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-cancel  { top:5px; right:10px; background-color:#999999; color:#fff; }


.kk-popup { position: absolute; top:50%; transform: translateY(-50%); height:200px; width:100%; }
.kk-popup .kk-title { padding:20px; text-align: center; line-height:40px;	font-size:30px; color:#666; }
.kk-popup .kk-subtitle {text-align: center; font-size:20px; color:#ccc; line-height:25px; }
/*
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking { position:relative; display: block; height:41px; border: 0px solid #a5a5a5; margin-top:5px; margin-bottom:10px; border-radius:5px; background-color:#fafafa; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); margin-left:5px; margin-right:5px; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-name { position: absolute; top:0; left:20px; height:50px; line-height:50px; font-size:16px; font-weight:bold; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round { position: absolute; top:0; left:100px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round .kk-highlight { color:#ff901e; font-size:16px;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-no { position: absolute; top:5px; right:10px; width:40px; height:40px; line-height:40px; text-align:center; font-size:14px; color:#333; border-radius:20px; background-color:#fff; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-attendance { position: absolute; top:0; right:10px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#666; text-align:right;  }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-branch { position: absolute; top:0; left:50vw; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#666; }
*/
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox { position:absolute; top:5px; right:10px; display:block; height:40px; width:40px; line-height:40px; border-radius:20px;  background-color:#999; color:#000; text-align:center; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-upper  { background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-middle { background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox.kk-eval-lower  { background-color:#d80027; color:#fff; }

.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap { position:absolute; top:0;left:0;right:0;bottom:0; display:none; background-color:#ddd; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-combobox-btn { display:block; position:absolute; height:40px; width:40px; line-height:40px; border-radius:20px; text-align:center;}
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-upper  { top:5px; left:10px; background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-middle { top:5px; left:60px; background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-lower  { top:5px; left:110px; background-color:#d80027; color:#fff; }
.kk-page-wrap .kk-content .kk-evaluation-list .kk-evaluation > .kk-combobox-wrap .kk-eval-cancel  { top:5px; right:10px; background-color:#999999; color:#fff; }



/*
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking { position:relative; display: block; height:50px; border: 0px solid #a5a5a5; margin-top:5px; margin-bottom:10px; border-radius:5px; background-color:#fafafa; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); margin-left:5px; margin-right:5px; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-name { position: absolute; top:0; left:20px; height:50px; line-height:50px; font-size:16px; font-weight:bold; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-round { position: absolute; top:0; left:90px; height:50px; line-height:50px; font-size:14px; font-weight:normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-round .kk-highlight { color:#ff901e; font-size:16px;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-no { position: absolute; top:5px; right:10px; width:40px; height:40px; line-height:40px; text-align:center; font-size:14px; color:#333; border-radius:20px; background-color:#fff; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); }
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-attendance { position: absolute; top:0; right:10px; height:50px; line-height:50px; font-size:14px; font-weight: normal; color:#666; text-align:right;  }
.kk-page-wrap .kk-content .kk-ranking-list .kk-myRanking > .kk-ranking-branch { position: absolute; top:0; right:20px; height:50px; line-height:50px; font-size:12px; font-weight: normal; color:#666; }
*/


/*
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-no { position: absolute; top:0.35vh; left:1.5vh; width:3.8vh; height:3.8vh; line-height:3.8vh; text-align:center; font-size:1.5vh; color:#333; border-radius:1.9vh; background-color:#fff; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-name { position: absolute; top:0; left:50px; height:4.5vh; line-height:4.5vh; font-size:2vh; font-weight:bold; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round { position: absolute; top:0; left:100px; height:4.5vh; line-height:4.5vh; font-size:2vh; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round .kk-highlight { color:#ff901e; font-size:2.5vh;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-branch { position: absolute; top:0; left:30.5vh; height:4.5vh; line-height:4.5vh; font-size:1.5vh; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-attendance { position: absolute; top:0; right:1.5vh; height:4.5vh; line-height:4.5vh; font-size:2vh; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation { display:block; position:absolute;top:0.45vh; right:1.5vh; height:3.8vh; width:3.8vh; line-height:3.8vh; border-radius:1.9vh; font-size:1.5vh; text-align:center;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-upper  { background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-middle { background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-lower  { background-color:#d80027; color:#fff; }
*/


.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking { position:relative; display: block; height:45px;  border: 0px solid #fafafa; margin-top:5px; margin-bottom:10px; border-radius:5px; background-color:#fafafa; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); margin-left:5px; margin-right:5px; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-name { position: absolute; top:0; left:55px; height:45px; line-height:45px; font-size:14px; font-weight:bold; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round { position: absolute; top:0; left:110px; height:45px; line-height:45px; font-size:14px; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-round .kk-highlight { color:#ff901e; font-size:16px;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-no { position: absolute; top:5px; left:5px; width:35px; height:35px; line-height:35px; text-align:center; font-size:14px; color:#333; border-radius:17px; background-color:#fff; box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1); }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-attendance { position: absolute; top:0; right:10px; height:45px; line-height:45px; font-size:14px; font-weight: normal; color:#666; text-align:right;  }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-ranking-branch { position: absolute; top:0; left:210px; height:45px; line-height:45px; font-size:14px; font-weight: normal; color:#666; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation { display:block; position:absolute;top:5px; right:5px; height:35px; width:35px; line-height:35px; border-radius:17px; font-size:14px; text-align:center;}
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-upper  { background-color:#91cc04; color:#fff; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-middle { background-color:#ffda44; color:#fff; }
.kk-page-wrap .kk-content .kk-ranking-list .kk-ranking > .kk-evaluation.kk-eval-lower  { background-color:#d80027; color:#fff; }
