* {font-size:12px; margin:0; padding:0; font-family:Arial,sans-serif;}
html, body {}
body {padding:0; margin:0;  background:#fff; }
.iconsweet{font-family:iconSweets;font-weight:normal}

form {padding:0; margin:0px; }
ul {padding:0; margin:0px;list-style: none; }
img { border: none;	}

a, area, { behavior:expression(this.hideFocus=true); }
a:active, a:focus, area:active, area:focus { outline:none; }

a:link { text-decoration: none; cursor: pointer; }
a:visited { text-decoration: none; cursor: pointer;}
a:hover, a:active, a:focus {text-decoration: none; cursor: pointer;}


h1,h2,h3,h4,h5,h6 {font-weight:bold; color:#000; padding: 0px; margin: 0px;}
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.8em; }
h5 { font-size: 0.75em; }
h6 { font-size: 0.75em; }

.left  { float:left; }
.right { float:right; }
.clear { clear:both; height:0; overflow:hidden; }
.container{ position: relative; margin:0; padding:0; }
.contents { position: relative; width:1000px; margin:0; clear:both; padding-top:0px; padding-bottom:0px; }
.left_menu { position:fixed; top:50px; left:0; height:100%; width:200px; padding:10px 0px; overflow:hidden; border:none; border-right:none; background-color:#292A2F;}
.main_box { margin-top:50px; margin-left:240px!important; padding:25px 0px; width:700px; }


/* titleBar */
	.titleBar {  margin-bottom:20px;}
	.titleBar {_height:1%;}
	*:first-child+html .titleBar {height:1%;}
	.titleBar:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

	.titleBar .subject { float:left; }
	.titleBar .subject h1 { margin:0; font-size:25px; font-weight:normal; color:#666; letter-spacing:-2px;}
	.titleBar .subject i{ color:#666; font-size:30px; margin-right:10px; }
	.titleBar .action { float:right; }

/* button */
	.button    { cursor:pointer; padding:3px; }
	.button_s  { cursor:pointer; position:relative; padding: 0 5px; height:20px; line-height:20px; line-height:24px\9; display:inline-block; }
	.button_ss { cursor:pointer; position:relative; padding: 0 3px; height:18px; line-height:18px; line-height:20px\9; display:inline-block; }
	.button_m  { cursor:pointer; position:relative; padding: 0 10px; height:24px; line-height:24px; line-height:28px\9; display:inline-block; }
	.button_l  { cursor:pointer; position:relative; padding: 0 12px; height:28px; line-height:28px; line-height:32px\9; display:inline-block; }
	.button_xl { cursor:pointer; position:relative; padding: 0 15px; height:32px; line-height:32px; line-height:35px\9; display:inline-block; }

	.ui_button    { cursor:pointer; padding:3px; }
	.ui_button_s  { cursor:pointer; position:relative; padding: 0 5px 0 3px; height:20px; line-height:20px; line-height:24px\9; display:inline-block; }
	.ui_button_ss { cursor:pointer; position:relative; padding: 0 3px 0 2px; height:18px; line-height:18px; line-height:20px\9; display:inline-block; }
	.ui_button_m  { cursor:pointer; position:relative; padding: 0 10px 0 5px; height:24px; line-height:24px; line-height:28px\9; display:inline-block; }
	.ui_button_l  { cursor:pointer; position:relative; padding: 0 12px 0 6px; height:28px; line-height:28px; line-height:32px\9; display:inline-block; }
	.ui_button_xl { cursor:pointer; position:relative; padding: 0 15px 0 8px; height:32px; line-height:32px; line-height:35px\9; display:inline-block; }

/* adminHeader */
	.adminHeader { position:fixed; top:0; left:0; width:100%; min-width:1000px; height:50px; margin:0; padding:0; background-color:#292A2F; z-index:100;}
	.adminHeader .logo_admin { position:absolute; top:10px; left:10px; width:180px; height:35px; margin:0; display:block; background: url(../images/logo.png) no-repeat left 50%; font-size:0;  text-indent: -99999px;}


	.adminHeader .storage { position:absolute; top:5px; right:10px; width:200px; height:40px; }
	.adminHeader .storage .subject { position:absolute; top:5px; left:15px;  color:#eee; }
	.adminHeader .storage .useStorage { position:absolute; top:20px; right:20px; color:#eee; font-size:11px;}

	.adminHeader .storage .progressbar{ position:absolute; top:10px; left:50px; width:130px; height:5px; background-color:#E4E4E4; border-radius:0px;}
	.adminHeader .storage .ui-progressbar .ui-progressbar-value { background-color:#517BAC; margin:0;border-radius:0px; }




/* adminNavigation */
    ul.adminNavigation { list-style: none; padding:0px; margin:30px 0 0 0; width:100%; overflow:hidden; }
    ul.adminNavigation li { padding:0; margin:0px 0 0 0; clear:both;}
    ul.adminNavigation li a { color:#fff; display:block; font-size:12px; padding-left:15px; line-height:40px; cursor:pointer; font-weight:bold; background-color:#292A2F; }
    ul.adminNavigation li i { color:#fff; font-size:14px; margin-right:5px; }

    ul.adminNavigation li ul { margin:0; padding:0; list-style: none; clear:both; width:100%; }
    ul.adminNavigation li ul li { padding:0; margin:0; clear:both; text-align:left; font-size:12px; }
    ul.adminNavigation li ul li a { color:#eee; display:block; cursor: pointer;  font-size:12px; font-weight:normal; padding-left:25px; line-height:35px; border-top:none; border-bottom:none; background-color:#3D3E43; border-left:5px solid #3D3E43; border-bottom:1px solid #292A2F; }

	ul.adminNavigation li ul li i { color:#eee;  font-size:14px; margin-right:3px; }

	ul.adminNavigation li ul li a.selected{ color:#fff;  background:#3D3E43 url(../images/selectArrow.png) no-repeat right 50%;  background-color: #666;
    background-image: linear-gradient(center top , #333333 0%, #3F3F3F 100%); }

    ul.adminNavigation li a:hover { color:#fff; background-color:#333;  }
    ul.adminNavigation li ul li a:hover { color:#eee; background-color:#666;  }

/* form */

    ul.form { list-style: none; }
    ul.form > li { clear:both; display:block; margin:0; padding:3px 5px; }

    ul.form li {_height:1%;}
    *:first-child+html ul.form li {height:1%;}
    ul.form li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    ul.form li label.desc { float:left; width:50px; text-align:right; border:medium none; color:#666; display:block; font-weight:normal; line-height:200%; margin:0 10px 0 0; padding:0 0 1px; font-size:12px;  }
    ul.form li label.desc2 { float:left; width:80px; text-align:right; border:medium none; color:#666; display:block; font-weight:normal; line-height:200%; margin:0 10px 0 0; padding:0 0 1px; font-size:12px; }
    ul.form li label.desc3 { float:left; width:120px; text-align:right; border:medium none; color:#666; display:block; font-weight:normal; line-height:200%; margin:0 10px 0 0; padding:0 0 1px; font-size:12px; }

    ul.form li input.large, ul.form li select.large, ul.form li textarea.large { width:97% !important; }
    ul.form li input.text, ul.form li input.search, ul.form li textarea.textarea, ul.form li select.select { float:left; border-color:#7C7C7C #C3C3C3 #DDDDDD; border-style:solid; border-width:1px;}
    ul.form li input.text, ul.form li input.search, ul.form li input.file, ul.form li textarea.textarea { color:#333333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:12px; margin:0 5px 0 0; padding:3px 1px; }
    ul.form li select.select { color:#333333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:12px; margin:0;  padding:2px 1px; }
    ul.form li input.checkbox, form li input.radio { display:inline-block; height:13px; margin:3px 0 0; padding:0; width:13px; }

    ul.form li div.value { float:left; border:medium none; color:#999; display:block; font-size:12px; font-weight:normal; line-height:200%; margin:0 10px 0 0; padding:0 0 1px;  }

    ul.form li .mini   { width:36px !important; }
    ul.form li .small  { width:50px !important; }

    ul.form li .date   { width:80px !important; }
    ul.form li .small  { width:120px !important; }
    ul.form li .normal { width:180px !important; }
    ul.form li .medium { width:250px !important; }
    ul.form li .large  { width:350px !important; }

    ul.form li span.req { display:inline-block;color:red; line-height:150%; margin-right:5px; }
    ul.form li span.help { color:#999; float:left; font-weight:normal; margin: 3px 10px 0 10px; padding:0; font-size:12px; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.help2 { color:#999; font-weight:normal; margin: 3px 10px 0 0px; padding:0; font-size:12px; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.help3 { clear:both; color:#999; font-weight:normal; margin: 3px 10px 0 90px; padding:0; font-size:12px; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.dot { color:#999; float:left; font-weight:normal; margin: 3px 5px 0 5px; padding:0; font-size:12px; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.txt { color:#999; float:left; font-weight:normal; margin: 3px 0px 0 0px; padding:0; font-size:12px; font-weight:normal; line-height:150%; display:block; }

    ul.form li span.subTitle { color:#999; float:left; font-weight:bold; margin: 15px 0px 0 15px; padding:0; font-size:16px; color:#000; line-height:150%; display:block; }


    ul.form li button { float:left; }
    ul.form li .btn { float:left; margin-left:10px; }
    ul.form li .btn_s { float:left; margin-left:5px; }


    ul.form li .send { float:left;   }
    ul.form li .adddate { float:right; color:#999; margin-right:15px;  }
    ul.form li .contentArea { font-size:12px; line-height:160%; border:1px solid #ccc; background:#fff7c0; padding: 5px; width:400px; height:150px; overflow-y:auto; }

/* media */
    ul.media { position:relative; display:block;  list-style:none; margin:0; padding:0 0 0 0px;}
    ul.media .item {position:relative; height:110px;  margin:0px 0 5px 0; border:1px solid #ddd; border-radius:5px;}
    ul.media .item:hover {background-color:#eee; }

    ul.media .disabled {background-color:#eee; }

	ul.media .item .thumb { position:absolute; top:5px; left:5px; margin:0; text-align:center;  }
	ul.media .item .thumb a{ display:block; position:relative; width:150px;  height:100px; background-repeat:no-repeat; background-position:50% 50%;  margin:0; padding:0; text-align:center; background-color:#000; overflow:hidden; }
	ul.media .item .thumb img { width:150px;  height:100px; }
	ul.media .item .thumb .play { position:absolute; top:50%; left:50%; margin-top:-16.5px; margin-left:-16.5px; width:33px; height:33px; background:url(../images/play_small.png) no-repeat left top; }

	ul.media .item .info { position:absolute; top:30px; left:170px; overflow:hidden;}
	ul.media .item .info .title { width:300px; margin-top:0px; color:#666; font-size:14px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
	ul.media .item .info .title a{ margin-top:0px; font-weight:bold; color:#333; font-size:14px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }

	ul.media .item .info .summary { position:relative; margin-top:5px;  font-size:12px; color:#666; text-overflow:ellipsis; overflow:hidden; }
	ul.media .item .info .meta { width:120px; margin-top:5px; font-size:12px;}
    ul.media .item .info .meta span.hit   { display:inline-block; background:url(../images/iconHit.png) no-repeat left 50%; padding-left:15px; font-size:12px; color:#989898; text-overflow:ellipsis; overflow:hidden; letter-spacing:-1px;}
    ul.media .item .info .meta span.scrap { display:inline-block; background:url(../images/iconScrap.png) no-repeat left 50%; padding-left:15px; font-size:12px; color:#989898; text-overflow:ellipsis; overflow:hidden; letter-spacing:-1px;}
    ul.media .item .info .meta span.good  { margin-left:10px; display:inline-block; background:url(../images/iconGood.png) no-repeat left 50%; padding-left:15px; font-size:12px; color:#989898; text-overflow:ellipsis; overflow:hidden; letter-spacing:-1px;}

	ul.media .item .category { position:absolute; top:0px; left:170px; overflow:hidden; font-size:12px; padding:3px 5px; background-color:#ddd; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #ddd;}


    ul.media .item .status { position:absolute; top:5px; right:5px; display:block; margin-top:5px;}
	ul.media .item .status .src { padding:1px 5px; margin-right:5px; border:1px solid #333; display:inline-block; color:#666; border-radius:3px;  }
	ul.media .item .status .empty { padding:1px 5px; margin-right:5px; border:1px solid #ddd; display:inline-block; color:#ccc; border-radius:3px; }

	ul.media .item .info .speaker { width:120px; margin-top:8px; text-overflow:ellipsis; overflow:hidden; font-size:12px; color:#6666; }
	ul.media .item .is_open { position:absolute; top:40px; right:10px; color:#ff0000; font-weight:bold;}
	ul.media .item .action { position:absolute; bottom:15px; right:10px;  }

    #file_box { position:relative;}
        #loading { position:absolute; top:0px; left:0px; background-color:#000; background-color:rgba(0,0,0,.7); filter: alpha(opacity:'70'); z-index:10003 !important; display:none; width:100%; height:100%;}
        #loading img { position:absolute; top:50%; left:50%; margin:-16px 0 0 -16px; width:32px; height:32px; border:none;  }

    .mediaFilter { position:relative; margin-top:40px; margin-bottom:40px;}
    .mediaFilter {_height:1%;}
    *:first-child+html .mediaFilter {height:1%;}
    .mediaFilter:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .mediaFilter ul {}

    .mediaFilter ul li { float:left; width:250px;}
    .mediaFilter ul li h1 { font-size:16px; color:#898989; margin-bottom:10px; }
    .mediaFilter ul li a { font-size:12px; color:#898989; display:inline-block; margin:5px 5px 0 0; }
    .mediaFilter ul li a:hover { color:#666; }

    .mediaFilter ul li .mnotice { margin:0 auto 0 auto; width:140px; }
    .mediaFilter ul li .mnotice .mnoticeTitle{margin-bottom:5px; width:100px; height:20px; background: url(../images/mediaBottomTitle_1.png) no-repeat left top;  }
    .mediaFilter ul li .bible { margin:0 0 0 15px; text-align:justify; width:220px;}
    .mediaFilter ul li .bible .bibleTitle_1{margin-bottom:5px; width:100px; height:20px; background: url(../images/mediaBottomTitle_2.png) no-repeat left top;  }
    .mediaFilter ul li .bible .bibleTitle_2{margin-bottom:5px; width:100px; height:20px; background: url(../images/mediaBottomTitle_3.png) no-repeat left top;  }
    .mediaFilter ul li .bible a { font-size:11px; color:#898989; display:inline-block; margin:5px 0 0 0; font-family:dotum; letter-spacing:-100%; }
    .mediaFilter ul li .vision { margin:0 0 0 15px;  width:220px; }
    .mediaFilter ul li .vision .visionTitle{margin-bottom:5px; width:100px; height:20px; background: url(../images/mediaBottomTitle_4.png) no-repeat left top;  }

    .mediaFileBox { list-style: none; border:none; margin:0px; padding:0px; }
    .mediaFileBox li { margin:5px 0px; padding:10px 5px; border:1px solid #ccc; border-radius:3px; }
    .mediaFileBox li {_height:1%;}
    *:first-child+html .mediaFileBox li {height:1%;}
    .mediaFileBox li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    .mediaFileBox li.active { background-color:#dfeffc; }
    .mediaFileBox li.empty { }
    .mediaFileBox li .pic { float:left; margin:0px 5px; width:100px;}
    .mediaFileBox li .pic img { border: 1px solid #e5e5e5; width:100px;}
    .mediaFileBox li .Top { margin: 0 0 5px 10px; font-weight:bold; color:#000; }
	.mediaFileBox li .Top .info { font-weight:normal; color:#999; }
    .mediaFileBox li .title { float:left; margin-left:10px; color:#666; }
    .mediaFileBox li .title a { color:#666; }
    .mediaFileBox li .action { float:right; margin-right:10px; text-align:right; }
    .mediaFileBox li .action a { margin-top:10px; }

/* channel */
	ul.channel {position:relative; margin:0; padding:0 0;}
	ul.channel li {position:relative; height:40px; margin:0 0px 5px 0; padding:0 0; overflow:hidden; border: 1px solid #ddd; background:#fff; border-radius:5px; }
	ul.channel li {_height:1%;}
    *:first-child+html 	ul.channel li {height:1%;}
	ul.channel li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

	ul.channel li .info { position:absolute; top:10px; left:10px;}
	ul.channel li .info .title { width:300px; margin-top:0px; color:#666; font-size:14px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
	ul.channel li .info .title i{color:#666; font-size:18px; margin-right:5px; }

	ul.channel li .info .title a{ margin-top:0px; font-weight:bold; color:#666; font-size:14px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	ul.channel li .action { position:absolute; top:10px; right:5px; display:block; }
	ul.channel li:hover {background-color:#eee; }

/* podcast */
	ul.podcast li{  padding:5px; margin-bottom:10px; border:1px solid #ddd; background:#fff; border-radius:5px; }
	ul.podcast li:first-child { }
	ul.podcast li{_height:1%;}
	*:first-child+html ul.podcast li{height:1%;}
	ul.podcast li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

	ul.podcast li .thumb { float:left; margin: 0px; width:80px; height:80px; text-align:center; background:url(../images/podcast_s.png) repeat-x scroll left top; }
	ul.podcast li .info { float:left; margin-left:10px; width:500px; overflow:hidden;}
	ul.podcast li .info .title { margin-top:0px; font-size:14px; font-weight:bold; color:#333; }
	ul.podcast li .info .title a{ margin-top:5px; font-size:14px; font-weight:bold; }
	ul.podcast li .info .owner { margin-top:5px; font-size:12px; color:#999;  }
	ul.podcast li .info .summary { margin-top:5px; font-size:12px; color:#999;  }
	ul.podcast li .info .link { margin-top:5px; color:#666; }
	ul.podcast li .info .link a{ color:#666; }
	ul.podcast li .action { float:right; margin:5px; }

/* slide */
	ul.slide li{ position:relative; height:110px;  margin:0px 0 5px 0; border:1px solid #ddd; border-radius:5px;}
	ul.slide li:first-child { }
	ul.slide li{_height:1%;}
	*:first-child+html ul.slide li{height:1%;}
	ul.slide li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    ul.slide li.disabled {background-color:#eee; }
	ul.slide li .thumb {position:absolute; top:5px; left:5px; margin:0; width:250px; height:100px; overflow:hidden; text-align:center; background-color:#000; }
	ul.slide li .thumb img { height:100px; }
	ul.slide li .pdf { float:left; margin: 0px; width:100px; text-align:center; }
	ul.slide li .pdf img { width:100px; }
	ul.slide li .info { position:absolute; top:10px; left:270px; overflow:hidden;}
	ul.slide li .info .title { margin-top:0px; font-size:14px; font-weight:bold; color:#333; }
	ul.slide li .info .title a{ margin-top:5px; font-size:14px; font-weight:bold; }
	ul.slide li .info .summary { margin-top:5px; font-size:12px; color:#999; width:700px; }
	ul.slide li .info .link { margin-top:5px; }
	ul.slide li .action { position:absolute; bottom:10px; right:5px; }
	ul.slide li .is_open { position:absolute; top:10px; right:20px; color:#ff0000; font-weight:bold;}

/* attachBox */
    .attachBox { padding:0 0px 20px 0px; margin:0; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;}
    .attachBox {_height:1%;}
    *:first-child+html .attachBox {height:1%;}
    .attachBox:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .attachBox .file { position:relative; float:left; width:120px; height:130px; margin: 10px 10px 0px 0px; overflow:hidden; background-color:#fff; border-radius:3px; border:1px solid #ddd; background-color:#eee;}
    .attachBox .end { margin: 10px 0px 0px 0px; }
        .attachBox .file .thumb { margin:5px; width:110px; height:80px; text-align:center; background:#fff url(../images/defaultImg.png) no-repeat 50% 50%;  overflow:hidden;}
        .attachBox .file .thumb img {  margin:0px; }

        .attachBox .file .fbox { margin:5px; width:130px; height:100px; text-align:center; background:#fff url(../images/defaultImg.png) no-repeat 50% 50%;  overflow:hidden;}
        .attachBox .file .pdf{ background:#fff url(../images/icon_view_pdf.gif) no-repeat 50% 50%; }
        .attachBox .file .etc{ background:#fff url(../images/icon_view_etc.gif) no-repeat 50% 50%; }
        .attachBox .file .doc{ background:#fff url(../images/icon_view_doc.gif) no-repeat 50% 50%; }
        .attachBox .file .hwp{ background:#fff url(../images/icon_view_hwp.gif) no-repeat 50% 50%; }
        .attachBox .file .ppt{ background:#fff url(../images/icon_view_ppt.gif) no-repeat 50% 50%; }
        .attachBox .file .xls{ background:#fff url(../images/icon_view_xls.gif) no-repeat 50% 50%; }

        .attachBox .file .info { margin-left:10px; overflow:hidden;}
        .attachBox .file .info .title { width:100px; margin-top:0px; font-size:14px; font-weight:bold; color:#333;  text-overflow:ellipsis; overflow:hidden;}
        .attachBox .file .info .title a{ margin-top:5px; font-size:14px; font-weight:bold; }
        .attachBox .file .info .summary { width:100px; margin-top:5px; font-size:12px; color:#999;  text-overflow:ellipsis; overflow:hidden;}
        .attachBox .file .info .speaker { width:100px; margin-top:5px;  text-overflow:ellipsis; overflow:hidden;}

        .attachBox .file .filename { position:absolute; bottom:25px; left:50%; width:130px; margin-left:-65px; font-size:12px; color:#666; text-overflow:ellipsis; overflow:hidden;  white-space:nowrap;}
        .attachBox .file .size { position:absolute; bottom:25px; left:50%; width:100px; margin-left:-50px; text-align:center; color:#999;}
        .attachBox .file .action { position:absolute; bottom:5px; left:50%; width:100px; margin-left:-50px; text-align:center;}
        .attachBox .file .action a { margin:0;}

        .attachBox .file .fileThumb { margin:5px; width:130px; height:100px; text-align:center; background:#fff url(../images/defaultImg.png) no-repeat 50% 50%;  overflow:hidden;}

/* cafe */
    .cafe .list { list-style:none; margin-bottom:5px; }

    .cafe .list li { position:relative; border-bottom:1px solid #ddd; margin:0 0 5px 0; padding:5px 0; height:100px; border:1px solid #ddd; border-radius:5px;}
    .cafe .list li.disabled{ background-color:#ddd;}

    .cafe .list li .thumb { position:absolute; top:5px; left:5px; margin:0; text-align:center; width:100px; height:100px; margin:0px; border:1px solid #ddd; background-color:#eee; }
    .cafe .list li .thumb a { width:90px; height:90px; text-align:center; margin: 5px 0 0 5px; background-repeat:no-repeat; background-position:50% 0px; display:block; overflow:hidden;}
	.cafe .list li .thumb a img {display:inline-block; }

    .cafe .list li .detail { position:absolute; top:5px; left:120px; width:450px; margin-left:5px;}
    .cafe .list li .detail .title { color:#1D92CA; line-height:150%; font-weight:bold; }
    .cafe .list li .detail .title a{ color:#1D92CA;}

    .cafe .list li .detail .comment { color:#999; line-height:150%; font-weight:normal;  margin-left:5px;}
    .cafe .list li .detail .summary { margin-top:5px; color:#666; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    .cafe .list li .detail .summary a{ color:#666; line-height:150%; margin-top:5px; }
    .cafe .list li .detail .meta { margin-top:5px;  }
    .cafe .list li .detail .meta .bar { margin:0 10px; color:#999; }
    .cafe .list li .detail .meta .category { color:#666; font-weight:normal; }
    .cafe .list li .detail .meta .date { color:#999; font-weight:normal; }

    .cafe .list li .action { float:right; margin:5px; }
	.cafe .list li .is_open { text-align:right; color:#ff0000; font-weight:bold; padding:0 0 10px 0;}


    .cafe table.boardList { width:100%;  border-collapse: collapse;}
    .cafe table.boardList thead tr{ background-color:#eee; padding:15px 0 15px 0; height:30px; }
    .cafe table.boardList tbody  tr{ background-color:#fff; border-bottom:1px solid #eee;}
    .cafe table.boardList tbody  tr.ord{ background-color:#fafafa; }
    .cafe table.boardList tbody  tr:hover{ background-color:#f8fcf2;}
    .cafe table.boardList tbody  tr.gonggi{ background-color:#F8FCF2; border-bottom:1px solid #eee;}
    .cafe table.boardList thead th { }
    .cafe table.boardList thead th.no     { height:25px; border-right:none; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList thead th.title  { height:25px; border-right:2px solid #fff; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList thead th.writer { height:25px; border-right:2px solid #fff; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList thead th.date   { height:25px; border-right:2px solid #fff; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList thead th.hit    { height:25px; border-right:2px solid #fff; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList thead th.good   { height:25px; border-right:none; color:#666; font-size:12px; line-height:25px; text-align:center; }
    .cafe table.boardList tbody td { height:35px; line-height:35px; font-size:12px; }
    .cafe table.boardList tbody td.title { padding-left:15px; margin-top:5px; }
    .cafe table.boardList tbody td.title a { color:#333; display:inline-block;  }
    .cafe table.boardList tbody td.title a:hover { color:#000; display:inline-block; text-decoration: underline;  }
    .cafe table.boardList tbody td.title span.files { color:#ed6c1f; display:inline-block; width:16px; height:16px; background:url(../images/thumb.png) no-repeat 50% 50%; }
    .cafe table.boardList tbody td.title span.comment { color:#ed6c1f; display:inline-block; font-size:10px; font-weight:bold;  }
	.cafe table.boardList tbody tr.gonggi td.title a { font-weight:bold; color:#ed6c1f; }
    .cafe table.boardList .no     { width:70px; text-align:center; font-size:11px; color:#333;}
	.cafe table.boardList .writer { width:100px; text-align:center; color:#666;}
    .cafe table.boardList .date   { width:82px; text-align:center; font-size:11px; color:#666; }
    .cafe table.boardList .hit    { width:78px; text-align:center; font-size:11px; color:#666; }
    .cafe table.boardList .good   { width:70px; text-align:center; font-size:11px; color:#666; }

    .cafe table.boardList .action { width:60px; text-align:center; }

    .cafe table.boardList tbody td i { font-size:14px; line-height:20px;}

    .cafe .view {  padding-top:0px; padding-bottom:0px; overflow:hidden; font-size:12px; border-top: 1px solid #dfdfdf;  border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;}
    .cafe .view .title { margin:0px; font-size:14px; background-color:#fafafa; font-weight:bold; line-height:20px; color:#666; padding:10px 10px 10px 15px; font-family:dotum; letter-spacing:-50%;}
    .cafe .view .title {_height:1%;}
    *:first-child+html .cafe .view .title {height:1%;}
    .cafe .view .title:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .cafe .view .title span { float:right; color:#B2B2B2; margin-left:10px; font-weight:normal; }

    .cafe .view .meta { color:#808080; margin:0; background-color:#eee; line-height:20px; padding:10px 0 10px 10px;}
    .cafe .view .meta {_height:1%;}
    *:first-child+html .cafe .view .meta {height:1%;}
    .cafe .view .meta:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .cafe .view .meta .authorBar { float:left; }
    .cafe .view .meta .countBar  { float:right; }

    .cafe .view .meta .authorBar .author  { display: inline-block; color:#3b3b3b; font-weight:bold; margin-left:5px; letter-spacing:-1px;}
    .cafe .view .meta .authorBar .other { display: inline-block; color:#fff; font-weight:normal; margin-left:8px; letter-spacing:-1px; background-color:#b79d43;padding:0 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
    .cafe .view .meta .authorBar .regdate  { display: inline-block; color:#999; font-weight:normal; margin-left:12px; letter-spacing:0px;}
    .cafe .view .meta .countBar .count   { display: inline-block; color:#808080; font-weight:normal; margin-right:10px; letter-spacing:-1px;}

    .cafe .article { padding:0px 5px; margin:0; line-height:160%; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;  overflow:hidden; }
    .cafe .article .url { text-align:right; margin:0 0 10px 0; padding:10px 0px; font-size:12px; color:#999; background-color:#fff; }
    .cafe .article .url a{ font-size:12px; color:#999; }
    .cafe .article .contentArea { margin:0 10px; line-height:160%; }



    .btn_box { margin-top: 20px; text-align:right;}

    .cafeButton { color:#6c6c6c; display:inline-block; border:solid 1px #cfcfcf; font-size:12px; margin-right:0px; height:2.28em; line-height:2.3em; background-color:#F0F0F0; background-image:-moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%); background-image:-webkit-linear-gradient(top,white 0,#E0E0E0 100%); background-image:linear-gradient(to bottom,white 0,#E0E0E0 100%); border-color:#CCCCCC #CCCCCC #AAAAAA; box-shadow:0 0 1px #FFFFFF inset; text-shadow:0 1px 0 #FFFFFF; border-radius:3px; padding:0px 15px; text-decoration:none; 	margin-bottom:5px; }



    .cafeButton:hover {
		color:#999; box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.08);
	}

    .cafeBlueButton {display:inline-block; border:1px solid #096bc0; font-weight:bold; font-size:12px; color:#fff; background-color:#75b7f1; padding:3px 5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; letter-spacing:-50%;}
    .cafeBlueButton:hover {border:1px solid #75b7f1;  color:#fff; background-color:#096bc0; }

    .cafeDisableButton {display:inline-block; border:1px solid #ddd; font-size:12px; color:#ccc; background-color:#eee; padding:3px 5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; letter-spacing:-50%;}

    .cafe .content { padding:20px 0px 20px 0px; line-height:150%; overflow:hidden; }






/* tree */
    .tree {position:relative; height:30px; margin:0 10px 0 0; padding:0 0; overflow:hidden; border-bottom: 1px solid #eee;}
    .tree.root {position:relative; height:30px; margin:0 10px 0 0; padding:0 0; overflow:hidden; border: 1px solid #ccc; background:#eee; }
    .tree .domain {position:absolute; top:5px; left:15px; text-overflow:ellipsis; overflow:hidden; margin-bottom:5px;}
    .tree .title { position:absolute; top:5px; left:5px; text-overflow:ellipsis; overflow:hidden; margin-bottom:5px; }
    .tree .title span { margin-left:10px; color:#999; }
    .tree .attendance { position:absolute; top:5px; right:200px; text-align:center; width:50px; }

    .tree .enabled { position:absolute; top:5px; right:250px; text-align:center; width:50px; }

    .tree .menu  { position:absolute; top:5px; right:5px; padding:0px; margin-bottom:5px; text-align:center;  }
    .tree .menu select { width:120px; }
    div.tree:hover {background-color:#FFF7C0; }


/* SearchBar */
    ul.searchbar { list-style: none; margin:20px 0px 10px 0px;}
    ul.searchbar li { list-style:none;display:block; margin:0 0 5px 0; padding:5px 0px; }
    ul.searchbar li {_height:1%;}
    *:first-child+html ul.searchbar li {height:1%;}
    ul.searchbar li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    ul.searchbar li label.desc { float:left; width:100px; text-align:right; display:block; border:medium none; color:#222222; display:block; font-size:1em; font-weight:normal; line-height:30px; margin:0; padding:0 0 1px; margin-right:15px; }

    form input.large, form select.large, form textarea.large { width:100% !important; }
    ul.searchbar li input.text, ul.searchbar li input.search, ul.searchbar li select.select { display:inline-block;  background:#ffffff url(../images/fieldbg.gif) repeat-x scroll center top; border-color:#7C7C7C #C3C3C3 #DDDDDD; border-style:solid; border-width:1px; color:#333333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:100%; margin:0; padding:5px 5px; }
    ul.searchbar li input.checkbox, ul.searchbar li input.radio { display:inline-block; height:13px; margin:3px 0 0; padding:0; width:13px; }
    ul.searchbar li select.select { padding: 2px; }

    ul.searchbar li.noline { border-bottom:none; }

    ul.searchbar li.tab { border-bottom:none; border-bottom:1px solid #999; margin:0; padding:0; }
    ul.searchbar li.tab a { color:#666; display:inline-block; padding:5px 10px; border-top:1px solid #999; border-left:1px solid #999; border-right:1px solid #999; border-bottom:1px solid #999;   margin:0 0 -1px 0; background-color:#eee; border-top-left-radius: 5px; border-top-right-radius: 5px;}
    ul.searchbar li.tab a.selected { color:#000; background-color:#fff;  border-bottom:1px solid #fff;  }


    /* tabs */
    .cafeMenu {list-style: none;  border-bottom:1px solid #c6c6c6; display:block; margin-bottom:20px; width:600px;}
    .cafeMenu {_height:1%;}
    *:first-child+html .cafeMenu {height:1%;}
    .cafeMenu:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

	.cafeMenu li { float:left; cursor: pointer; color:#a1a0a0; display:block; padding:0px 15px; height:35px; line-height:35px; margin-bottom:-1px; margin-left:5px;  border-top:1px solid #c6c6c6; border-left:1px solid #c6c6c6; border-right:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; background:#eee;}

	.cafeMenu li.sel { float:left; color:#000; font-weight:bold; display:block; padding:0px 15px; height:35px; line-height:35px; margin-bottom:-1px; margin-left:5px; border-top:1px solid #c6c6c6; border-left:1px solid #c6c6c6; border-right:1px solid #c6c6c6; border-bottom:1px solid #fff; background:#fff; }


/* categoryList */
    .categoryBox { }
    .categoryBox {_height:1%;}
    *:first-child+html .categoryBox {height:1%;}
    .categoryBox:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }



    .categoryNav { float:left; width:150px;  }
    .categoryNav li { margin:0; padding:0; border-bottom:1px solid #ddd;  }
    .categoryNav li a { margin:0; padding:8px 0 8px 10px; font-weight:normal; color:#666; display:block; }
    .categoryNav li a:hover { background-color:#efefef;}
    .categoryNav li a.selected { background-color:#eee; font-weight:bold; color:#000;}

    .categoryListBox { float:right; width:540px;  }

    .categoryList { list-style:none; margin-top:0px; }
    .categoryList li { position:relative;clear:both; height:40px; border-bottom:1px solid #eee; margin:0 0 5px 0; padding:8px 0;  border:1px solid #ddd; border-radius:5px;}
    .categoryList li:hover {  }

    .categoryList li .category { position:absolute; top:0px; left:20px; overflow:hidden; font-size:12px; padding:3px 5px; background-color:#fafafa; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #eee; color:#999;}
    .categoryList li .detail {position:absolute; top:30px; left:20px; width:450px; }
    .categoryList li .detail .title { color:#666; line-height:160%; font-weight:bold; }
    .categoryList li .detail .title a{ color:#666; font-size:14px; }
    .categoryList li .detail .comment { color:#999; line-height:150%; font-weight:normal; margin-left:10px;}
	.categoryList li .action { position:absolute; top:15px; right:5px; margin:0; }

/* categoryUsr */
    .categoryUsr { list-style:none; border-top:1px solid #eee;  margin-top:0px; }
    .categoryUsr {_height:1%;}
    *:first-child+html .categoryUsr {height:1%;}
    .categoryUsr:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    .categoryUsr li { border-bottom:1px solid #ddd; margin:0; padding:5px 0;}
    .categoryUsr li:hover {  }
    .categoryUsr li {_height:1%;}
    *:first-child+html .categoryUsr li {height:1%;}
    .categoryUsr li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .categoryUsr li .checkbox { float:left; margin-left:5px; }
    .categoryUsr li .name  { float:left; margin-left:5px; width:50px;}
    .categoryUsr li .read  { float:left; width:45px; color:#999; }
    .categoryUsr li .auth  { float:right; margin-right:5px; width:80px; text-align:right; }


/* Pagging */
.pagging { padding:0px; margin: 10px 0px 10px 0px; text-align:center; clear:both;}
    .pagging .bar { padding: 0px 1px 0px 1px;}
	.pagging a{ display:inline-block; background-color:#F0F0F0; background-image:-moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%); background-image:-webkit-linear-gradient(top,white 0,#E0E0E0 100%); background-image:linear-gradient(to bottom,white 0,#E0E0E0 100%); border: 1px solid #CCCCCC; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 0 #FFFFFF; color:#555555; cursor:pointer; font-size:11px; font-weight:bold; line-height:16px; padding:3px 8px; text-decoration:none; text-shadow: 0 1px 0 #FFFFFF; text-transform: uppercase; }
	.pagging .selected { border-color:#7a828d #7a828d #3d4046; background-color:#787b83; background-image:-moz-linear-gradient(center top, #787b83 0pt, #44474e 100%); background-image:-webkit-linear-gradient(top,#787b83 0,#44474e 100%); background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%); color:#f0f0f0; box-shadow:0 1px 0 rgba(152,155,160,0.45) inset; text-shadow:0 1px 0 rgba(0,0,0,0.45); }
	.pagging .first{  }
	.pagging .prev{ }
	.pagging .next{  }
	.pagging .last{  }








/*************************************************************************************************/







.request  { float:left; width:750px; margin:0 0 0 10px; }

/* Friend List */
.groupBox { float:left; width:200px; margin:0 0 0 10px; }
.userBox  { float:left; width:550px; margin:0 0 0 10px; }

	.friend li { position:relative; margin:0; display:block; border-top:1px solid #eee; }
	.friend li {_height:1%;}
	*:first-child+html .friend li {height:1%;}
	.friend li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
	.friend li:hover {background:#fff7c0;}

    .friend li .check { float:left; margin-top:10px; margin-left:10px;}
    .friend li .thumb { float:left; margin-top:10px; margin-bottom:10px; margin-left:10px;}
    .friend li .thumb a { width:50px; height:50px; display:block; overflow:hidden; }
    .friend li .thumb a img { width:50px; display:block;}

    .friend li .info  { width:390px; float: left; margin: 10px 0px 0px 10px; padding:0px;}
    .friend li .meta  { width:200px;}

    .friend li .info .name { font-size: 14px; font-weight: bold; margin-right:5px; }
    .friend li .info .position { font-size: 12px; color: #666; font-weight: normal; margin-right:5px; }
    .friend li .info .birth { font-size: 12px; color: #999; margin-right: 5px; }
    .friend li .info .phone { font-size: 14px; color: #666; margin-right: 5px; }
    .friend li .info .email { font-size: 12px; color: #999; margin-right: 5px; }
    .friend li .info .uid { font-size: 12px; color: #999; margin-right: 5px; }

    .friend li .info .message { margin-top:3px;}
    .friend li .info .groups { font-size:12px; line-height:120%; color:#666; padding:0 2px 2px 2px; margin:3px 5px 0 0; background:#eee; border: 1px solid #ccc; display:inline-block; }
    .friend li .info .sameage { font-size:12px; line-height:120%; color:#666; padding:0 2px 2px 2px; margin:3px 5px 0 0; background:#fff; border: 1px solid #999; display:inline-block; }

    .friend li .action { position:absolute; top:3px; right:0px; font-size: 12px; margin: 0px 5px 0px 0px; padding:10px; display:none; background:#fafafa; border: 1px solid #ccc; z-index:99; }
    .friend li .action a.mail   { background: url(../images/icon_s_mail.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }
    .friend li .action a.modify { background: url(../images/icon_s_modify.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }
    .friend li .action a.psw    { background: url(../images/icon_s_member.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }
    .friend li .action a.level { background: url(../images/icon_s_group.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }
    .friend li .action a.copy   { background: url(../images/icon_s_copy.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }
    .friend li .action a.delete { background: url(../images/icon_s_delete.gif) no-repeat left center; height:20px; line-height:20px; padding-left:20px; display:block; }

    .friend li a.arrow { position:absolute; top:10px; right:10px; background:url(../images/btn_box_menu.gif) no-repeat left top; width:20px; height:20px; display:block; text-decoration:none; }





.fileBox { list-style: none; border:1px solid #ddd; }
.fileBox li { margin:0px 0px; padding-top:10px; padding-bottom:10px; border-bottom:1px solid #eee;}
.fileBox li {_height:1%;}
*:first-child+html .board .fileBox li {height:1%;}
.fileBox li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

.fileBox li .pic { float:left; margin-left:5px; width:105px;}
.fileBox li .pic img { border: 1px solid #e5e5e5; width:100px;}
.fileBox li .title { float:left; margin-left:10px; }
.fileBox li .action { float:right; margin-top:5px; margin-right:10px; }

.swfupload { cursor: pointer; float: left; margin-right: 5px;}
.swfu_box { border:1px solid #A6C9E2; height:100px; margin:0; overflow:auto; font-size:12px; }
.swfu_button { cursor:pointer; float:left; margin-right:5px; padding:3px; }




table.account { width:100%; border-collapse:collapse; margin:0; }
    table.account tr { padding:0;}
    table.account tr.odd { background-color:#eee; }
    table.account tr th { font-size:12px; color:#666; font-weight:bold; border:1px solid #ccc; line-height:25px; text-align:center; background-color:#ddd; }
    table.account tr td { font-size:12px;  color:#333; font-weight:normal; border:1px solid #ddd; line-height:25px; text-align:center;}
    table.account tr td a.block { border: 1px solid #cd0a0a; background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:2px 2px;}

    table.account tr td a.clear { border: 1px solid #c5dbec; background: #dfeffc url(../css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #2e6e9e; outline: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:2px 2px;}




    