/* Main stats up of screen */
#main-stats {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #fdfdfd;
	border-bottom: 1px solid #efeef3;
}
#main-stats .stats-row {
	box-shadow: inset -1px 0px 5px 2px #f9f9f9;
}
#main-stats .stat {
	text-align: left;
	padding: 30px 0px 35px 0px;
	border-right: 1px solid #e8e9ee;
	position: relative;
	box-shadow: 1px 0px 0px 0px white;
}


#main-stats .stat:first-child {
padding-left:40px;
}

#main-stats .stat.last {
	border-right: 0px;
}
#main-stats .stat .data {
	color: #29323a;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding-left: 0px;
}
#main-stats .stat .data .number {
	color: #32a0ee;
	font-size: 25px;
	margin-left: 15px;	
}
#main-stats .stat .date {
	color: rgb(180, 184, 187);
	font-weight: lighter;
	font-family:  'Lato', 'Open Sans';
	font-style: italic;
	font-size: 13px;
	position: absolute;
	right: 50px;
}


/* Stats chart */
#statsChart {
	width: 97%;
	height: 250px;
	margin-top: 35px;
}

/* specific chart styles */
.legendLabel {
	font-size: 12px;
	font-family: "Open Sans", Arial;
	color: #9da3a9
}

/* UI elements section */

#pad-wrapper .ui-elements h4 {
	margin-bottom: 35px;
}
.ui-elements .btn-flat {
	text-transform: uppercase;
}
.ui-elements .btn-flat.icon {
	text-transform: none;
}
.ui-elements .btn-flat.icon i {	
	margin-right: 3px;
}
.ui-elements .knobs {
	overflow: auto;
}
.ui-elements .knob-wrapper {
	float: left;
}
.ui-elements .knob-wrapper .knob {
	box-shadow: none;
}
.ui-elements .ui-sliders {
	margin-top: 10px;
	margin-bottom: 50px;
}
.ui-elements .ui-slider {
	width: 95%;
}
.ui-elements .ui-slider.slider-sample2,
.ui-elements .ui-slider.slider-sample3 {
	margin-top: 20px;
}
.ui-elements .ui-group {
	margin-top: 35px;
}
.ui-elements .ui-group > * {
	margin-right: 5px;
	margin-bottom: 5px;
}
.knob-wrapper .info {
	position: relative;
	top: -20px;
}
.knob-wrapper .info .param {
	color: #9da3a9;
	text-align: center;
}
.knob-wrapper .info .param .line {
	background-color: #c4cdd8;
	height: 3px;
	width: 25px;
	display: inline-block;
	margin-right: 10px;
}
.knob-wrapper .info .param .line.blue {
	background-color: #30a1ec;
}

/* table sample below */

.table-products {
	width: 100%;
}
.table-products .filter-block{
	margin-bottom: 34px;
}
.table-products .filter-block .ui-select{
	margin-right: 20px;
	top: 1px;
	height: 24px;
	width: 150px;
}
.table-products .filter-block .search {
	margin: 0 60px 0 0;
}
.table-products .filter-block .new-product{
	padding: 4px 14px;
}
.table-products .table th input[type="checkbox"]{
	margin-top: 4px;
}
.table-products .table input[type="checkbox"]{
	float: left;
	margin-top: 11px;
	margin-right: 23px;
}
.table-products .table .img{
	height: 31px;
	float: left;
	background: white;
	width: 31px;
	border: 1px solid #dfe4eb;
	text-align: center;
	cursor: pointer;
	margin-right: 23px;
}
.table-products .table .img img{
	margin-top: 4px;
}
.table-products .table tr.first td{
	border-top: 0 none;
}
.table-products .table td a{
	text-decoration: underline;
	margin-top: 6px;
	display: inline-block;
}
.table-products .table td.description{
	vertical-align: middle;
	color: #516372;
}
.table-products .label {
	position: relative;
}
.table-products .table ul.actions{
	margin: 5px 0 0 0;
	padding: 0;
	float: right;
}
.table-products .table ul.actions li{
	display: inline;
	border-right: 1px solid #d0dde9;
	padding: 5px 6px 0px 3px;
}
.table-products .table ul.actions li.last{
	border: 0 none;
}
.table-products .table ul.actions i{
	cursor: pointer;
	opacity: 0.6;

	transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-webkit-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
}
.table-products .table ul.actions i:hover{
	opacity: 1;
}
.table-products .pagination{
	float: right;
	margin-top: 35px;
} 


/* responsive */

@media (max-width: 480px) {
	
}
@media (max-width: 767px) {
	#main-stats {
		margin-left: 0px;
		margin-right: 0px;
	}
	.ui-elements .knobs {
		text-align: center;
	}
	.ui-elements .knobs .knob-wrapper {
		float: inherit;
	}	
	.ui-elements .showcase {
		text-align: center;
	}
	.table-products .table .img {
		display: none;
	}
	.table-products .table input[type="checkbox"] {
		margin-right: 10px;
	}
	.table-products .table .label {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 979px) { 

}
@media (max-width: 979px) {
	#main-stats .stat .data {

	}
	.knob-wrapper .info {
		display: none;
	}
	.pointer {
		top: 5%;
	}
}
@media (min-width: 980px) {
	.ui-elements .knob-wrapper + .knob-wrapper {
		margin-left: 5px;
	}
}
@media (min-width: 1200px) {
	.ui-elements .knob-wrapper + .knob-wrapper {
		margin-left: 35px;
	}
	.ui-elements .showcase {
		width: 53%;
	}
}





