
@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


/* slide */
	ul.slide li{ position:relative; height:110px;  margin:0px 0 5px 0; border:1px solid #ddd; border-radius:5px;}
	ul.slide li:first-child { }
	ul.slide li{_height:1%;}
	*:first-child+html ul.slide li{height:1%;}
	ul.slide li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    ul.slide li.disabled {background-color:#eee; }
	ul.slide li .thumb {position:absolute; top:5px; left:5px; margin:0; width:250px; height:100px; overflow:hidden; text-align:center; background-color:#000; }
	ul.slide li .thumb img { height:100px; }
	ul.slide li .pdf { float:left; margin: 0px; width:100px; text-align:center; }
	ul.slide li .pdf img { width:100px; }
	ul.slide li .info { position:absolute; top:10px; left:270px; overflow:hidden;}
	ul.slide li .info .title { margin-top:0px; font-size:14px; font-weight:bold; color:#333; }
	ul.slide li .info .title a{ margin-top:5px; font-size:14px; font-weight:bold; }
	ul.slide li .info .summary { margin-top:5px; font-size:12px; color:#999; width:700px; }
	ul.slide li .info .link { margin-top:5px; }
	ul.slide li .action { position:absolute; bottom:10px; right:5px; }
	ul.slide li .is_open { position:absolute; top:10px; right:20px; color:#ff0000; font-weight:bold;}

	@keyframes blink-effect {
		50% {
		  opacity: 0;
		}
	  }
	 
input.search{
	background: url("../../img/lens.png") #fcfcfc no-repeat 95%;
	box-shadow: none;
	height: 24px;
	font-size: 13px;
	padding: 2px 6px;
	border:1px solid #d0dde9;
	margin: 0;
	border-radius: 2px;
	top: 11px;
}

.searchWrap { display:inline-block; position:relative;  }
.searchWrap .searchCancelBtn { position:absolute; top:5px; right:10px; width:20px; height:20px; line-height:24px; text-align:center; background-color: #fff; display:none; }
.searchWrap .searchCancelBtn i { font-size: 20px; color:rgb(62, 90, 121); }
.searchWrap.kk-cancel .searchCancelBtn { display:block; } 

/* Custom navbar stuff */

/* search input */
.navbar { background: #465e89; }
.navbar .navbar-inner{ background: #465e89; padding-right:0; border:1px solid #465e89; }

.navbar input.search {
	background: url("../../img/lens.png") #0f1217 no-repeat 95%;
	border: 1px solid #0f1217;
	position: relative;
	border-radius: 4px;
	top:7px;
	padding: 3px 6px;
	color: #000;
	font-size: 13px;
	margin-right: 40px;
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}
.navbar input.search:focus {
	background-color: #fff;
}
/* navbar settings and logout icons */
.navbar .settings i {
	color: #9ba3ad;
	font-size: 21px;
}


/* notification menu with custom dropdowns */
.navbar .notification-dropdown {
	position: relative;
}
.navbar .notification-dropdown > a:hover,
.navbar .notification-dropdown > a.active {
	background: #254261 !important;
	box-shadow: inset 1px 0px 1px 0px rgb(62, 90, 121);
}
.navbar .notification-dropdown i {
	font-size: 17px;
	color: #9ba3ad;	
}
.navbar .notification-dropdown .count {
	position: absolute;
	top: 1px;
	left: 58%;
	background: rgb(53, 186, 196);
	padding: 0px 5px;
	border-radius: 30px;
	color: #fff;
	line-height: 16px;
	z-index: 9999;
	text-align: center;
	font-size: 11px;
}

/* navbar popup dialog */
.navbar .pop-dialog {
	position: absolute;
	right: -10px;
	top: 55px;
	display: none;
}
.navbar .pop-dialog.is-visible {
	display: block; 
	-webkit-animation: reveal .2s ease-out;
	-moz-animation: reveal .2s ease-out;
	animation: reveal .2s ease-out;
}
.navbar .pop-dialog .body {
	box-shadow: 0px 1px 9px 1px #c2c2c2;
}
.navbar .pop-dialog .close-icon {
	float: right;
	text-decoration: none;
	z-index: 9999;
	position: relative;
}
.navbar  .pop-dialog .footer {
	border-top: 1px solid #e6e8e9;
	background-color: #eff4f7;
	margin: 15px 0px -10px 0px;
	border-radius: 0px 0px 5px 5px;
	padding: 12px 20px;
	text-align: center;
}
.navbar  .pop-dialog .footer a {
	font-weight: 600;
	color: #7d91a8;
}

/* navar popup dialog for notifications */
.navbar  .pop-dialog .notifications {
	width: 330px;
	margin: 10px -10px 0px -10px;
}
.navbar  .pop-dialog .notifications h3 {
	font-size: 13px;
	color: #404951;
	font-weight: bold;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.navbar  .pop-dialog .notifications .item {
	display: block;
	padding: 10px 0px 8px 20px;
	border-top: 1px solid #e7e8ea;
	color: rgb(54, 54, 54);
	text-decoration: none;
	padding-left: 50px;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}
.navbar  .pop-dialog .notifications .item:hover {
	background: rgb(240, 246, 255);
}
.navbar  .pop-dialog .notifications .item > i {
	color: rgb(252, 130, 123);
	position: absolute;
	left: 19px;
	font-size: 18px;
}
.navbar  .pop-dialog .notifications .item > i.icon-user {
	left: 18px;
}
.navbar  .pop-dialog .notifications .item .time {
	float: right;
	color: #82a3c1;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-right: 5px;
}
.navbar  .pop-dialog .notifications .item .time i {
	font-size: 13px;
	color: #cfcfcf;
	margin-right: 1px;
}

/* navar popup dialog for messages */
.navbar .pop-dialog .messages {
	width: 330px;
	margin: 10px -10px 0px -10px;
}
.navbar  .pop-dialog .messages .item {
	display: block;
	padding: 10px 20px 15px 20px;
	height: 54px;
	border-bottom: 1px solid #e7e8ea;
	color: rgb(54, 54, 54);
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}
.navbar  .pop-dialog .messages .item.last {
	border-bottom: 0px;
}
.navbar  .pop-dialog .messages .item:hover {
	background: rgb(240, 246, 255);
}
.navbar  .pop-dialog .messages .item .display {
	float: left;
	border-radius: 50px;
	margin-right: 15px;
}
.navbar  .pop-dialog .messages .item .name {
	font-size: 12px;
	color: #404951;
	font-weight: bold;
}
.navbar  .pop-dialog .messages .item .msg {
	font-size: 11px;
	color: rgb(117, 118, 119);
	font-weight: 600;
	line-height: 13px;
	position: relative;
	top: -1px;
}
.navbar  .pop-dialog .messages .item .time {
	position: absolute;
	right: 0px;
	bottom: 6px;
	color: #82a3c1;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-right: 5px;
}
.navbar  .pop-dialog .messages .item .time i {
	font-size: 13px;
	color: #cfcfcf;
	margin-right: 1px;
}
.navbar  .pop-dialog .messages .footer {
	margin-top: 6px;
}


.navbar .branch {  float:left;  color: #ffffff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size:16px; height:45px; line-height:45px; margin-left: 20px;}

/* Sidebar */
#sidebar-nav {
	position: absolute;
	top:50px;
	left:0;
	bottom:0;
	width: 240px;
	margin: 0em;
	padding-top: 1em;	
}

/*--------------------------------------------------------------------------------------------------------*/
#dashboard-menu { list-style: none; padding-right: 15px;padding-left: 15px;margin-bottom: 0;margin-left: 0px;}
#dashboard-menu > li {position:relative; }
#dashboard-menu > li > a { position:relative; display:block; margin-right: 0px; margin-left: 0px; padding:0px 10px 0px 10px; height:40px; line-height:40px; margin-bottom: 5px; color: rgba(110, 130, 155, 0.9); outline: 0px; }
#dashboard-menu > li > a i { position: absolute; top:50%; left:10px; transform: translateY(-50%); font-size:24px; }
#dashboard-menu > li > a i.kk_more { left:auto; right:15px; font-size:20px; display:block; }
#dashboard-menu > li > a i.kk_less { left:auto; right:15px; font-size:20px; display:none;  }
#dashboard-menu > li > a span { position: absolute; display:block; left:50px; height:40px; line-height:40px; font-size:13px; }

#dashboard-menu > li > a:hover { color: #000; text-decoration: none; background-color: rgba(195, 198, 207, 0.5);  }

#dashboard-menu > li.active > a { color: #000; background-color: rgba(195, 198, 207, 0.5); }
#dashboard-menu > li.active > a.dropdown-toggle { color: #000; background-color:transparent; }

#dashboard-menu > li.active > a i.kk_more { display:none; }
#dashboard-menu > li.active > a i.kk_less { display:block; }
#dashboard-menu > li.active .dropdown-toggle { border-bottom: 0px; box-shadow: none; }


#dashboard-menu > li > ul.submenu { list-style-type: none; display: none; margin-top: 7px; margin-bottom: 1px; margin-right: 0px; margin-left:0px; padding-left: 0px; padding-bottom: 10px; }
#dashboard-menu > li > ul.submenu.active { display: block; }
#dashboard-menu > li > ul.submenu a {  display:block; font-weight: normal; font-size: 12px; height:30px; line-height:30px; color: rgb(76, 83, 90); text-decoration: none; display: block; margin-bottom: 7px; padding:0px 10px 0px 25px; }
#dashboard-menu > li > ul.submenu a:hover { text-shadow: none; color:#000; background-color: rgba(195, 198, 207, 0.3);}
#dashboard-menu > li > ul.submenu a.active { font-weight: bold; color:#000; text-shadow: none; background-color: rgba(195, 198, 207, 0.3);}




#pad-wrapper { margin: 55px 25px; }
#pad-wrapper h4 { margin: 0 0 0 0; color: #696d73; /* font-style: italic; */ }
#pad-wrapper h4 i { font-size: 25px; vertical-align: middle; }
.content { min-width: 400px; min-height: 620px; margin-bottom: 0; padding-bottom: 0; overflow: hidden; position: relative; background: #fff; margin-left: 237px; border-left: 1px solid #dae3e9; overflow-y: auto; border-radius: 0px 0px 0px 5px; }
.content.wide-content { margin-left: 0; border-radius: 0; }

/* starts skins changer */
.content .skins-nav { opacity: 1; -webkit-transition: right .3s; -moz-transition: right .3s; -ms-transition: right .3s; -o-transition: right .3s; transition: right .3s; position: fixed; right: -85px; top: 135px; font-size: 13px; z-index: 9999; }
.content .skins-nav:hover { right: 0; }
.content .skins-nav a { display: block; color: #fff; text-decoration: none; padding-left: 10px; height: 37px; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; margin-bottom: 3px; -webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s; transition: all .5s; }
.content .skins-nav a.first_nav { background: rgba(95, 175, 228, 0.8); }
.content .skins-nav a.second_nav { background: rgba(36, 43, 77, 0.8); }
.content .skins-nav a.first_nav:hover { background: rgba(95, 175, 228, 1); }
.content .skins-nav a.second_nav:hover { background: rgba(36, 43, 77, 1); }
.content .skins-nav a .icon { float: left; width: 9px; height: 10px;  margin: 15px 15px 0 5px; } 
.content .skins-nav a.selected .icon { background-position: 0 -9px; }
.content .skins-nav a .text { padding-right: 12px; white-space: nowrap; display: block; width: 100px; position: relative; top: 9px; -webkit-transition: width .2s; -moz-transition: width .2s; -ms-transition: width .2s; -o-transition: width .2s; transition: width .2s; }

.dl-horizontal { margin-bottom:0; }
.dl-horizontal dt { float: left; width: 80px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; color:#999; }

.dl-horizontal dd { margin-left: 100px; }


.dl-horizontal dd .value { display: block; padding: 5px 0px; font-weight: bold; }
.dl-horizontal dd.userName { line-height:30px; font-size:14px; font-weight: bold; }
.setting-dl-horizontal { padding:10px; }
.setting-dl-horizontal:hover { background-color: #eee;}
.setting-dl-horizontal dt { float: left; width: 200px; overflow: hidden; clear: left; text-align: left; text-overflow: ellipsis; white-space: nowrap; }
.setting-dl-horizontal dd { margin-left: 220px; }
.setting-dl-horizontal dd p { color:#666; font-size: 12px; }
.setting-dl-horizontal dd label { color:#333; font-size: 12px; }
.setting-dl-horizontal dd label input[type=radio] {margin-top:0}
.setting-dl-horizontal dd label input[type=checkbox] {margin-top:0}
.setting-dl-horizontal dd label input[type=text] { width:100%;}

.attach-wrap { position:relative; text-align:center; width:100px; height:100px; background-color:#eee; }
.attach-file { position:absolute;vertical-align:middle;max-height:100px;max-width:100px;transform: translate(-50%, -50%);top: 50%;left: 50%; }
.media-thumb-wrap { position:relative; text-align:center; width:50px; height:50px; background-color:#eee;display: block; border:1px solid #eee; }
.media-thumb-file { position:absolute;vertical-align:middle;max-height:50px;max-width:50px;transform: translate(-50%, -50%);top: 50%;left: 50%; }

@media (max-width: 1020px) {
	#pad-wrapper { padding: 0px 0px; }
	.content { min-width: 0px; 	margin:0; }
	#main-stats .stat{ width: 33.3%; float: left; }
	#sidebar-nav { left: -260px; position: fixed;  z-index: 9999; background-color: #f7f7f7; border-right: 1px solid #ccc; -webkit-transition: left .25s ease; -moz-transition: left .25s ease; -o-transition: left .25s ease; -ms-transition: left .25s ease; transition: left .25s ease; }	
	#sidebar-nav #dashboard-menu li a span { visibility: visible; }
	#sidebar-nav #dashboard-menu li:last-child a { border-bottom: 0px; box-shadow: none; }
	#sidebar-nav.display { position: absolute; left: 0; height: 100%; } 
	.navbar .btn-navbar { display: block; }
}





/* Usr Info */
.usr_info {position:relative; margin:10px 0 10px 0; padding:0; }
.usr_info {_height:1%;}
*:first-child+html .usr_info {height:1%;}
.usr_info:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }


.usr_info div.kk_photo { float:left; text-align:center; padding:10px 20px 20px 20px; }
.usr_info div.kk_photo a.thumb { margin:0px auto;  overflow:hidden; border:1px solid #eee; display:block; }
.usr_info div.kk_photo a.thumb img { }
.usr_info div.kk_photo a.edit { margin:10px auto 0 auto; }

.usr_info table.info { border-collapse:collapse; border:none; padding:0; margin:0 0 0 150px; width: calc(100% - 170px); }
.usr_info table.info tr {  }
.usr_info table.info tr td { padding:3px 0; font-size:12px; }

.usr_info table.info tr td.label50 { width:50px;  margin:0; text-align:left; padding:3px 5px 3px 0; font-size:12px; color:#999; }
.usr_info table.info tr td.kk_label { width:80px;  margin:0; text-align:left; padding:3px 0 3px 5px; font-size:12px; color:#999; background-color: transparent; vertical-align: middle;}
.usr_info table.info tr td.kk_value { margin:0; text-align:left; padding:3px 0; }
.usr_info table.info tr td.kk_address { margin:0; text-align:left; padding:3px 0; }
.usr_info table.info tr td.kk_address input[type='text'] { width: 465px; }

.usr_info table.info tr td.address { margin:0; text-align:left; }
.usr_info table.info tr td input[type=text] { width:150px; border:1px solid #ddd; }
.usr_info table.info tr td select { border:1px solid #ddd; margin-left:0px;}

.usr_info table.info tr td.kk_tool { padding-left:15px; vertical-align:top; }
.usr_info table.info tr td.kk_tool a.btn { display:block; text-align:left;  /* height: 25px; */ margin-bottom:10px; text-decoration: none; text-shadow: 0 1px 0 #FFFFFF; }
.usr_info table.info tr td.kk_tool a.btn span.iconsweet {font-size:14px; line-height:18px;}
.usr_info table.info tr td.kk_tool a.btn:hover span.iconsweet{color:#478cfe; }
.usr_info table.info tr td.kk_tool a.btn:hover { box-shadow:0 1px 3px rgba(0,0,0,0.08); }

.usr_info table.info tr td.kk_tool a.grey { display:block; text-align:left; border-color:#7a828d #7a828d #3d4046; background-color:#787b83; background-image:-moz-linear-gradient(center top, #787b83 0pt, #44474e 100%); background-image:-webkit-linear-gradient(top,#787b83 0,#44474e 100%); background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%); color:#f0f0f0; box-shadow:0 1px 0 rgba(152,155,160,0.45) inset; text-shadow:0 1px 0 rgba(0,0,0,0.45);  font-size:12px; /* height: 25px; */ line-height:18px; margin-bottom:5px; padding:0 8px;  }
.usr_info table.info tr td.kk_tool a.grey span.iconsweet {font-size:14px; line-height:18px;color:#f0f0f0;}
.usr_info table.info tr td.kk_tool a.grey:hover span.iconsweet{ color:#000; }
.usr_info table.info tr td.kk_tool a.grey:hover { box-shadow:0 1px 3px rgba(0,0,0,0.08); }
.usr_info table.info tr td.kk_tool a.grey:active{ background-image:-moz-linear-gradient(center bottom, #787b83 0pt, #44474e 100%); background-image:-webkit-linear-gradient(bottom,#787b83 0,#44474e 100%); background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%); }
.usr_info table.info tr td.kk_tool a.btn[kk-id='usrModifyInfoAction'] { display:none; }
.usr_info table.info tr td.kk_tool a.btn[kk-id='usrModifyInfoCancel'] { display:none; }




#userTabs { padding-bottom: 10px;}
.usr_info div.checker {float:left;position:relative; margin-left:10px;}
#userTabs .ui-tabs-panel {height:300px; overflow:auto; border:1px solid #c5dbec; padding:10px;}
.ibox-title { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
	background-color: #ffffff;

	border: none;
	
	color: inherit;
	margin-bottom: 0;
	padding: 0px;
	min-height:30px;
  }

.ibox-title h5 {
	display: inline-block;
	font-size: 12px;
	line-height:30px;
	margin: 0 0 0px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}

.ui-widget-content {
    border: none;
    background: #fcfdfd;
    color: #222222;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #ccc;
    background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #333;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #333;
    text-decoration: none;
	outline: none;
}

.navbar .brand { margin-left:0px; }
.ibox { margin:10px; }

.btn-mini {
    padding: 2px 6px !important;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-sx {
    padding: 1px 4px 2px 4px !important;
    font-size: 12px;
	font-weight: normal !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}




.kk-homeWrap .fc-toolbar .fc-center { display:none; }


.fc-toolbar h2 { font-size: 16px; }


.dropzone {
	/* width:350px; */
	border: 1px solid #ddd;
}


.paymentTypeBtn {
    display: inline-block;
	text-align: center;
    margin: 0;
    line-height: 15px;
    vertical-align: middle;
    font-size: 12px;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    border: 0 none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 10px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
	text-decoration: none;

	width:150px; margin-bottom:5px; background-color: #eff4f7; color:#000 !important; border:1px solid #254261;
}
.paymentTypeBtn:hover { text-decoration: none; background-color: #82a3c1; }
.paymentTypeBtn.selected { background-color: #254261; color:#fff !important; border:1px solid #254261;  text-decoration: none;}

input[readonly] { background-color: #fff; border: 1px solid #ccc; color:#000;  }


.table .kk-left { text-align:left; }
.table .kk-center { text-align:center; }
.table .kk-right { text-align:right; }



/* ul.dropdown-menu li a {display:block;} */





.entireContainer-2 {
    width: 500px;
    height:660px;
    background-color: #c3d2e1;
	margin:0 auto;
}

.title-1 {
    font-size: 17px;
    color: #2f4f88;
    font-weight: bold;
    padding: 10px 0 20px 20px;
}

.textRight { text-align: right; }

.itemBox-1 { width:385px; height:100%; margin:0 auto; }
.titleBox-1 { width:100%; line-height:50px; }

.taxClaimReceiptTable_new { width:380px; border-radius:8px;font-size:12px;border: solid 4px #465e89; margin:0;}
.contentBox-1 { background-color: #e3e7ef; overflow: hidden; line-height:25px; }
.contentBox-2 { background-color: #ffffff; overflow: hidden; line-height: 25px; }
.contentLeft { float:left; width:calc(54% - 11px); border-right:1px solid #cbcbcb; padding-left:10px;}
.contentRight { float:right; width:calc(46% - 20px); padding-left:10px; padding-right:10px; }
.contentLeft-sm {
    float: left;
	width:calc(30% - 11px);
	border-right: 1px solid #cbcbcb;
	padding-left:10px;
}
.contentRight-sm {
    float: right;
	width:calc(70% - 10px);
	padding-left:10px;
}

.boxColor-2 {
    background-color: #cde3c5;
}

.boxColor-3 {
    background-color: #ecb3a3;
}

.singleContent { width:calc(100% - 10px);  padding-left:10px;  }

ul, ol { margin-top: 0; margin-bottom: 10px; }
ul { padding-left: 0; list-style-type: none; }
.circleBox {
    margin: 19px 0;
}
.whiteCircle {
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border: solid 1px #979797;
    border-radius: 11px;
}

.whiteCircleBoxRight {
    float: right;
    margin: 0 10px;
}
.whiteCircleBoxLeft {
    float: left;
    margin: 0 10px;
}

.sectionContainer {
    overflow: hidden;
    height: 100%;
}

#auth_code { color:blue; font-weight: bold; }
#canc_yn { color:blue; font-weight: bold; }
#amount { color:blue; font-weight: bold; }
#real_amt {color:red; font-weight: bold; }


.thumblist { }
.thumblist:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
.thumblist .thumbnail { float:left; width:112px; padding:5px; margin-right:10px; border:1px solid #ddd; }
.thumblist .thumbnail .thumbwrap {text-align:center; width:100px; height:100px; background-color:#eee; position: relative;}
.thumblist .thumbnail .thumbwrap .thumb {vertical-align:middle;max-height:100px;max-width:100px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);} 
.thumblist .thumbnail .caption { margin-top:10px; text-align:center; }




.media { }
.media:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
.media .thumbwrap {float:left; text-align:center; width:50px; height:50px; background-color:#ddd; position: relative;}
.media .thumbwrap .thumb {vertical-align:middle;max-height:50px;max-width:50px; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);} 
.media .media-body {margin-left:60px; }
.media .media-body .media-heading { font-size: 14px; }
.media .media-body .media-summary { font-size: 12px; }




/* layout : Loading */
.loading{position:absolute;top:0;left:0;right:0;bottom:0;z-index:300;}
.loading.off{display:none;}
.loading.on{background:rgba(0,0,0,0.5);width:100%;position:absolute;height:100%;z-index:10000;}
.loading.on .square{border:0;padding:0;position:absolute;top:50%;left:50%;margin-top:-85px;margin-left:-85px;text-align:center;width:170px;height:170px;font-size:20px;font-weight:bold;color:#ffffff;}
.loading.on .spin{height:70px;width:70px;border-radius:50%;border:dashed 5px white; animation-name:spin; animation-duration:1.5s; animation-iteration-count:infinite; animation-timing-function:linear; margin-left:45px;}
@-moz-keyframes spin { from{-moz-transform:rotate(0);} to{-moz-transform:rotate(360deg);} }
@-webkit-keyframes spin { from{-webkit-transform:rotate(0);} to{-webkit-transform:rotate(360deg);} }
@keyframes spin { from{transform:rotate(0);} to{transform:rotate(360deg);} }

/* 추가 */
.filterBtn:hover, .cgroup:hover, .groupActive {background-color: #006dcc !important;}
.cgroup {cursor:pointer;}
