

.rollbookBox {}

.rollbookBox .roll_left { float:left; width:130px; text-align: right; }
.rollbookBox .roll_left table { border-collapse: collapse;  border-top: 1px solid #eee;}
.rollbookBox .roll_left table td { border-bottom: 1px solid #eee; height:40px; font-size:12px;}
.rollbookBox .roll_left table td a { color:#666; }
.rollbookBox .roll_right .odd  { background: #fafafa; }

.rollbookBox .roll_right {margin-left:150px;; padding:0; overflow-y:hidden;overflow-x:scroll; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.rollbookBox .roll_right table { border-collapse:collapse; 
    table-layout: fixed;
    display: table;
    width: fit-content;}
.rollbookBox .roll_right table td { border:1px solid #eee; height:40px; width:50px; font-size:12px;}
.rollbookBox .roll_right table td:hover { background: #ddd; }

.rollbookBox .roll_right table th { border:1px solid #eee; height:40px;width:50px; font-size:12px; text-align:center;}

.rollbookBox .roll_right table th[colspan="1"]{width:50px; }
.rollbookBox .roll_right table th[colspan="2"]{width:100px; }
.rollbookBox .roll_right table th[colspan="3"]{width:150px; }
.rollbookBox .roll_right table th[colspan="4"]{width:200px; }
.rollbookBox .roll_right table th[colspan="5"]{width:250px; }
.rollbookBox .roll_right table th[colspan="6"]{width:300px; }
.rollbookBox .roll_right table th[colspan="7"]{width:350px; }


.rollbookBox .roll_right table td a { display:block;}

.rollbookBox .roll_right .thisweek{ background: #ffeeee; }
.rollbookBox .roll_right .thisweek:hover { background: #FFFFee; }

.rollbookBox .usr_info_small { padding: 10px; margin: 15px; background:#fafafa; border: 1px solid #eee; }
.rollbookBox .usr_info_small p{ padding: 0px; margin: 0px 0px 0px 0px;}
	.rollbookBox .usr_info_small .thumb { float: left; }
	.rollbookBox .usr_info_small .info  { float: left; padding-left: 15px;}
	.rollbookBox .usr_info_small .info .name { font-size: 14px; color: #333; font-weight: bold; }
	.rollbookBox .usr_info_small .info .email { font-size: 12px; color: #999; }
	.rollbookBox .usr_info_small .action  { float: right;}

.rollbookBox .check_box { background:#fafafa; border: 1px solid #eee; padding:10px; margin:0px 15px;}


.rollbookBox .icon_default { width:32px; height:16px; background:transparent url(../images/ico_1.gif) no-repeat 50% 50%; }

.rollbookBox .icon_check_1 { width:32px; height:16px; background:transparent url(../images/icon_check_1.gif) no-repeat 50% 50%; }
.rollbookBox .icon_check_2 { width:32px; height:16px; background:transparent url(../images/icon_check_2.gif) no-repeat 50% 50%; }
.rollbookBox .icon_check_3 { width:32px; height:16px; background:transparent url(../images/icon_check_3.gif) no-repeat 50% 50%; }
.rollbookBox .icon_check_4 { width:32px;; height:16px; background:transparent url(../images/icon_check_4.gif) no-repeat 50% 50%; }

.rollbookBox .icon_check_1_on { width:32px; height:16px; background:transparent url(../images/icon_check_1_on.gif) no-repeat left top; padding-left:10px; color:#fff; line-height: 16px; }
.rollbookBox .icon_check_2_on { width:32px; height:16px; background:transparent url(../images/icon_check_2_on.gif) no-repeat left top; padding-left:10px; color:#fff; line-height: 16px; }
.rollbookBox .icon_check_3_on { width:32px; height:16px; background:transparent url(../images/icon_check_3_on.gif) no-repeat left top; padding-left:10px; color:#fff; line-height: 16px; }
.rollbookBox .icon_check_4_on { width:32px; height:16px; background:transparent url(../images/icon_check_4_on.gif) no-repeat left top; padding-left:10px; color:#fff; line-height: 16px; }
.rollbookBox .icon_check_1_on div,.icon_check_2_on div,.icon_check_3_on div,.icon_check_4_on div { width:16px; height:16px; background:transparent url(../images/comment.png) no-repeat 50% 50%; font-size:10px; font-weight: bold; }

.rollbookBox .attendance_comment { border-top: 1px solid #eee; margin:10px 0;}
.rollbookBox .attendance_comment li {clear:both; margin: 0px 0px; padding:5px 5px; border-bottom: 1px solid #eee; }
.rollbookBox .attendance_comment li .thumb { float: left; margin-left: 0px; }
.rollbookBox .attendance_comment li .info  { margin: 0px; padding:0px; font-size:10px;color:#999; }
.rollbookBox .attendance_comment li .info a { font-size: 12px; color: #06c;}
.rollbookBox .attendance_comment li .msg { color:#444; margin-top: 10px; }

.rollbookBox .report h1 { display:block; text-align:center; font-size:20px; margin:20px 10px;  }
.rollbookBox .report h2 { display:block; font-size:15px; margin:10px 0px;  }
.rollbookBox .report .datetime { display:block; text-align:right; font-size:12px;  margin:20px;}


    .attendanceUsrInfo{position:relative; width:300px;height:100px;}

    .attendanceUsrInfo .thumb { position:absolute; top:5px; left:0px; }
    .attendanceUsrInfo .thumb a {display:block; overflow:hidden; width:79px; height:79px}
    .attendanceUsrInfo .thumb a img{width:79px}


    .attendanceUsrInfo ul.meta { position:absolute; top:5px; left:100px; width:300px; height:64px; padding:0; margin:0; }
    .attendanceUsrInfo ul.meta li.name { display:block; margin-bottom:10px; font-size:14px; color:#666; text-decoration:none; }
    .attendanceUsrInfo ul.meta li.bith { display:block; margin-bottom:10px; font-size:14px; color:#666; text-decoration:none; }
    .attendanceUsrInfo ul.meta li.phone { display:block; margin-bottom:10px; font-size:14px; color:#666; text-decoration:none; }
    .attendanceUsrInfo ul.meta li.email { display:block; margin-bottom:10px; font-size:14px; color:#666; text-decoration:none; }

    .attendanceUsrInfo ul.meta a.welcome_user strong{font-weight:bold;color:#fff;text-shadow:0 1px 0 #515b5e}
    .attendanceUsrInfo ul.meta span.log_data{display:block;margin-bottom:12px;font-size:11px;font-family:Arial,Helvetica,sans-serif;line-height:15px;color:#393939}
    .attendanceUsrInfo ul.meta span.log_data a{color:#393939;text-decoration:none}
    .attendanceUsrInfo ul.meta a.logout{display:block;float:left;margin-top:5px;padding-left:15px;background:url(../images/logoff.png) no-repeat left center;color:#f5f5f5;text-decoration:none}
    .attendanceUsrInfo ul.meta a.user_messages{float:right;height:21px;padding-right:28px;background:url(../images/msg.png) no-repeat right center;line-height:100%;text-decoration:none}
    .attendanceUsrInfo ul.meta a.user_messages span{display:inline-block;padding:1px 3px;border-radius:3px;background:#f2364e;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#fff}




/* form */

/*
ul.form { list-style: none; margin:10px 20px 30px 10px; }
ul.form li {position:relative; display:block; margin:5px 5px; padding:3px 5px 3px 5px; height:25px; width:200px; }
ul.form li label.desc { position:absolute; top:5px; left:10px; color:#222222; font-size:1em; font-weight:normal; line-height:150%; margin:0; padding:0 0 1px; }
ul.form li span.value { position:absolute; top:5px; right:10px; }

ul.form li span.req {color:red !important; display:inline-block; float:none; font-weight:bold; margin:0; padding:0; }
ul.form li span.help { color:#999 !important; display:inline-block; float:none; font-weight:normal; margin: 0; padding:0; }

table.paper{ border-collapse: collapse; margin: 0px 0px; }
table.paper td {position:relative; border: none; padding:5px 20px; }
table.paper td .info{ position:relative; height:70px;}
table.paper td .info ul { position:absolute; top:5px; right:10px; width:250px; }
table.paper td .info ul li { display:block; font-size:12px; padding:5px 20px; }



table.usrlist { border-collapse: collapse; margin: 0px 0px; }
table.usrlist td {position:relative;  border: 1px solid #ccc; padding:5px; }


.print { border: none; margin-top:50px;}
.print h1 { display:block; text-align:center; font-size:30px; margin:20px 10px;  }
.print table.usrlist td { border: 1px solid #666; }
.print .textarea { border: 1px solid #666; padding:10px; }
.print .selectbox { margin:0 5px; }

ul.form li .color { float:left; display:block; padding:3px 5px; text-align:center; margin:2px 4px 2px 0px;}
ul.form li div.desc { border:medium none; color:#222222; font-size:12px; font-weight:bold; line-height:150%; margin:0; padding:0 0 3px; }
ul.form li span.desc { border:medium none; color:#222222; font-size:12px; font-weight:bold; line-height:150%; margin-right:5px; padding:0 0 3px; width:70px; text-align:right; display:inline-block; }

ul.form li input.large, select.large, textarea.large { width:97% !important; }
ul.form li input.text, input.search, textarea.textarea { background:#FFFFFF url(/images/fieldbg.gif) repeat-x scroll center top; border-color:#7C7C7C #C3C3C3 #DDDDDD; border-style:solid; border-width:1px;}
ul.form li input.text, input.search, input.file, textarea.textarea, select.select { color:#333333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:100%; margin:0; padding:3px 1px; }

ul.form li input.checkbox, input.radio { display:inline-block; height:13px; margin:3px 0 0; padding:0; width:13px; }

*/