.cal_main { border-collapse: collapse;}

.day { font-size: 12px; padding: 1px;  border:1px solid #ddd; min-height: 70px; vertical-align:top;}
.today { font-size: 12px; padding: 1px;  border:1px solid #ddd; min-height: 70px; vertical-align:top;}
.dayOff { font-size: 12px; padding: 1px;  border:1px solid #ddd; background: #eee; min-height: 70px; vertical-align:top;}

.sun { font-size: 12px; color: #f00; padding: 0px; width: 100px; border: 1px solid #ccc; text-align: center; vertical-align:top; }
.mon ,.tue ,.wed ,.thu ,.fri{ font-size: 12px; padding: 0px; width: 100px; border: 1px solid #ccc; text-align: center; vertical-align:top;}
.sat { font-size: 12px; color: #00f; padding: 0px; width: 100px; border: 1px solid #ccc; text-align: center; vertical-align:top;}


.day_top .write { float: right; width:16px; height:16px; background:url(../images/ico_1.gif) no-repeat 50% 50%; cursor:pointer; }
.day_top .num { float: left; }

.day_top { font-size: 12px;}
.day_top {_height:1%;}
*:first-child+html .day_top {height:1%;}
.day_top:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

.memo { width:88px; color: #2e6e9e; overflow:hidden; text-overflow:ellipsis; font-size: 12px; padding: 2px 4px 2px 4px; margin: 0px 1px 2px 1px; background: #dfeffc; border: 1px solid #c5dbec;}
.memo a { color: #333; }

.birthday { color: #2e6e9e; overflow:hidden; text-overflow:ellipsis; font-size:12px; padding: 0px 0; margin: 0px 0px 2px 0px; background: #fff7c0; border:1px solid #F7C942;}
.birthday a { color:#333; margin: 0 2px;}

.drop { min-height: 70px; }


.popupBox { padding:10px;  background: #fff; border: 5px solid #999; position:absolute; z-index:20;}
	* html .popupBox { width: 240px; }
.popupBox .contentBox { width: 210px; height: 50px; }

.popupBox .footer { text-align: right;}
.subtitle { font-size: 12px; }



.droppable-hover { background:#ccc; }

.location { padding:5px 0px 10px 0px; }
.location {_height:1%;}
*:first-child+html .location {height:1%;}
.location:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

.location .title { float:left; padding:5px 10px 5px 0px;}
.location .item_msg{ float:left; font-size:12px; color: #4682B4; background:#F5FFFA; border:1px solid #ADD8E6; margin:0px 0px 10px 0px; padding:5px 10px 5px 10px; text-align: center;}


.boxheader {font-size:12px;  font-weight: bold;}
.boxbody { width: 300px; min-height:100px; text-overflow:ellipsis; overflow:hidden;  font-size:12px; margin-top:10px; }
	* html .boxbody { height:100px; }
.boxfooter { }