a:link {/* color: #06c; */ text-decoration: none; cursor: pointer; }
a:visited {/* color: #06c; */ text-decoration: none; cursor: pointer;}
a:hover, a:active, a:focus {/* color: #39f; */ text-decoration: none; cursor: pointer;}

/* Default */
    .container{ position:relative; width:100%; padding-top:70px;  }
    .contents { width:800px; margin:0 auto; padding:20px; background:#fff; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:0px; border: 1px solid #ddd; box-shadow: 0 1px 4px #999; }

    .left_box { width: 170px; vertical-align: top;}
    .main_box { padding:5px 5px 5px 5px; vertical-align: top;}
    .main_box_list { min-height: 400px;}

    .left { float:left; }
    .right { float:right; }

    .error_msg_box { width:350px;padding:5px 10px;margin:18px 0 0 160px; *margin:25px 0 0 10px; display:none; position:absolute;}

    .odd  { background: #fafafa; }
    .button { cursor:pointer; padding:3px; }

/* button */
    /* .ui-button  { cursor:pointer; position:relative; padding: 0 5px; height:20px; line-height:20px; line-height:22px\9; display:inline-block; } */

    .button    { cursor:pointer; padding:3px; }
    .button_s  { cursor:pointer; position:relative; padding: 0 5px; height:20px; line-height:20px; line-height:24px\9; display:inline-block; }
    .button_ss { cursor:pointer; position:relative; padding: 0 3px; height:18px; line-height:18px; line-height:20px\9; display:inline-block; }
    .button_m  { cursor:pointer; position:relative; padding: 0 10px; height:24px; line-height:24px; line-height:28px\9; display:inline-block; }
    .button_l  { cursor:pointer; position:relative; padding: 0 12px; height:28px; line-height:28px; line-height:32px\9; display:inline-block; }
    .button_xl { cursor:pointer; position:relative; padding: 0 15px; height:32px; line-height:32px; line-height:35px\9; display:inline-block; }

    .ui_button    { cursor:pointer; padding:3px; }
    .ui_button_s  { cursor:pointer; position:relative; padding: 0 5px 0 3px; height:20px; line-height:20px; line-height:24px\9; display:inline-block; }
    .ui_button_ss { cursor:pointer; position:relative; padding: 0 3px 0 2px; height:18px; line-height:18px; line-height:20px\9; display:inline-block; }
    .ui_button_m  { cursor:pointer; position:relative; padding: 0 10px 0 5px; height:24px; line-height:24px; line-height:28px\9; display:inline-block; }
    .ui_button_l  { cursor:pointer; position:relative; padding: 0 12px 0 6px; height:28px; line-height:28px; line-height:32px\9; display:inline-block; }
    .ui_button_xl { cursor:pointer; position:relative; padding: 0 15px 0 8px; height:32px; line-height:32px; line-height:35px\9; display:inline-block; }

    .ui_button_back { cursor:pointer; position:relative; padding: 0 15px 0 8px; height:32px; line-height:32px; line-height:35px\9; display:inline-block; }
 

    /*
    .ui-button {  border: 1px solid #cbe2f1; background:#cbe2f1; font-weight: bold; color:#2e6e9e; outline: none;
     cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
    .ui-button:hover {  border: 1px solid #dfeffc; background:#2e6e9e; color:#dfeffc; text-decoration: none; }
    */
    .signin_button { cursor:pointer; padding: 5px 15px 5px 15px; }
    .popup_button { cursor:pointer; padding: 5px 15px 5px 15px; }

/* Layout */
    .layout { min-height:350px; margin-top:20px;}
    .layout {_height:1%;}
    *:first-child+html .layout {height:1%;}
    .layout:after{content:" "; display:block; clear:both; height:0;  }

    .layout .sideBar { float:left; width:150px; vertical-align: top; }
    .layout .mainBox { float:right; width:600px; padding:0px; vertical-align: top;}
    .layout .mainBoxFull { width:100%; padding:0px; vertical-align: top;}

    .contents_box { min-height:350px; margin-top:20px;}
    .contents_box {_height:1%;}
    *:first-child+html .contents_box {height:1%;}
    .contents_box:after{content:" "; display:block; clear:both; height:0; }

        .left_box { width: 170px; vertical-align: top;}
        .main_box { padding:5px 0px 5px 0px; vertical-align: top;}
        .main_box_list { min-height: 300px;}
        * html .main_box_list { height: 300px;}

    .left_content { float:left; background: #fff; width:400px; }
    .right_content { float:right; width:300px;  }
    .item_msg { color: #fff; background: #FF0000;  font-weight: bold; padding:1px 5px 1px 5px; margin-left: 10px;  }





/* Pagging */
    .pagging { padding:0px; margin: 10px 0px; text-align: center;}
    .pagging .bar { padding: 0;}
	.pagging a{ display:inline-block; padding:3px 8px; border-radius:3px; border-radius:3px; border:1px solid #999; background:#eee; font-size:11px; font-size:11px; font-weight: bold; line-height:16px; color:#555; text-decoration:none; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; text-transform:uppercase; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0 1px 0 #FFF; box-shadow:0 1px 0 0 #FFF; -webkit-box-shadow:0 1px 0 0 #FFF; }

	.pagging a:hover{background-position:bottom; }
	.pagging a:active{background-position:center; }

	.pagging .selected { display:inline-block; padding:3px 8px; border-radius:3px; border-radius:3px; border:1px solid #999; font-size:11px; font-weight:bold; line-height:16px; color:#555; text-decoration:none; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; text-transform:uppercase; -moz-border-radius:3px; -webkit-border-radius:3px; text-shadow:0 1px 0 #FFF; box-shadow:0 1px 0 0 #FFF; -webkit-box-shadow:0 1px 0 0 #FFF;
    border:1px solid #4F5A68;background:#666; color:#FFF; text-shadow:0 1px 0 #474747;}
	.pagging .first{  }
	.pagging .prev{  }
	.pagging .next{  }
	.pagging .last{  }


/* group_settiungs */
    .settings { display:block; width:400px; }
    ul.group_menu { position:absolute; top:40px; right:30px; }
    ul.group_menu li.selected { font-weight:bold; }
    ul.group_menu li.selected a { font-weight:bold; }
	.attendance li { position:relative; margin:5px 0px 5px 0px; height:40px; display: block; border:1px solid #eee; padding: 5px; }
	.attendance li {_height:1%;}
	*:first-child+html .attendance li {height:1%;}
	.attendance li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
	.attendance li:hover { background:#fff7c0; }
		.attendance li .check { float:left; margin-top:5px; margin-left:2px; margin-right:10px; }
		.attendance li .thumb { float:left; margin-top:5px;}
		.attendance li .thumb a { width:35px; height:35px; display:block;}
		.attendance li .thumb a.man   { background: url(../images/usr_s_m.png) no-repeat center top; }
		.attendance li .thumb a.woman { background: url(../images/usr_s_w.png) no-repeat center top; }
		.attendance li .meta  { position: absolute; top:5px; left:55px;  }
		.attendance li .meta .name    { font-size: 12px; font-weight:normal; margin-right:5px; }
        .attendance li .meta .year    { font-size: 10px; color: #ccc; font-weight:normal; margin-right:5px; }
		.attendance li .meta .summary { font-size: 12px; color: #999;}
		.attendance li .action { position: absolute;  top:10px; right:10px; font-size:12px; margin:0;}


/* tabs */
	.tabs { border-bottom:1px solid #ddd; display:block; margin-bottom:0;}
	.tabs ul { list-style: none; }
	.tabs li { float:left; cursor: pointer; color:#999; display:block; padding:0px 10px; height:30px; line-height:30px; margin-bottom:-1px; margin-left:5px; border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background:#eee; }
	.tabs li.sel { float:left; color:#333; font-weight:bold; display:block; padding:0px 10px; height:30px; line-height:30px; margin-bottom:-1px; margin-left:5px; border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #fff; background:#fff; }


/* form */
    form h2 { margin: 20px 0 10px 0; font-size:15px; color:#444; }

    ul.form { list-style:none; }
    ul.form li { margin-top:5px;}
    ul.form li label { display:inline-block; width:100px; text-align:right; border:none; color:#666; font-size:12px; font-weight:normal; margin:0 10px 0 0; padding:3px 0; vertical-align:top; }

    ul.form li input.large, ul.form li select.large, ul.form li textarea.large { width:97% !important; }
    ul.form li input[type='text'], ul.form li input[type='search'], ul.form li textarea, ul.form li select { display:inline-block; }
    ul.form li input[type='text'], ul.form li input[type='search'], ul.form li textarea { color:#333333; font-size:12px; margin:0; padding:3px 3px; border:1px solid #ddd;  }
    ul.form li select{ color:#333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:12px; margin:0; padding:3px; border:1px solid #ddd; }
    ul.form li input[type='checkbox'], form li input[type='radio'] { display:inline-block; margin:3px 0 0; padding:0; }

    ul.form li .value  { display:inline-block; padding:3px; color:#333333; font-weight:bold; font-size:12px; }

    ul.form li .inputValue  { display:inline-block; padding:3px; color:#333333; font-weight:bold; font-size:12px; width:100px; min-height:15px; border:1px solid #999; }

    ul.form li .inputUsrValue  { display:inline-block; padding:0 3px; margin:0; color:#333333; font-weight:bold; font-size:12px; width:200px; min-height:15px; border:1px solid #ddd; }

    ul.form li .bar    { display:inline-block; padding:0 5px; line-height:200%; }
    ul.form li .label  { display:inline-block; padding:0 5px; line-height:200%;}
    ul.form li .mini   { width:36px !important; }
    ul.form li .small  { width:50px !important; }

    ul.form li .date   { width:80px !important; }
    ul.form li .small  { width:120px !important; }
    ul.form li .normal { width:180px !important; }
    ul.form li .medium { width:250px !important; }
    ul.form li .large  { width:350px !important; }

    ul.form li span.req  { color:red; line-height:150%; margin-right:5px; }
    ul.form li span.help { color:#999; font-weight:normal; margin: 3px 10px 0 110px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.dot  { color:#999; font-weight:normal; margin: 3px 5px 0 5px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }
    ul.form li span.txt  { color:#999; font-weight:normal; margin: 3px 0px 0 0px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }

    ul.form li .send { float:left;   }
    ul.form li .adddate { float:right; color:#999; margin-right:15px;  }
    ul.form li .contentArea { font-size:12px; line-height:160%; border:1px solid #ccc; background:#fff7c0; padding: 5px; width:400px; height:150px; overflow-y:auto; }

    div.desc { border:medium none; color:#222222; font-size:12px; font-weight:bold; line-height:150%; margin:0; padding:0 0 3px; }
    span.desc { border:medium none; color:#666; font-size:12px; font-weight:normal; line-height:150%; margin-right:5px; padding:0 0 3px; width:70px; text-align:right; display:inline-block; }



/* form */
    ul.report { list-style:none; }
    ul.report li { margin-top:5px; }
    ul.report li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    ul.report li label { display:block; float:left; width:100px; text-align:right; border:none; color:#666; font-size:12px; font-weight:normal; margin:0 10px 0 0; padding:3px 0; vertical-align:top; }

    ul.report li input.large, ul.report li select.large, ul.report li textarea.large { width:97% !important; }
    ul.report li input[type='text'], ul.report li input[type='search'], ul.report li textarea, ul.report li select { display:inline-block; }
    ul.report li input[type='text'], ul.report li input[type='search'], ul.report li textarea { color:#333333; font-size:12px; margin:0; padding:3px 3px; border:1px solid #ddd;  }
    ul.report li select{ color:#333; font-family:"Lucida Grande",Tahoma,Arial,sans-serif; font-size:12px; margin:0; padding:3px; border:1px solid #ddd; }
    ul.report li input[type='checkbox'], form li input[type='radio'] { display:inline-block; margin:3px 0 0; padding:0; }

    ul.report li .value  { display:inline-block; padding:3px; color:#333333; font-weight:bold; font-size:12px; }

    ul.report li .inputValue  { display:block; float:left; padding:3px; margin:0; color:#333333; font-weight:bold; font-size:12px; width:200px; min-height:20px; border:1px solid #ddd; }

    ul.report li .inputUsrValue  { display:block; float:left; padding:3px; margin:0; color:#333333; font-weight:bold; font-size:12px; width:200px; min-height:20px; border:1px solid #ddd; }

    ul.report li .btnAddUsr { float:left; margin-left:5px; display:block; height:20px; padding:0 5px; border:solid 1px #cfcfcf; border-color:#CCC #CCC #AAA; border-radius:3px; background-color:#F0F0F0; background-image:-moz-linear-gradient(center top, #FFFFFF 0pt, #E0E0E0 100%); background-image:-webkit-linear-gradient(top,white 0,#E0E0E0 100%); background-image:linear-gradient(to bottom,white 0,#E0E0E0 100%); font-family:'CorbelBold'; font-size:12px; line-height:20px;color:#6c6c6c;text-decoration:none;box-shadow:0 0 1px #FFF inset;text-shadow:0 1px 0 #FFF; border-radius:3px; }

    ul.report li .bar    { display:inline-block; padding:0 5px; line-height:200%; }
    ul.report li .label  { display:inline-block; padding:0 5px; line-height:200%;}
    ul.report li .mini   { width:36px !important; }
    ul.report li .small  { width:50px !important; }

    ul.report li .date   { width:80px !important; }
    ul.report li .small  { width:120px !important; }
    ul.report li .normal { width:180px !important; }
    ul.report li .medium { width:250px !important; }
    ul.report li .large  { width:350px !important; }

    ul.report li span.req  { color:red; line-height:150%; margin-right:5px; }
    ul.report li span.help { color:#999; font-weight:normal; margin: 3px 10px 0 110px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }
    ul.report li span.dot  { color:#999; font-weight:normal; margin: 3px 5px 0 5px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }
    ul.report li span.txt  { color:#999; font-weight:normal; margin: 3px 0px 0 0px; padding:0; font-size:1em; font-weight:normal; line-height:150%; display:block; }

    ul.report li .btn { float:left; margin-left:10px; }
    ul.report li .btn_s { float:left; margin-left:5px; }

    ul.report li .send { float:left;   }
    ul.report li .adddate { float:right; color:#999; margin-right:15px;  }
    ul.report li .contentArea { font-size:12px; line-height:160%; border:1px solid #ccc; background:#fff7c0; padding: 5px; width:400px; height:150px; overflow-y:auto; }

    div.desc { border:medium none; color:#222222; font-size:12px; font-weight:bold; line-height:150%; margin:0; padding:0 0 3px; }
    span.desc { border:medium none; color:#666; font-size:12px; font-weight:normal; line-height:150%; margin-right:5px; padding:0 0 3px; width:70px; text-align:right; display:inline-block; }


/* user */
    table.user { border-collapse: collapse; margin: 0 20px; }
    table.user thead tr {background:#eee; }
    table.user tr td:first-child ,table.user tr th:first-child { border-left:1px solid #ccc;}
    table.user tr th {position:relative; padding:10px 5px; text-align:center; border-right:1px solid #ccc; border-top:1px solid #ccc; }
    table.user tr td:first-child { border-left:1px solid #ccc;}
    table.user tr td {position:relative;  padding:5px 5px; border-right:1px solid #ccc; border-bottom:1px solid #ccc;  text-align:center; }
    table.user tr th.no       { width:40px;border-left:1px solid #ccc; }
    table.user tr th.level    { width:80px;border-left:1px solid #ccc; }
    table.user tr th.phone    { width:130px; }
    table.user tr th.name     { width:80px; }
    table.user tr th.email    { width:200px; }
    table.user tr th.reg_date { width:100px; }
    table.user tr th.phone    { width:110px; }
    table.user tbody tr:hover {background:#fff7c0; }


    table.sms { border-collapse:collapse; margin:0; }
    table.sms tr { background:#fff; }
    table.sms tr td {position:relative; padding:5px 5px; }
    table.sms tr td.smsBody { width:350px; }
    table.sms tr td.reserve { width:250px; }
    table.sms tr td.search  { width:250px; }
    table.sms tr td ul { padding:0; margin:0; list-style-type:none;}




/* Contact */
    .smsContact { position:relative; margin:0; overflow:auto;}
	.smsContact .card { position:relative; margin:10px; display:block; border:1px solid #ddd; padding:10px 0; min-height:30px;  }
	.smsContact .card {_height:1%;}
	*:first-child+html .smsContact .card {height:1%;}
	.smsContact .card:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
	.smsContact .card:hover { background:#fff7c0;}

    .smsContact .card .thumb-sm { float:left; margin-top:0px; margin-left:5px; display:block; width:25px; height:25px; overflow:hidden;}
    .smsContact .card .thumb-sm a { width:25px; height:25px; display:block; }
    .smsContact .card .thumb-sm a.empty  { background: url(../images/member.png) no-repeat center top; background-size:25px 25px; }
    .smsContact .card .thumb-sm a img { width:25px; }
	.smsContact .card .info  { margin: 0px 0px 0px 0px; padding:0 0 0 35px; }
    .smsContact .card .info .name { }
    .smsContact .card .info .name a { color:#666; text-decoration:none; font-size:12px; font-weight:bold; }
    .smsContact .card .info .name a span.position{ color:#999; text-decoration:none; font-size:12px; font-weight:normal; margin-left:5px; }
    .smsContact .card .info .name a span.attendance{ color:#4ba1e2; text-decoration:none; font-size:12px; font-weight:bold; margin-left:5px; }
    .smsContact .card .info .position { font-size: 12px; color: #666; font-weight: normal; margin-left:5px; }
    .smsContact .card .info .birth { font-size: 12px; color: #999; margin-left: 5px; }
    .smsContact .card .info .email { font-size: 12px; color: #999; margin-top:3px; margin-left: 5px; }
    .smsContact .card .info .phone { font-size:14px; color: #666; margin-top:3px;}


    .smsContact .card .upDawn { position:absolute; top:15px; right:50px; font-size:12px; margin:0px; padding:5px 10px; color:#fff;  }
    .smsContact .card .upDawn a { padding:5px 10px;}
    .smsContact .card .family { position:absolute; top:15px; right:30px; font-size: 12px; margin:0px; padding:5px 10px; color:#fff; background:#666; border: 1px solid #999; }

    .smsContact .card .action { position:absolute; top:3px; right:0px; font-size: 12px; margin: 0px 0px 0px 0px; padding:0px; display:none; background:#fafafa; border: 1px solid #ccc; z-index:99; }
    .smsContact .card .action a { color:#666; text-decoration:none; border-bottom:1px solid #ddd; padding:0 10px 0 0; margin:0; height:30px; line-height:30px; display:block; }
    .smsContact .card .action a .iconsweet { font-size:16px; margin-right:5px; margin-left:10px;line-height:30px; }
    .smsContact .card .action a:hover { color:#fff; background-color:#666; }
    .smsContact .card a.arrow { position:absolute; top:10px; right:10px; background:url(../images/btn_box_menu.gif) no-repeat left top; width:20px; height:20px; display:block;  text-decoration:none;}

    .smsContact .card a.remove { position:absolute; top:10px; right:10px;  position:absolute; top:20px; right:5px; }
    .smsContact .card a.iconList { display:none; }




/* User List */
	.sms_left { float:left; width: 190px; margin-top:10px; }
	.sms_right { float:right; width: 570px; margin-top:10px; }

	.cafe_left { float:left; width: 120px; margin-top:10px;}
	.cafe_right { float:right; width: 600px; margin-top:10px; }

	.group { margin: 0px 10px 0px 10px; padding: 5px 5px 5px 5px; border-bottom: 1px solid #eee; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; overflow:hidden; }
	.group {_height:1%;}
	*:first-child+html .group {height:1%;}
	.group:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
	.group:hover { background: #eee; border: 1px solid #ccc;}

    .group .title { float:left; font-size: 12px; float: left; margin-left:10px; text-overflow:ellipsis; overflow: hidden; margin-bottom: 5px; }
    .group .title a { font-size: 12px; color: #39f; }
    .group .title a:hover, .group .title a:active, .group .title a:focus {color: #39f; }
    .group .menus { float:right; font-size: 12px; padding: 0px 10px 0px 0px; margin-bottom: 5px; }
    .group .menus a { font-size: 12px; margin: 0px 0px 0px 0px; }

/* Search */
	.searchBox { position:relative; height:40px;}
	.search { position:relative; width:auto; right:0px; }
	.search .keyword { display:block; border:1px solid #ccc; padding:5px 3px; width:200px; font-size:12px; background:#fff url(../images/search_icon.gif) no-repeat 3px 50%; padding-left:20px;  -moz-border-radius: 10px; -webkit-border-radius:10px;}
	.search .cancel { position:absolute; top:3px; left:200px; width:20px; height:20px; z-index:99; background:url(../images/icon_s_delete.gif) no-repeat 50% 50%;  font-size:0;  text-indent: -99999px;}
	.search .btnSesarch { position:absolute; top:2px; left:230px; }

/* FamilyList */
	.familyList { border: 1px solid #eee;overflow:auto; }
	.familySearchList { border: 1px solid #eee; height:200px; overflow:auto; }

	.familyList .family { position:relative; margin: 5px 5px; display: block; border: 1px solid #eee; padding: 0 0 5px 0; }
	.familyList .family {_height:1%;}
	*:first-child+html .familyList .family {height:1%;}
	.familyList .family:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }

    .familyList .family .radio { float:left; margin: 5px 0px 0px 5px; }
    .familyList .family .thumb { float:left; margin: 5px 0px 0px 5px; width:50px; height:50px; overflow:hidden;}
    .familyList .family .info  { float: left; margin: 5px 0px 0px 10px; padding:0px 0px;}
    .familyList .family .info .name { font-size: 14px; font-weight: bold; margin-right:5px; }
    .familyList .family .info .name a{ color: #333; }

    .familyList .family .info .birth { font-size: 12px; color: #999; margin-right: 5px; }
    .familyList .family .info .phone { font-size: 14px; color: #666; margin-right: 5px; }
    .familyList .family .info .email { font-size: 12px; color: #999; margin-right: 5px; }

    .familyList .family .info .message { margin-top:3px;}
    .familyList .family .info .groups { font-size:12px; line-height:120%; color:#666; padding:0 2px 2px 2px; margin:3px 5px 0 0; background:#eee; border: 1px solid #ccc; display:inline-block; }
    .familyList .family .info .sameage { font-size:12px; line-height:120%; color:#666; padding:0 2px 2px 2px; margin:3px 5px 0 0; background:#eee; display:inline-block; }
    .familyList .family .del { float:right; margin:0px 0px 0 0; background: url(../images/icon_s_delete.gif) no-repeat left center; height:20px; width:20px; display:block; }
    .familyList .family .add { float:right; margin:0px 0px 0 0;}

/* Usr Info */
    .usr_info {position:relative; margin:10px 0 20px 0; padding:0; }
    .usr_info {_height:1%;}
    *:first-child+html .usr_info {height:1%;}
    .usr_info:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }


	.usr_info div.photo { float:left; width:100px; height:120px; text-align:center; margin-left:10px; }

	.usr_info div.photo a.thumb { margin:0px auto; width:100px; height:100px; overflow:hidden; border:1px solid #eee; display:block; }
	.usr_info div.photo a.thumb img { width:100px; }
	.usr_info div.photo a.edit { margin:10px auto 0 auto; }

	.usr_info table.info { border-collapse:collapse; border:none; padding:0; margin:0 0 0 140px; width:550px; }
	.usr_info table.info tr {  }
	.usr_info table.info tr td { padding:3px 0; font-size:12px; }

	.usr_info table.info tr td.label50 { width:50px;  margin:0; text-align:left; padding:3px 5px 3px 0; font-size:12px; color:#999; }
	.usr_info table.info tr td.label { width:70px;  margin:0; text-align:left; padding:3px 0 3px 5px; font-size:12px; color:#999; background-color: transparent;}
    .usr_info table.info tr td.value { width:160px; margin:0; text-align:left; padding:3px 0; }
    .usr_info table.info tr td.address { margin:0; text-align:left; }
    .usr_info table.info tr td input[type=text] { width:150px; border:1px solid #ddd; }
    .usr_info table.info tr td select { border:1px solid #ddd; margin-left:0px;}

    .usr_info table.info tr td.toolArea { padding-left:15px; vertical-align:top; }
    
    .usr_info table.info tr td.toolArea a.btn { display:block; text-align:left;  /* height: 25px; */ margin-bottom:10px; text-decoration: none; text-shadow: 0 1px 0 #FFFFFF; }
    .usr_info table.info tr td.toolArea a.btn span.iconsweet {font-size:14px; line-height:18px;}
    .usr_info table.info tr td.toolArea a.btn:hover span.iconsweet{color:#478cfe; }
    .usr_info table.info tr td.toolArea a.btn:hover { box-shadow:0 1px 3px rgba(0,0,0,0.08); }


    .usr_info table.info tr td.toolArea a.grey { display:block; text-align:left; border-color:#7a828d #7a828d #3d4046; background-color:#787b83; background-image:-moz-linear-gradient(center top, #787b83 0pt, #44474e 100%); background-image:-webkit-linear-gradient(top,#787b83 0,#44474e 100%); background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%); color:#f0f0f0; box-shadow:0 1px 0 rgba(152,155,160,0.45) inset; text-shadow:0 1px 0 rgba(0,0,0,0.45);  font-size:12px; /* height: 25px; */ line-height:18px; margin-bottom:5px; padding:0 8px;  }
    .usr_info table.info tr td.toolArea a.grey span.iconsweet {font-size:14px; line-height:18px;color:#f0f0f0;}
    .usr_info table.info tr td.toolArea a.grey:hover span.iconsweet{ color:#000; }
    .usr_info table.info tr td.toolArea a.grey:hover { box-shadow:0 1px 3px rgba(0,0,0,0.08); }
    .usr_info table.info tr td.toolArea a.grey:active{ background-image:-moz-linear-gradient(center bottom, #787b83 0pt, #44474e 100%); background-image:-webkit-linear-gradient(bottom,#787b83 0,#44474e 100%); background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%); }




    .usr_info .action  { float: right;}
	.usr_info .sameage { font-size:12px; line-height:120%; color:#666; padding:0 2px 2px 2px; margin:3px 5px 0 10px; background:#fff; border: 1px solid #999; display:inline-block; }
    .usr_info .groups {display:inline-block; background:#eee; color:#666; font-size:12px; margin-right:5px; margin-bottom:5px; padding:2px; }

    .usr_info div.selector {float:left;position:relative; width:140px;height:28px;padding-left:10px;background:url(../images/form_elements/select_left.png) no-repeat scroll left top transparent}
    .usr_info div.selector select{position:absolute;top:0;left:0;width:150px;height:28px;font-size:12px;cursor:pointer}
    .usr_info div.selector select option{padding:5px;border:none}
    .usr_info div.selector span{position:absolute;top:0;right:0;width:140px;height:28px;background:url(../images/form_elements/select_right.png) no-repeat scroll right top transparent;font-size:11px;line-height:28px;cursor:pointer}


    #userTabs { padding-bottom: 10px;}

    .usr_info div.checker {float:left;position:relative; margin-left:10px;}


    #userTabs .ui-tabs-panel {height:300px; overflow:auto; border:1px solid #c5dbec; padding:10px;}

    .ibox-title { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none;
        background-color: #ffffff;

        border: none;
        
        color: inherit;
        margin-bottom: 0;
        padding: 0px;
        min-height:30px;
      }

    .ibox-title h5 {
        display: inline-block;
        font-size: 12px;
        line-height:30px;
        margin: 0 0 0px;
        padding: 0;
        text-overflow: ellipsis;
        float: left;
    }



/* @group rollbook */
	ul.rollbook { position:relative; list-style:none;  border:1px solid #ccc; padding:0; margin:10px 10px; background:transparent; }
	ul.rollbook li { position:relative; padding:8px 10px 8px 10px; margin:0; border-top:1px solid #ccc; background:#fff; }
	ul.rollbook li:first-child, ul.rollbook li:first-child a { border-top:0;  }
	ul.rollbook li:last-child, ul.rollbook li:last-child a ,ul.rollbook li.last, ul.rollbook li.last a {}
	ul.rollbook li.focus { background-color: #fff7c0; }

    ul.rollbook > li > div.state { display:block; height:25px; }

	ul.rollbook > li > div.state > label.desc     {position:absolute; display:block; top:3px; left:15px; border:none; color:#6f6f6f; font:normal 12px Tahoma,Arial,sans-serif; line-height:30px; }
    ul.rollbook > li > div.state > span.worship   {position:absolute; top:5px; right:180px; display:block; width:24px; height:24px; line-height:24px; font-size:12px;  text-align:center; }
    ul.rollbook > li > div.state > span.worship_  {position:absolute; top:5px; right:180px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -72px; line-height:24px; font-size:12px;}
	ul.rollbook > li > div.state > span.worship_O {position:absolute; top:5px; right:180px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% 0px; }
    ul.rollbook > li > div.state > span.worship_X {position:absolute; top:5px; right:180px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -48px; }
    ul.rollbook > li > div.state > span.worship_L {position:absolute; top:5px; right:180px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -24px; }

    ul.rollbook > li > div.state > span.gbs   {position:absolute; top:5px; right:140px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span.gbs_   {position:absolute; top:5px; right:140px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -72px; line-height:24px; font-size:12px; }
	ul.rollbook > li > div.state > span.gbs_O  {position:absolute; top:5px; right:140px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% 0px;  }
    ul.rollbook > li > div.state > span.gbs_X  {position:absolute; top:5px; right:140px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -48px; }
    ul.rollbook > li > div.state > span.gbs_L  {position:absolute; top:5px; right:140px; display:block; width:24px; height:24px; border:none; background:url(../images/check.png) no-repeat 50% -24px; }

    ul.rollbook > li > div.state > span.accumulate {position:absolute; top:5px; right:20px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span.qt     {position:absolute; top:5px; right:100px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span.bible  {position:absolute; top:5px; right:60px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span.prayer {position:absolute; top:5px; right:20px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }


    ul.rollbook > li > div.state > span._attendance {position:absolute; top:25px; right:180px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span._bible      {position:absolute; top:25px; right:140px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span._offertory  {position:absolute; top:25px; right:100px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span._evangelize {position:absolute; top:25px; right:60px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span._sum        {position:absolute; top:25px; right:20px; display:block; width:24px; height:24px; line-height:24px; font-size:12px; text-align:center; }
    ul.rollbook > li > div.state > span  {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;cursor:pointer; }

    ul.rollbook > li > div.note { display:block; color:#444; font-size:12px; line-height:150%; margin:0 10px; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap;*/ }



    ul.rollbook li div.visit { display:block; height:25px; }
	ul.rollbook li div.visit label.desc     { position:absolute; display:block; top:3px; left:15px; width:250px; border:none; color:#6f6f6f; font:normal 12px Tahoma,Arial,sans-serif; line-height:25px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    ul.rollbook li div.visit span.visitType { position:absolute; top:5px; right:180px; display:block; width:80px; line-height:25px; font-size:12px;  text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    ul.rollbook li div.visit span.place     { position:absolute; top:5px; right:100px; display:block; width:80px;line-height:25px; font-size:12px; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    ul.rollbook li div.visit span.regDate   { position:absolute; top:5px; right:20px; display:block; width:80px; line-height:25px; font-size:12px; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }

/* Contact */
    ul.contact { position:relative; margin:0; padding:0;}
	ul.contact li { position:relative; margin:0px; display:block; border-bottom:1px solid #ddd; padding:5px 0; min-height:50px;  }
	ul.contact li {_height:1%;}
	*:first-child+html ul.contact li {height:1%;}
	ul.contact li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
	ul.contact li:hover { background:#fff7c0;}
    ul.contact li .check { float:left; margin-top:0px; margin-right:10px; }
    ul.contact li .radio { float:left; margin-top:0px; margin-right:10px; }
    ul.contact li .thumb { float:left; margin-top:0px; display:block; width:50px; height:50px; overflow:hidden;}
    ul.contact li .thumb a { width:50px; height:50px; display:block; }
    ul.contact li .thumb a.empty  { background: url(../images/member.png) no-repeat center top; background-size:50px 50px; }
    ul.contact li .thumb a img { width:50px; }
	ul.contact li .info  { margin: 0px 0px 0px 0px; padding:0 0 0 90px; }
    ul.contact li .info .name { }
    ul.contact li .info .name a { color:#666; text-decoration:none; font-size:12px; font-weight:bold; }
    ul.contact li .info .name a span.position{ color:#999; text-decoration:none; font-size:12px; font-weight:normal; margin-left:5px; }
    ul.contact li .info .name a span.attendance{ color:#4ba1e2; text-decoration:none; font-size:12px; font-weight:bold; margin-left:5px; }
    ul.contact li .info .position { font-size: 12px; color: #666; font-weight: normal; margin-left:5px; }
    ul.contact li .info .birth { font-size: 12px; color: #999; margin-left: 5px; }
    ul.contact li .info .email { font-size: 12px; color: #999; margin-top:3px; margin-left: 5px; }
    ul.contact li .info .phone { font-size:14px; color: #666; margin-top:3px;}
    ul.contact li .info .groupBox { margin-top:3px; margin-right:50px; overflow:hidden; white-space:nowrap; }
    ul.contact li .info .groupBox .groups { font-size:12px; line-height:120%; color:#fff; padding:2px 3px; margin:0px 2px 3px 0; background:#999; display:inline-block; }

	ul.contact li .info .groupBox .sameage { font-size:12px; line-height:120%; color:#fff; padding:2px 3px; margin:0px 2px 0 0; background:#777;  display:inline-block; }
    ul.contact li .info .groupBox .selected { background:#333; }

    ul.contact li .meta  { width:200px;}
    ul.contact li .upDawn { position:absolute; top:15px; right:50px; font-size:12px; margin:0px; padding:5px 10px; color:#fff;  }
    ul.contact li .upDawn a { padding:5px 10px;}
    ul.contact li .family { position:absolute; top:15px; right:30px; font-size: 12px; margin:0px; padding:5px 10px; color:#fff; background:#666; border: 1px solid #999; }

    ul.contact li .action { position:absolute; top:3px; right:0px; font-size: 12px; margin: 0px 0px 0px 0px; padding:0px; display:none; background:#fafafa; border: 1px solid #ccc; z-index:99; }
    ul.contact li .action a { color:#666; text-decoration:none; border-bottom:1px solid #ddd; padding:0 10px 0 0; margin:0; height:30px; line-height:30px; display:block; }
    ul.contact li .action a .iconsweet { font-size:16px; margin-right:5px; margin-left:10px;line-height:30px; }
    ul.contact li .action a:hover { color:#fff; background-color:#666; }
    ul.contact li a.arrow { position:absolute; top:10px; right:10px; background:url(../images/btn_box_menu.gif) no-repeat left top; width:20px; height:20px; display:block;  text-decoration:none;}

    ul.contact li a.remove { position:absolute; top:10px; right:10px;  position:absolute; top:20px; right:5px; }
    ul.contact li a.iconList { display:none; }
    ul.ui-sortable li a.iconList { position:absolute; top:10px; right:10px; background:url(../images/iconListView.png) no-repeat left top; width:40px; height:40px; display:block; }


    .sel {font-weight: bold; color:#ff0000; }


    .userthumb { padding:0; }

    .landscape { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; /*border-radius: 50%;*/ position: relative; }
    .landscape img {position:absolute; display:block; height:100px; width:auto; left:50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}

    .portrait { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; border-radius: 50%;}
    .portrait img { width:100px; height:auto; }

    .thumb { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; border-radius: 50%;}
    .thumb img { width:100px; height:auto; }


    .landscape-lg { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; /*border-radius: 50%;*/ position: relative; }
    .landscape-lg img {position:absolute; display:block; height:100px; width:auto; left:50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}

    .portrait-lg { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; border-radius: 50%;}
    .portrait-lg img { width:100px; height:auto; }

    .thumb-lg { margin-top:0px; display:block; width:100px; height:100px; overflow:hidden; border-radius: 50%;}
    .thumb-lg img { width:100px; height:auto; }


    .landscape-md { margin-top:0px; display:block; width:50px; height:50px; overflow:hidden; border-radius: 50%; position: relative; }
    .landscape-md img {position:absolute; display:block; height:50px; width:auto; left:50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}

    .portrait-md { margin-top:0px; display:block; width:50px; height:50px; overflow:hidden; border-radius: 50%;}
    .portrait-md img { width:50px; height:auto; }

    .thumb-md { margin-top:0px; display:block; width:50px; height:50px; overflow:hidden; border-radius: 50%;}
    .thumb-md img { width:50px; height:auto; }


    .landscape-sm { margin-top:0px; display:block; width:30px; height:30px; overflow:hidden; border-radius: 50%; position: relative; }
    .landscape-sm img {position:absolute; display:block; height:30px; width:auto; left:50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}

    .portrait-sm { margin-top:0px; display:block; width:30px; height:30px; overflow:hidden; border-radius: 50%;}
    .portrait-sm img { width:30px; height:auto; }

    .thumb-sm { margin-top:0px; display:block; width:30px; height:30px; overflow:hidden; border-radius: 50%;}
    .thumb-sm img { width:30px; height:auto; }

    ul.qq-upload-list { margin:0; }

    .grid {
            -moz-column-width: 300px;
            -webkit-column-width: 300px;
            -moz-column-gap: 15px;
            -webkit-column-gap: 15px; 

    }
    .grid-item {
        display: inline-block;
        margin:  5px;
        padding:  5px;
        width:  100%; 
    }

    .ui-dialog { z-index: 10000; }
    .jstree_menu_json {
        padding: 0px 10px 0px 10px;
        padding-left: 22px;
    }

    .contact-box { position: relative;  }
    .contact-box .icheckbox_square-green { position: absolute; top:15px; right:15px; z-index:100; }
    

/* calendarNav */
    ul.calendarNav { position:relative; margin:0 5px; }
	ul.calendarNav li { list-style:none; }
	ul.calendarNav li a { position:relative; margin:0px 10px; display:block; padding:0px; min-height:25px; border-top: dotted 1px #ddd; }
    ul.calendarNav li a .perent { position:absolute; top:10px; right:5px; color:#999; font-size:12px; }
    ul.calendarNav li a .subject { position:absolute; top:7px; left:25px; color:#666; }
    ul.calendarNav li a .title { position:absolute; top:10px; left:10px; color:#333; font-weight:bold; }
    ul.calendarNav li a .iconsweet {position:absolute; top:4px; left:5px; font-size:20px; color:#666; }
	ul.calendarNav li a input { position:absolute; top:5px; left:5px; font-size:20px; }
    ul.calendarNav li a .arrow { position:absolute; top:10px; right:10px; background:url(../images/btn_box_menu.gif) no-repeat left top; width:20px; height:20px; display:block;  text-decoration:none;}
	ul.calendarNav li a .color { position:absolute; top:7px; left:5px; width:10px; height:10px; display:block; border:solid 1px #666; text-decoration:none;}
	ul.calendarNav li a .default { position:absolute; top:5px; right:10px; width:15px; height:15px; display:block; border:solid 1px #666; text-decoration:none; background-color:#333;}

    ul.calendarNav li a:hover { background:#ddd; }
    ul.calendarNav li a.active { background-color:#ddd; }
	ul.calendarNav li.divider { background-color:#ddd; }


/* Items */
    .odd  { background: #fff; }
    .enable { color: #ddd;}
	ul.item li { position:relative; margin:0; padding:10px 0px; border-bottom: 1px solid #eee; overflow:hidden; }
	ul.item li.root { margin:0; padding: 5px; border-bottom: 1px solid #eee; background:#eee; overflow:hidden; font-weight:bold; }
	ul.item li.attendance { margin:0; padding: 0px; height:50px; border-bottom: 1px solid #eee; background:#fff; overflow:hidden; font-weight:bold; }


    ul.item li.tab { margin:0; padding: 0px; height:50px; border-bottom: 1px solid #ddd; background:#eee; overflow:hidden; font-weight:bold; }
	ul.item li.tab .title { position:absolute; top:50%; left:15px; margin-top:-10px; height:20px; line-height:20px; font-size:14px; text-overflow:ellipsis; overflow:hidden; color:#666; }
	ul.item li.tab .title a { display:block; font-size:14px; color:#666;}


	ul.item li .thumb { position:absolute; display:block; top:0px; left:10px; width:40px; height:50px; overflow:hidden; }
    ul.item li .thumb img { width:35px; }
    ul.item li .iconAttendance { position:absolute; display:block; top:50%; left:10px; margin-top:-16px; width:32px; height:32px;  background:transparent url(../images/iconAttendance.png) no-repeat 50% 50%; background-size:32px 32px;  }
    ul.item li .iconAnalysis { position:absolute; display:block; top:50%; left:10px; margin-top:-16px; width:32px; height:32px;  background:transparent url(../images/iconAnalysis.png) no-repeat 50% 50%; background-size:32px 32px; }
    ul.item li .iconReport { position:absolute; display:block; top:50%; left:10px; margin-top:-16px; width:32px; height:32px;  background:transparent url(../images/iconReport.png) no-repeat 50% 50%; background-size:32px 32px; }
    ul.item li .iconReportOff { position:absolute; display:block; top:50%; left:10px; margin-top:-16px; width:32px; height:32px;  background:transparent url(../images/iconReportOff.png) no-repeat 50% 50%; background-size:32px 32px; }
    ul.item li .iconMessage { position:absolute; display:block; top:50%; left:10px; margin-top:-16px; width:32px; height:32px;  background:transparent url(../images/iconMessage.png) no-repeat 50% 50%; background-size:32px 32px; }

	ul.item li.attendance .title { position:absolute; top:50%; left:50px; margin-top:-10px; height:20px; line-height:20px; font-size:14px; text-overflow:ellipsis; overflow:hidden; color:#666; }
	ul.item li.attendance .title a { display:block; font-size:14px; color:#666;}
	ul.item li.attendance .adddate { position:absolute; top:50%; right:40px; margin-top:-10px; font-size:12px; height:20px; line-height:20px; color:#999; font-weight:normal; text-overflow:ellipsis; overflow:hidden; }
	ul.item li.attendance .arrow   { position:absolute; top:50%; right:10px; width:20px; height:20px; margin-top:-10px; background:transparent url(../images/itemArrow.png) no-repeat 50% 50%; background-size:20px 20px;  }

	ul.item li.even  { background:#fff; }
	ul.item li.odd   { background-color:rgba(50, 127, 181, 0.05); }
	ul.item li.write { background-color:#fff7c0; }

	ul.item li:hover   { background-color:rgba(50, 127, 181, 0.1); }

	ul.item li .docs { float: left; margin-right:10px; }
	ul.item li .check { float: left; width: 15px; }
	ul.item li .thumb { float:right; }
	ul.item li .thumb img { border:1px solid #ccc; cursor: pointer; }
	ul.item li .name { width: 550px; text-overflow:ellipsis; overflow: hidden; margin-bottom: 5px; }
	ul.item li .name a { font-size: 14px; font-weight: bold; color: #333; }
	ul.item li .name a:hover, ul.item li .name a:active, ul.item li .name a:focus {color: #39f; text-decoration: none;}
	ul.item li .info {margin-left: 25px; font-size: 12px; color: #999; margin-bottom: 5px; }
	ul.item li .summary { font-size: 12px; font-weight: normal;  margin-right: 140px; color: #ccc; }

	ul.item li .tools  {padding: 0px 0px 0px 0px; margin-bottom: 5px; }
	ul.item li .tools a { font-size: 12px; margin: 0px 10px 0px 0px; }
	ul.item li .menus { float:right; padding: 0px 0px 0px 0px; margin-bottom: 0px; }
	ul.item li .menus a { font-size: 12px; margin: 0px 0px 0px 0px; }
    ul.item li .menus span.adddate { font-size:12px; line-height:150%; color:#ccc; margin: 0px 10px 0px 0px; }

	ul.item li .comment_area { margin: 10px 0px 5px 0px; }
	ul.item li .comment_box { margin: 0px; padding:0px; }
	ul.item li .comment_box .comment { vertical-align: top; margin: 0px 10px 0px 10px; width: 520px; height: 30px; border: 1px solid #999; font-size: 12px; }
	ul.item li .comment_box .button { vertical-align: top; padding: 7px 10px 7px 10px; border:1px solid #999; background: url(../images/btn_bg_2.gif) repeat-x 0px 0px; font-size: 12px; font-weight:bold; color:#840259; }
	* html ul.item li .comment_box .button { padding: 10px 5px 4px 5px;}
	*+html ul.item li .comment_box .button { padding: 10px 5px 4px 5px;}

    .comment_list { margin: 5px 15px 0px 15px; }
    .comment { margin: 5px 15px 5px 15px; }
    .comment .usr_name { font-size: 12px; }
    .comment .date { font-size: 11px; color: #999;  }
    .comment .msg { font-size: 12px; color: #666;  }

	.tree {position:relative; height:30px; margin:0 10px 0 0; padding:0 0; overflow:hidden; border-bottom: 1px solid #eee;}

    .tree.root {position:relative; height:30px; margin:0 10px 0 0; padding:0 0; overflow:hidden; border: 1px solid #ccc; background:#eee; }
    .tree .domain {position:absolute; top:5px; left:15px; text-overflow:ellipsis; overflow:hidden; margin-bottom:5px;}
	.tree .title { position:absolute; top:5px; left:5px; text-overflow:ellipsis; overflow:hidden; margin-bottom:5px;}
	.tree .title a { color:#666; }
	.tree .attendance { position:absolute; top:5px; right:200px; text-align:center; width:50px; }
    .tree .calendar { position:absolute; top:5px; right:290px; text-align:center; width:40px; }
	.tree .enabled { position:absolute; top:5px; right:250px; text-align:center; width:40px; }

	.tree .menu  { position:absolute; top:5px; right:5px; padding:0px; margin-bottom:5px; text-align:center; width:200px; }
	.tree .menu select { width:100px; }
    .tree:hover { background-color:#FFF7C0; }


    #attendanceBox h2 { font-size:16px; }

/* Group Items Box */
    .usrGroupBox { margin:0; }
    .usrGroupBoxList { margin:0; padding:5px; overflow:auto; border:1px solid #eee; }
    .usrGroupBoxList {_height:1%;}
	*:first-child+html .usrGroupBoxList { height:1%;}
    .usrGroupBoxList:after {content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .usrGroupBoxList .usrGroup { float:left; position:relative; padding:0px 5px 0px 5px; margin:0 5px 5px 0; cursor:pointer; height:20px; line-height:20px; background-color:#eee; border:1px solid #ddd; border-radius:3px; }
    .usrGroupBoxList .usrGroup:hover { background-color:#ddd; border:1px solid #999; }
    .usrGroupBoxList .usrGroup .remove { color:#666;}

/* Keyword */
    .keyword { position:relative; display:block; padding:0; margin:5px 0; height:40px; text-align:right; }
    .keyword a { color:#666; margin:0 5px; text-decoration:underline; }

/* Location */
    .location { position:relative; display:block; padding:0; margin:5px -5px 10px -5px; height:30px; background-color:#eee; border:1px solid #ddd; border-radius:3px; }
    .location .subject { position:absolute; top:0px; left:10px; font-weight:normal; font-size:14px; line-height:30px; color:#666; text-shadow:0 1px 0 #FFFFFF; }
    .location .tool { position:absolute; top:5px; right:5px; }
    .location .tool a {  }
	.location .check { position:absolute; top:5px; left:5px; margin-right:0px; padding: 0;}
	.location .statusBox { position:absolute; top:0px; left:35px; font-weight: bold; font-size:14px; line-height:30px; color:#666; text-shadow:0 1px 0 #FFFFFF;}
	.location .statusBox a {  }

/* ToolBar */
    .toolbar { position:relative; display:block; background: url("../images/widget_title_bg.png") repeat-x scroll center top #EEEEEE; border-bottom: 1px solid #E0E0E0; border-radius: 3px 3px 0 0; height: 30px; }
    .toolbar .subject { position:absolute; top:10px; left:10px; color:#6C6C6C; font-size:14px; padding:0; text-shadow:0 1px 0 #FFFFFF; }
    .toolbar .tool { position:absolute; top:5px; right:5px; }
    .toolbar .tool a {  }
	.toolbar .check { position:absolute; top:5px; left:5px; margin-right:0px; padding: 0;}
	.toolbar .statusBox { position:absolute; top:0px; left:35px; font-weight: bold; font-size:14px; line-height:30px;}
	.toolbar .statusBox a {  }

/* PhotoBoxList */
    .photoBoxList { position:relative; display:block; }
    .photoBoxList .thumbList { position:relative; display:block; }
    .photoBoxList .thumbList {_height:1%;}
	*:first-child+html .photoBoxList .thumbList {height:1%;}
    .photoBoxList .thumbList:after {content:" "; display:block; clear:both; height:0; visibility:hidden; }
	.photoBoxList .thumbList .thumbBox {float:left; position:relative; display:block; width:100px; height:100px; overflow:hidden; border:1px solid #ddd;
		background: none repeat scroll 0 0 #F4F4F4;
		border: 1px solid #E4E4E4;
		border-radius: 3px;
		margin: 0 5px 5px 0;
		padding: 0px;
	}

	.photoBoxList .thumbList .thumbBox a.thumb { position:absolute; top:4px; left:4px; display:block; width:90px; height:70px; overflow:hidden; border:1px solid #fdfdfd; background-color:#fff;}
	.photoBoxList .thumbList .thumbBox a.thumb img { height:auto; max-width:100%; }
	.photoBoxList .thumbList .thumbBox a.remove { position:absolute; bottom:5px; right:5px; display:block; }
    .photoBoxList .uploadBtn { display:block; text-align:center; }


/* Admin Form Nav */
    ul.groupMenu { float:right; margin:0px 10px; width:120px; border-top:solid 1px #dcdfe0;}
	ul.groupMenu li{padding:13px 0 10px 0; margin:0; border-bottom:solid 1px #dcdfe0;line-height:100%;list-style:none;box-shadow:inset 0 1px 0 #fff}
	ul.groupMenu li a{display:block;font-size:12px;line-height:17px;color:#818386;text-decoration:none}
	ul.groupMenu li a span{float:left;margin:-4px 8px 0 5px;font-size:21px}
	ul.groupMenu li.active a{	color:#478cfe;font-family: 'CorbelBold'; }
	ul.groupMenu li.active a span{ color:#478cfe; text-shadow:0px 1px 0px #f4f4f4;}
	ul.groupMenu li:hover a{color:#478cfe; font-family: 'CorbelBold'; }
	ul.groupMenu li:hover a span{ color:#478cfe; text-shadow:0 1px 0 #f4f4f4}


/*------------------------------------------------------------------------------------------------*/
	.message_list .list_top {width:600px;  height:30px; background: #eee; margin:0; padding:0; color: #666; }
	.message_list .list_top .first { float:left; height:30px; width:5px;  }
	.message_list .list_top .end { float:right; height:30px; width:5px; }

	.message_list .list_top .subject { float:left; padding: 8px 0px 5px 0px; margin-left: 10px; font-size: 12px;}
	.message_list .list_top .owner { float:right; text-align:center; font-size: 12px; width: 60px; padding: 8px 0px 5px 0px; }
	.message_list .list_top .date { float:right; text-align:center; font-size: 12px; width: 100px; padding: 8px 0px 5px 0px; }

	.message_list { margin: 0px 0px 0px 0px; padding: 10px 0px 10px 0px;  background: #fff; }

	.message_list .list_top .subject { float:left; padding: 8px 0px 5px 0px; margin-left: 10px; font-size: 12px; font-weight:bold;}
	.message_list .info { margin: 10px 10px 10px 10px; font-size: 12px; }

	.message_list .content { min-height:200px;  margin:10px; padding:10px; font-size: 12px; border-top: 1px dashed #ccc; border-bottom: 1px solid #ccc; }
	* html 	.message_list .content { height:200px; }

	.no_item { font-size:12px; padding: 20px; }



.odd  { background: #fafafa; }

	.message { margin: 0px 0px 0px 0px; padding: 5px 0px 5px 0px; border-bottom: 1px solid #eee; overflow:hidden; font-size: 12px; color: #999; }

	.message:hover { background: #eee; }

	.message .subject {  padding: 8px 0px 5px 0px; margin-left:10px;}
	.message .subject a { font-size:12px; color: #777; width:400px;display:block; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
	.message .subject a:hover, .message .subject a:active, .message .subject a:focus {color: #39f; text-decoration: none;}
	.message .read a { font-weight:bold; color: #333; }
	.message .owner {  text-align:center; font-size: 12px; width:60px; }
	.message .date  { text-align:center; font-size: 12px; width:100px; padding: 8px 0px 5px 0px; }

	.message .comment_area { margin: 10px 0px 5px 0px; }

	.message .memo_box { border:1px solid #ccc; background:#fff; margin: 0px 10px 0px 10px; padding: 5px; height:40px;}
	.message .comment_box { margin-top: 10px; padding:0px; }
	.message .comment_box .comment { vertical-align: top; margin: 0px 10px 0px 10px; width: 550px; height: 30px; border: 1px solid #999; font-size: 12px; }
	.message .comment_box .button { vertical-align: top; padding: 7px 10px 7px 10px; border:1px solid #999; background: url(../images/btn_bg_2.gif) repeat-x 0px 0px; font-size: 12px; font-weight:bold; color:#666; }
	* html .message .comment_box .button { padding: 10px 5px 4px 5px;}
	*+html .message .comment_box .button { padding: 10px 5px 4px 5px;}


.submit_box { display: block; text-align:right; margin: 0px 10px 0px 10px; padding: 5px; font-size: 12px; color: #999; }

	.submit_box .button { padding: 5px 10px 5px 10px; border: 1px solid #ccc; background: url(../images/btn_bg_2.gif) repeat-x left top; font-size: 12px; font-weight:bold; color:#666; }
	*+html .submit_box .button { padding: 5px 5px 5px 5px;}



.form_search { }
.form_search:after {content:" "; display:block; clear:both; height:0; visibility:hidden; }

.form_search .columnbox { float:left; }


#userTabs .ibox .ibox-title{ border:none; }

.nav-header .logo { font-size:25px; font-size:bold; color:#fff; margin-top:0px; margin-bottom:20px;}


body.print { background-color:#fff; }
body.print .ibox-tools { display:none; }

body.print input {background-color:#fff; }

body.print .toolArea { display:none; }
body.print .photo .btn{ display:none; }
body.print label { border:none; }

body.print .printWrap { width:700px;}