
/* kk-jquery-ui */
.ui_selectbox{ position:relative;display:block;height:24px;line-height:24px;border:1px solid #ddd;margin:2px 0px 0 0px;background-image:none;}
.ui_selectbox label{position:relative;display:block;height:24px;line-height:24px;margin:0px 0;padding:0 15px 0 5px;font-size:12px;overflow:hidden;white-space:nowrap;}
.ui_selectbox .arrow{position:absolute;top:0;right:0;width:15px;height:30px;margin-top:0;font-size:14px;color:#999;}
.ui_selectbox label.disable{color:#ddd;}
.ui_selectbox .ui_select_list{display:none;position:absolute;top:30px;left:-1px;z-index:100;background-color:#fff;border:1px solid #B9B9B9;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);z-index:20000;padding:0;margin:0;}
.ui_selectbox .ui_select_list.ui_bottom { top:auto; bottom:50px; }
.ui_selectbox .ui_select_list>li{ display:block;height:30px;line-height:30px;font-size:14px;padding:3px 30px 3px 10px;cursor:pointer;overflow:hidden;white-space:nowrap;}
.ui_selectbox .ui_select_list>li:hover{background:#eee;}
.ui_selectbox .ui_select_list>li[selected]{background:#B9B9B9;}
.ui_selectbox:hover{border:1px solid #B9B9B9;}
.ui_active>.ui_select_list{display:block;}

.ui_colorpicker{display:none;position:absolute;top:50px;left:-80px;width:193px;background-color:#fff;margin:0;padding:0;border:1px solid #b9b9b9;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);z-index:20000;}
.ui_colorpicker.ui_bottom { top:auto; bottom:50px; }
.ui_colorpicker ul{display:block;padding:0;list-style-type:none;}
.ui_colorpicker ul:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui_colorpicker ul li{display:block;float:left;padding:0;}
.ui_colorpicker ul li:hover,.ui_colorpicker ul li[selected]{border:1px solid #ff0000;}
.ui_colorpicker .ui_sub_default_color li{position:relative;float:none;display:block;height:25px;line-height:25px;margin:6px;padding:0 0 0 30px;color:#2e2e2e;text-decoration:none;border:1px solid #b9b9b9;font-size:13px;text-align:left;}
.ui_colorpicker .ui_sub_default_color span.ui_default_color{position:absolute;top:50%;left:6px;margin-top:-7px;display:block;width:12px;height:12px;border:1px solid #b9b9b9;background-color:#000;}
.ui_colorpicker .ui_default_color_palette{margin:10px 5px 5px 5px;padding:0;}
.ui_colorpicker .ui_default_color_palette>li{margin:0 2px 0 2px;border:1px solid #b9b9b9;width:12px;height:12px;}
.ui_colorpicker .ui_color_palette{margin:0 5px 5px 5px;padding:0;}
.ui_colorpicker .ui_color_palette>li{margin:0 2px 0 2px;border:1px solid #fff;width:12px;height:12px;}
.ui_colorpicker .ui_standard_color_palette{margin:10px 5px 5px 5px;padding:0;}
.ui_colorpicker .ui_standard_color_palette>li{margin:0 2px 0 2px;border:1px solid #b9b9b9;width:12px;height:12px;}
.ui_colorpicker .ui_standard_color_text{display:block;margin:0;padding:2px 10px;background-color:#ededed;color: #666;height:20px;line-height:20px;font-size:12px;font-weight:normal;text-align:left;}

.ui_combobox{display:none;position:absolute;top:40px;left:-1px;background-color:#fff;border:1px solid #B9B9B9;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);z-index:20000;margin:0;}
.ui_combobox>li{display:block;height:20px;line-height:20px;font-size:12px;padding:3px 30px 3px 10px;cursor:pointer;overflow:hidden;white-space:nowrap;text-align:left;}
.ui_active>.ui_combobox{display:block;}
.ui_combobox.ui_bottom { top:auto; bottom:40px; }
.ui_active>.ui_combobox.ui_bottom { top:auto; bottom:40px; }

.ui-spinner{border:1px solid #cccccc;}
.ui-spinner .ui-spinner-input{width:90px;}
.listOL{width:176px;height:120px;}
.listOL>li{display:block;float:left;margin:5px 0 0 5px;padding:0;width:50px;height:50px;font-size:14px;color:#2e2e2e;text-decoration:none;border:1px solid #B9B9B9;/*background:url(../../images/kuku_slide_icon.png) no-repeat -180px -20px; */text-indent:-10000px;}
.listOL>li.numberedList1{background-position:0 -205px;}
.listOL>li.numberedList2{background-position:-50px -205px;}
.listOL>li.numberedList3{background-position:-100px -205px;}
.listOL>li.numberedList4{background-position:-150px -205px;}
.listOL>li.numberedList5{background-position:-200px -205px;}
.listOL>li.numberedList6{background-position:-250px -205px;}
.listUL{width:176px;height:120px;}
.listUL>li{display:block;float:left;margin:5px 0 0 5px;padding:0;width:50px;height:50px;font-size:14px;color:#2e2e2e;text-decoration:none;border:1px solid #B9B9B9;/*background:url(../../images/kuku_slide_icon.png) no-repeat -180px -20px;*/text-indent:-10000px;}
.listUL>li.bulletedList1{background-position:-300px -205px;}
.listUL>li.bulletedList2{background-position:-350px -205px;}
.listUL>li.bulletedList3{background-position:-400px -205px;}
.listUL>li.bulletedList4{background-position:-450px -205px;}
.listUL>li.bulletedList5{background-position:-500px -205px;}
.listUL>li.bulletedList6{background-position:-550px -205px;}
.imageOutline,ul.tableBorderStyle{width:110px;height:135px;padding-top:10px;}
.imageOutline>li,.tableBorderStyle>li{display:block;margin:0 0 0 10px;padding:0;width:90px;height:25px;line-height:25px;text-align:center;font-size:12px;color:#2e2e2e;text-decoration:none;border:none;/*background:url(../../images/lineStyle.png) no-repeat 50% 0;*/}
.imageOutline>li.imageOutlineNone,.tableBorderStyle>li.imageOutlineNone{background-position:0 -1000px;}
.imageOutline>li.imageOutlineSolid .tableBorderStyle>li.imageOutlineSolid{background-position:0 0;}
.imageOutline>li.imageOutlineDash,.tableBorderStyle>li.imageOutlineDash{background-position:0 -50px;}
.imageOutline>li.imageOutlineDot,.tableBorderStyle>li.imageOutlineDot{background-position:0 -25px;}
.imageOutline>li.imageOutlineDouble,.tableBorderStyle>li.imageOutlineDouble{background-position:0 -75px;}
.shapeOutline{width:110px;height:135px;padding-top:10px;}
.shapeOutline>li{display:block;margin:0 0 0 10px;padding:0;width:90px;height:25px;line-height:25px;text-align:center;font-size:12px;color:#2e2e2e;text-decoration:none;border:none;/*background:url(../../images/lineStyle.png) no-repeat 50% 0;*/}
.shapeOutline>li.shapeOutlineNone{background-position:0 -1000px;}
.shapeOutline>li.shapeOutlineSolid{background-position:0 0;}
.shapeOutline>li.shapeOutlineDash{background-position:0 -25px;}
.shapeOutline>li.shapeOutlineDot{background-position:0 -50px;}
.shapeOutline>li.shapeOutlineDouble{background-position:0 -75px;}
.combo .alignCell{display:block;margin:0;padding:4px;width:104px;background-color:#fff;border:1px solid #b9b9b9;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);}
.combo .alignCell>li{display:inline-block;margin:4px;padding:0;width:24px;height:24px;color:#2e2e2e;text-decoration:none;border:1px solid #B9B9B9;/*background:url(../../images/buttonBarSubmenu.png) no-repeat -180px 0;*/text-indent:-10000px;}
.combo .alignCell>li.lt{background-position:-1px -81px;}
.combo .alignCell>li.ct{background-position:-31px -81px;}
.combo .alignCell>li.rt{background-position:-61px -81px;}
.combo .alignCell>li.lm{background-position:-91px -81px;}
.combo .alignCell>li.cm{background-position:-121px -81px;}
.combo .alignCell>li.rm{background-position:-151px -81px;}
.combo .alignCell>li.lb{background-position:-181px -81px;}
.combo .alignCell>li.cb{background-position:-211px -81px;}
.combo .alignCell>li.rb{background-position:-241px -81px;}
.ui_combobox>li { color:#666; }
.ui_combobox>li:hover{background-color:#eee;}
.ui_combobox>li[selected]{background-color:#B9B9B9;}
.btn3D .ui_combobox{top:20px;left:5px;}

/* kk-dialog-ui */

.ui-dialog {padding:5px;border:1px solid #999;background-color:#fafafa;border-radius:0;font-family:"맑은고딕";z-index:30001; outline:none;}
.ui-dialog .ui-dialog-titlebar{padding:5px;border:none;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title{color:#666;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;top:5px;right:5px;margin:0;text-shadow:none;border:none;outline:none;background-color:transparent; /* color:transparent;*/ }

.ui-dialog .ui-exif {margin-bottom:50px;}
.ui-dialog .ui-exif dl{margin:0px;}
.ui-dialog .ui-exif dt,dd{line-height:30px;}
.ui-dialog .ui-exif dt{font-weight:normal;font-size:12px;}
.ui-dialog .ui-exif dd{margin-left:10px;font-size:12px;}
.ui-dialog .ui-exif .dl-horizontal{display:block;}
.ui-dialog .ui-exif .dl-horizontal:before,.dl-horizontal:after{line-height:0;content:"";}
.ui-dialog .ui-exif .dl-horizontal:after{clear:both;}
.ui-dialog .ui-exif .dl-horizontal dt{float:left;width:150px;overflow:hidden;text-align:right;white-space:nowrap;color:#666;}
.ui-dialog .ui-exif .dl-horizontal dd{margin-left:170px;}

.ui-dialog .tabBar{height:25px;border-bottom:1px solid #eee;}
.ui-dialog .ui-tabs .ui-tabs-nav li a{color:#999;}
.ui-dialog .ui-tabs .ui-tabs-nav li a:hover{color:#000;}
.ui-dialog .ui-tabs .ui-tabs-nav li.ui-tabs-active a{color:#000;}
.ui-dialog .chartSample{display:block;}
.ui-dialog .chartSample:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui-dialog .chartSample .thumb{float:left;display:block;border:1px solid #2dbce6;background-color:#fff;padding:4px;margin-right:10px;margin-top:10px;}
.ui-dialog .chartSample .thumb:hover{border:5px solid #e1929d;padding:0;}
.ui-dialog .chartSample .choice{border:5px solid #e1929d;padding:0;}
.ui-dialog .chartSample .thumb img{width:150px;}
.ui-dialog .shapeEdit{height:100%;}
.ui-dialog .shapeEdit:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui-dialog .shapeEdit .shapePanel{margin-right:300px;min-height:300px;height:90%;background-color:#fff;border:1px solid #999;padding:10px;overflow:auto;z-index:1;}
.ui-dialog .shapeEdit .shapeTools{float:right;width:250px;min-height:400px;overflow:visible;}
.ui-dialog .shapeEdit .shapeTools dl{margin:0;}
.ui-dialog .shapeEdit .shapeTools dt,.ui-dialog .shapeEdit .shapeTools dd{line-height:30px;}
.ui-dialog .shapeEdit .shapeTools dt{font-weight:normal;font-size:12px;text-align:left;padding-left:10px;}
.ui-dialog .shapeEdit .shapeTools dd{margin-left:10px;font-size:12px;}
.ui-dialog .shapeEdit .shapeTools dl.dl-horizontal dt{float:left;width:40px;overflow:hidden;clear:left;text-align:right;white-space:nowrap;color:#666;}
.ui-dialog .shapeEdit .shapeTools dl.dl-horizontal dd{margin-left:60px;}
.ui-dialog .shapeEdit .shapeTools dl.dl-horizontal{display:block;}
.ui-dialog .shapeEdit .shapeTools dl.dl-horizontal:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui-dialog .dl_pallet{position:relative;background-color:#5b9bd5;width:80px;height:20px;border:1px solid #666;display:inline-block;}
.ui-dialog .dl_selectbox{position:relative;display:inline-block;height:20px;line-height:20px;width:100px;border:1px solid #999;margin:5px 3px 0 0;background-color:#fff;}
.ui-dialog .ui_selectbox{position:relative;display:block;height:20px;line-height:20px;border:none;margin:0 3px 0 0;background-image:none;}
.ui-dialog .ui_selectbox label{position:relative;display:block;height:20px;line-height:20px;margin:0;padding:0 5px 0 5px;font-size:12px;overflow:hidden;white-space:nowrap;}
.ui-dialog .ui_selectbox .arrow{position:absolute;top:0;right:0;width:15px;height:20px;margin-top:0;font-size:14px;color:#fff;}
.ui-dialog .ui_colorpicker{top:0;left:0;}
.ui-dialog .dl_slider{position:relative;}
.ui-dialog .dl_slider .kkslider-bar{position:absolute;top:5px;left:15px;padding:0 10px 0 0;border-left:1px solid #1D86C8;border-right:1px solid #1D86C8;}
.ui-dialog .dl_slider .kkslider-bar .kkslider-line{display:block;position:absolute;top:8px;left:0;right:0;border-bottom:1px solid #1D86C8;height:0;}
.ui-dialog .dl_slider .kkslider-bar a.kkslider-plus{position:absolute;top:-2px;right:-21px;display:block;width:20px;height:20px;line-height:20px;text-align:center;font-size:14px;color:#1D86C8;font-weight:bold;}
.ui-dialog .dl_slider .kkslider-bar a.kkslider-minus{position:absolute;top:-2px;left:-21px;display:block;width:20px;height:20px;line-height:20px;text-align:center;font-size:14px;color:#1D86C8;font-weight:bold;}
.ui-dialog .dl_slider .kkslider-bar a.kkslider-plus:hover,.ui-dialog .dl_slider .kkslider-bar a.kkslider-minus:hover{color:#fff;background-color:#2CB5E1;}
.ui-dialog .dl_slider .kkslider-bar .kkslider-panel{width:100px;height:16px;}
.ui-dialog .dl_slider .kkslider-bar .kkslider-panel .ui-slider-handle{width:10px;height:14px;margin-top:4px;margin-left:0;background-color:#1D86C8;}
.ui-dialog .dl_slider .kkslider-bar .kkslider-panel .ui-slider-handle:hover{background-color:#2CB5E1;}
.ui-dialog .dl_slider .kkslider-bar .kkslider-panel .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
.ui-dialog .dl_slider .kkslider-status{position:absolute;top:5px;left:150px;height:16px;line-height:16px;}
.ui-dialog .item{list-style:none;}
.ui-dialog .item:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui-dialog .item li{height:67px;position:relative;float:left;margin-right:10px;margin-bottom:20px;overflow:hidden;}
.ui-dialog .item li .fb-zoom{position:absolute;bottom:0;right:0;display:block;/*background:rgba(255,255,255,0.8) url(../../images/kuku_slide_icon.png) no-repeat -750px -300px;*/width:20px;height:20px;border:1px solid #666;}
.ui-dialog .item li img{width:120px;}
/*
.ui-dialog .btn{display:inline-block;padding:3px 6px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:0px;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.ui-dialog .btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;}


.ui-dialog .btn:hover,.ui-dialog .btn:focus{color:#333333;text-decoration:none;}
.ui-dialog .btn:active,.ui-dialog .btn.active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.ui-dialog .btn.disabled,.ui-dialog .btn[disabled],.ui-dialog fieldset[disabled] .btn{pointer-events:none;cursor:not-allowed;opacity:.65;-webkit-box-shadow:none;box-shadow:none;}
.ui-dialog .btn-default{color:#333333;background-color:#ffffff;border-color:#cccccc;}
.ui-dialog .btn-default:hover,.ui-dialog .btn-default:focus,.ui-dialog .btn-default:active,.ui-dialog .btn-default.active,.ui-dialog .open .dropdown-toggle.btn-default{color:#333333;background-color:#ebebeb;border-color:#adadad;}
.ui-dialog .btn-default:active,.ui-dialog .btn-default.active,.ui-dialog .open .dropdown-toggle.btn-default{background-image:none;}
.ui-dialog .btn-default.disabled,.ui-dialog .btn-default[disabled],.ui-dialog fieldset[disabled] .btn-default,.ui-dialog .btn-default.disabled:hover,.ui-dialog .btn-default[disabled]:hover,.ui-dialog fieldset[disabled] .btn-default:hover,.ui-dialog .btn-default.disabled:focus,.ui-dialog .btn-default[disabled]:focus,.ui-dialog fieldset[disabled] .btn-default:focus,.ui-dialog .btn-default.disabled:active,.ui-dialog .btn-default[disabled]:active,.ui-dialog fieldset[disabled] .btn-default:active,.ui-dialog .btn-default.disabled.active,.ui-dialog .btn-default[disabled].active,.ui-dialog fieldset[disabled] .btn-default.active{background-color:#ffffff;border-color:#cccccc;}
*/


.ui-dialog .symbolsWrap{height:200px;overflow:auto;}
.ui-dialog .symbolsWrap ul.symbols{list-style:none;}
.ui-dialog .symbolsWrap ul.symbols:after{content:" ";display:block;clear:both;height:0;visibility:hidden;}
.ui-dialog .symbolsWrap ul.symbols li{float:left;display:block;text-align:center;width:30px;height:30px;line-height:30px;font-size:20px;border:1px solid #2dbce6;margin:5px 0 0 5px;background-color:#fff;}
.ui-dialog .symbolsWrap ul.symbols li:hover{background-color:#e1929d;}
.ui-dialog .ui-dialog-buttonset .ui-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; display:inline-block;padding:3px 6px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer; border:1px solid transparent;border-radius:0px;-webkit-user-select:none;-moz-user-select:none;user-select:none;color:#333333;background-color:#ffffff;border-color:#cccccc;}
.ui-dialog input[type='password']{ -webkit-appearance: none; -moz-appearance: none; appearance: none; display:inline-block;padding:6px 6px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.428571429;text-align:left; white-space:nowrap; vertical-align: middle;cursor:pointer; border:1px solid transparent;border-radius:0px;color:#333333;background-color:#ffffff;border-color:#cccccc;}
.kk-dialog-close { color:#999; }

.ui-tabs-vertical{width:100%;height:100%;}
.ui-tabs-vertical .ui-tabs-nav{padding:0 0 0 0;width:150px;height:100%;border-right:1px solid #2dbce6;float:left;}
.ui-tabs-vertical .ui-tabs-nav li{clear:left;width:100%;border-bottom-width:1px!important;border-right-width:0!important;margin:0 -1px 0 0;}
.ui-tabs-vertical .ui-tabs-nav li a{display:block;color:#666;padding:0 10px;clear:left;float:none;height:40px;line-height:40px;font-size:14px;text-align: left;}
.ui-tabs-vertical .ui-tabs-nav li a:hover{display:block;color:#fff!important;background-color:#2dbce6;padding:0 10px;clear:left;float:none;height:40px;line-height:40px;font-size:14px;}
.ui-tabs-vertical .ui-tabs-nav li a:focus{outline:none;}
.ui-tabs-vertical .ui-tabs-nav li:focus{outline:none;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a{background-color:#2dbce6;color:#fff!important;height:40px;line-height:40px;font-size:14px;}
.ui-tabs-vertical .ui-tabs-panel{display:block;margin-left:151px;height:100%;font-size:12px;text-align:left;}
.ui-tabs-vertical .ui-tabs-panel fieldset{border:1px solid #ddd;margin-bottom:10px;}
.ui-tabs-vertical .ui-tabs-panel .comment{font-size:12px;line-height:20px;margin:20px 10px 10px 10px;}
.ui-tabs-vertical .ui-tabs-panel .preview{display:block;font-size:12px;height:25px;line-height:25px;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal{display:block;padding-top:10px;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal:after{clear:both;line-height:0;content:"";}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal dt{float:left;width:50px;overflow:hidden;margin-left:20px;text-align:left;white-space:nowrap;color:#666;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal dd{margin-left:80px;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal dd.both{margin-left:20px;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal dd input[type="checkbox"]{margin-top:0;vertical-align:middle;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal input[type="text"]{margin-top:0;margin-bottom:0;margin-left:0;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal .ui-spinner{border:none;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal .ui_selectbox{background-color:#fff;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal .ui_selectbox .arrow_icon{display:block;width:15px;height:20px;/*background:url(../../images/kuku_cell_icon.png) no-repeat 0 0;*/vertical-align:middle;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal .ui_selectbox .i-arrow-down{margin-left:-5px;background-position:-58px -383px;display:inline-block;margin-top:-3px;}
.ui-tabs-vertical .ui-tabs-panel .dl-horizontal .ui_selectbox label{display:block;height:25px;line-height:25px;color:#333;padding:0 15px 0 5px;font-size:12px;font-weight:normal;}
.ui-tabs-vertical .ui-tabs-panel .ui_select_list{overflow:auto;}
.ui-tabs-vertical .ui-tabs-panel{height:100%;text-align:center;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap{height:100%;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader{height:100%;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader{height:100%;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button{height:100%!important;padding:0!important;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button>div{height:100%;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap{height:100%;width:100%;border-spacing:20px;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap td{border:4px dashed #dddddd;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap td{border:4px dashed #dddddd;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap span{color:#666666;font-size:25px;}
.ui-tabs-vertical .ui-tabs-panel .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button input{height:100%;}
.ui-tabs-vertical .ui-tabs-panel .filePreviewWrap{height:calc(63%);padding-top:2px;text-align:center;line-height:333px;}
.ui-tabs-vertical .ui-tabs-panel .filePreviewWrap img.filePreviewImage{vertical-align:middle;display:inline-block;max-width:99%;max-height:99%;}
.ui-tabs-vertical .ui-tabs-panel .urlUploaderWrap{height:45px;}
.ui-tabs-vertical .ui-tabs-panel .urlUploaderWrap .urlLabel{width:40px;margin-left:10px;color:#444444;font-weight:bold;margin-right:2px;display:inline-block;}
.ui-tabs-vertical .ui-tabs-panel .urlUploaderWrap .urlAddressInput{width:330px;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);height:23px;vertical-align:middle;font-size:12px;color:#555555;padding-left:5px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.ui-tabs-vertical .ui-tabs-panel .urlUploaderWrap .urlSearchButton{margin-left:10px;font-size:12px;line-height:25px;padding:0 10px;display:inline-block;}
.ui-tabs-vertical .ui-tabs-panel .urlPreviewWrap{height:calc(54%);padding-top:2px;text-align:center;line-height:334px;}
.ui-tabs-vertical .ui-tabs-panel .urlPreviewWrap img.urlPreviewImage{vertical-align:middle;display:inline-block;max-width:99%;max-height:99%;}
.ui-tabs-vertical .ui-tabs-panel span.preparation{line-height:360px;font-size:35px;color:#aaaaaa;}

.imageUploadContainer{width:100%;height:98%;border:1px solid #2dbce6;}
.imageUploadContainer .leftSide{float:left;width:150px;height:100%;}
.imageUploadContainer .leftSide div.imageUploadMenu{height:40px;line-height:40px;color:#666;font-size:12px;padding-left:15px;}
.imageUploadContainer .leftSide div.imageUploadMenu:hover{background-color:#2dbce6;color:#fff;cursor:default;}
.imageUploadContainer .leftSide div.selectedImageMenu{background-color:#2dbce6;font-weight:bold;color:#fff!important;}
.imageUploadContainer .mainContainer{margin-left:150px;height:100%;border-left:1px solid #2dbce6;}
.imageUploadContainer .mainContainer .fileUpload{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button{height:100%!important;padding:0!important;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button>div{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap{height:100%;width:100%;border-spacing:20px;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap td{border:4px dashed #dddddd;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap td{border:4px dashed #dddddd;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button table.buttonWrap span{color:#666666;font-size:25px;}
.imageUploadContainer .mainContainer .fileUpload .fineUploaderWrap .fineUploader .qq-uploader .qq-upload-button input{height:100%;}
.imageUploadContainer .mainContainer .fileUpload .filePreviewWrap{height:calc(63%);padding-top:2px;text-align:center;line-height:333px;background-color:#fafafa;}
.imageUploadContainer .mainContainer .fileUpload .filePreviewWrap img.filePreviewImage{vertical-align:middle;display:inline-block;max-width:99%;max-height:99%;}
.imageUploadContainer .mainContainer .urlUpload{height:100%;background-color:#fafafa;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap{height:35px;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap .urlLabel{width:40px;margin-left:10px;color:#444444;font-weight:bold;margin-right:2px;display:inline-block;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap .urlAddressInput{width:330px;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);height:23px;vertical-align:middle;font-size:12px;color:#555555;padding-left:5px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap .urlSearchButton{margin-left:5px;color:#aaaaaa;font-size:30px;line-height:42px;vertical-align:bottom;display:inline-block;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap .urlSearchButton .searchIcon{width:21px;height:21px;border:none;}
.imageUploadContainer .mainContainer .urlUpload .urlUploaderWrap .urlSearchButton .searchIcon:hover{opacity:.5;cursor:pointer;}
.imageUploadContainer .mainContainer .urlUpload .urlPreviewWrap{height:calc(64%);padding-top:2px;text-align:center;line-height:334px;}
.imageUploadContainer .mainContainer .urlUpload .urlPreviewWrap img.urlPreviewImage{vertical-align:middle;display:inline-block;max-width:99%;max-height:99%;}
.imageUploadContainer .mainContainer .snapShotUpload{height:100%;text-align:center;}
.imageUploadContainer .mainContainer .searchUpload{height:100%;text-align:center;}
.imageUploadContainer .mainContainer span.preparation{line-height:360px;font-size:35px;color:#aaaaaa;}
.hyperlinkTab{height: 100%;margin: auto;text-align: center;}
.hyperlinkTab .tabHyperLink{padding-left:13px;padding-right:13px;padding-top:0;}
.hyperlinkTab .tabHyperLink .hyperlink_text{width:calc(50%);}
.hyperlinkTab .tabHyperLink .hyperlink_url{width:calc(50%);}
.hyperlinkTab .tabEmail{padding-left:13px;padding-right:13px;padding-top:0;}
.hyperlinkTab .tabEmail .email_subject{width:calc(50%);}
.hyperlinkTab .tabEmail .email_address{width:calc(50%);}
.hyperlinkTab .tabBookmark{padding-top:0;padding-left:13px;padding-right:13px;height:100%;}
.hyperlinkTab .tabBookmark .bookmarkList{height:100%;width:100%;}
.bookmarkContainer{height:100%;}
.bookmarkContainer .bookmarkName{width:300px;}
.bookmarkContainer .bookmarkList{width:314px;height:150px;outline:none;}




/* kk-contextMenu */
.contextMenu>ul{display:block;padding:4px 0;width:150px;background-color:#fff;border:1px solid #236d9a;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);}
.contextMenu>ul>li{position:relative;padding:0 0 0 10px;list-style-type:none;font-size:13px;color:#2e2e2e;text-decoration:none;height:22px;line-height:22px;}
.contextMenu>ul>li.dropdown{/*background:url(../images/subMenuDropdownNormal.png) no-repeat 130px 50%;*/}
.contextMenu>ul>li:hover{background-color:#c5e1f2;}
.contextMenu>ul>li.contextLine{border-bottom:1px solid #d8d8d8;margin:3px 5px;padding:0;width:140px;height:0;}
.contextMenu>ul>li>ul{list-style-type:none;position:absolute;padding:4px 0;top:-5px;left:150px;display:none;z-index:100;width:150px;background-color:#fff;border:1px solid #236d9a;font-weight:normal;box-shadow:0 3px 5px 1px rgba(0,0,0,0.3);}
.contextMenu>ul>li>ul>li{position:relative;display:block;padding:0 0 0 10px;width:140px;height:22px;}
.contextMenu>ul>li>ul>li:hover{background-color:#c5e1f2;}
.contextMenu>ul>li:hover>ul{display:block;}
.contextMenu ul li[ui-enable="false"]{color:#AAA;}

/* ------------------------------------------------------------------------------------------*/
