body{height:100%;background:url(../images/pat_bg.png) #515b5e;font-family:Helvetica,Arial,sans-serif; font-size:12px;color:#424242;-webkit-font-smoothing:antialiased}
.iconsweet{font-family:iconSweets;font-weight:normal}

/* LAYOUT */
    .nav_wrap {float:left; width:150px;  }
    .main_wrap { display:block; margin-left:170px;  }

    .one_wrap{display:inline-block;width:100%}
    .one_two_wrap{float:left;width:49%}
    .one_three_wrap{float:left;width:32%;margin-left:2%}
    .one_three_wrap:first-child{float:left;margin-left:0!important}
    .one_four_wrap{float:left;width:23.5%;margin-left:2%}
    .one_four_wrap:first-child{float:left;margin-left:0!important}
    .widget{clear:both;margin-top:22px;border-radius:3px;background:#fff;box-shadow:0 1px 2px 0 #acaeaf;-webkit-box-shadow:0 1px 2px 0 #acaeaf;-moz-border-radius:3px;-webkit-border-radius:3px}
    .no_overflow{overflow:hidden}
    .widget .widget_title{height:38px;border-bottom:solid 1px #e0e0e0;border-radius:3px 3px 0 0;background:url(../images/widget_title_bg.png) repeat-x center top #eee}
    .widget .widget_title span{float:left;width:35px;padding:3px 0;font-size:24px;color:#6c6c6c;text-align:center;text-shadow:0 1px 0 #fff;-webkit-text-shadow:0 1px 0 #fff}
    .widget .widget_title h5{float:left;padding:13px 0 10px;font-size:14px;font-family:CorbelBold;color:#6c6c6c;text-shadow:0 1px 0 #fff}
    .fl_left{float:left}
    .fl_right{float:right}
    .clear{clear:both}
    .auto{overflow:hidden;height:auto}
    .content_pad{padding:15px}
    .text_center{text-align:center}
    .text_right{text-align:right}
    .text_left{text-align:left}

/* HEADER */
    header{height:36px;padding:15px;border-bottom:solid 1px #526267;background:url(../images/pat_bg2.png) #515b5e}
    header #logo{float:left}
    header #logo a img{height:36px}
    header .header_search{float:right;position:relative}
    header .header_search input[type=text],header .header_search input[type=search]{ width:170px; padding:9px 10px; border:none; border-radius:0; background:#eee; font-size:11px; color:#999;}
    header .header_search .submit {position:absolute;top:7px;right:7px;width:20px;height:20px;border:0;background:url(../images/search.png) no-repeat center;cursor:pointer}

/* DREAMWORKS CONTAINER */
    #container{overflow:auto;height:100%;margin:5px}

/* PRIMARY NAV */
    nav#primary_nav{float:left;padding-top:92px;font-family:CorbelRegular/* CORBEL */}
    nav#primary_nav ul{margin:0;padding:0}
    nav#primary_nav ul li{clear:both;width:83px;margin-bottom:15px;padding:5px 9px 10px 1px;background:none;font-size:12px;text-align:center;list_style:none}
    nav#primary_nav ul li a{display:block;width:52px;margin:0 auto;padding-top:55px;background:url(../images/navSprite.png) no-repeat left top;background-size:520px 154px;color:#d8e0e2;text-decoration:none;text-shadow:0 1px 1px #202324}
    nav#primary_nav ul li.nav_dashboard a{background-position:0 -102px}
    nav#primary_nav ul li.nav_dashboard.active a{background-position:0 0}
    nav#primary_nav ul li.nav_contact a{background-position:-52px -102px}
    nav#primary_nav ul li.nav_contact.active a{background-position:-52px 0}
    nav#primary_nav ul li.nav_calendar a{background-position:-104px -102px}
    nav#primary_nav ul li.nav_calendar.active a{background-position:-104px 0}
    nav#primary_nav ul li.nav_attendance a{background-position:-156px -102px}
    nav#primary_nav ul li.nav_attendance.active a{background-position:-156px 0}
    nav#primary_nav ul li.nav_analysis a{background-position:-208px -102px}
    nav#primary_nav ul li.nav_analysis.active a{background-position:-208px 0}
    nav#primary_nav ul li.nav_sms a{background-position:-260px -102px}
    nav#primary_nav ul li.nav_sms.active a{background-position:-260px 0}

    nav#primary_nav ul li.nav_report a{background-position:-416px -102px}
    nav#primary_nav ul li.nav_report.active a{background-position:-416px 0}

    nav#primary_nav ul li.active{padding-left:4px;padding-right:6px;border-radius:5px 0 0 5px;background:url(../images/active_tab.png) no-repeat left top #fff;box-shadow:0 3px 0 0 #444d50;-webkit-box-shadow:0 3px 0 0 #444d50}
    nav#primary_nav ul li.active a{font-family:'CorbelBold';color:#4a4a4a;text-shadow:none;text-shadow:0 1px 1px #fff}

/* ====SECONDARY NAV==== */
#secondary_nav{float:left;width:210px;/* CORBEL */;border-radius:3px 0 0 0;font-family:'CorbelRegular'}

/* UserInfo */
    dl.user_info{position:relative;width:302px;height:92px;margin-left:-92px}
    dl.user_info dt{float:left;margin-right:3px;padding:5px}
    dl.user_info dt a{display:block;overflow:hidden;width:79px;height:79px}
    dl.user_info dt a img{width:79px}
    dl.user_info dd{float:left;width:185px;height:64px;padding:14px 12px;border-radius:3px 0 0 0;border-right:solid 1px #e0e5e6;background:#889395}
    dl.user_info dd a.welcome_user{display:block;margin-bottom:9px;font-size:14px;color:#393939;text-decoration:none}
    dl.user_info dd a.welcome_user strong{font-weight:bold;color:#fff;text-shadow:0 1px 0 #515b5e}
    dl.user_info dd span.log_data{display:block;margin-bottom:12px;font-size:11px;font-family:Arial,Helvetica,sans-serif;line-height:15px;color:#393939}
    dl.user_info dd span.log_data a{color:#393939;text-decoration:none}
    dl.user_info dd a.logout{display:block;float:left;margin-top:5px;padding-left:15px;background:url(../images/logoff.png) no-repeat left center;color:#f5f5f5;text-decoration:none}
    dl.user_info dd a.user_messages{float:right;height:21px;padding-right:28px;background:url(../images/msg.png) no-repeat right center;line-height:100%;text-decoration:none}
    dl.user_info dd a.user_messages span{display:inline-block;padding:1px 3px;border-radius:3px;background:#f2364e;font-size:10px;font-family:Arial,Helvetica,sans-serif;color:#fff}


	#secondary_nav h2{margin-top:15px; padding:0 15px;font-size:16px;font-weight:bold;line-height:32px;font-family:Arial,Helvetica,sans-serif;color:#8a9294;text-shadow:0 1px 0 #fff}

	#secondary_nav ul.secondaryNav {margin:0px 10px}
	#secondary_nav ul.secondaryNav li{padding:13px 0 10px 0; margin:0; border-top:solid 1px #dcdfe0;line-height:100%;list-style:none;box-shadow:inset 0 1px 0 #fff}
	#secondary_nav ul.secondaryNav li.nav { border-top:none; border-bottom:solid 1px #dcdfe0; box-shadow:0 1px 0 #fff; }

	#secondary_nav ul.secondaryNav li a{display:block;font-size:12px;line-height:17px;color:#818386; text-decoration:none}
	#secondary_nav ul.secondaryNav li a span.iconsweet {float:left;margin:-4px 8px 0 5px;font-size:21px}
	#secondary_nav ul.secondaryNav li a span.menus {font-size:12px; color:#999; }

	#secondary_nav ul.secondaryNav li.active { background-color:#eee; }
	#secondary_nav ul.secondaryNav li.active a{ }
	#secondary_nav ul.secondaryNav li.active a span.iconsweet { color:#478cfe; text-shadow:0px 1px 0px #f4f4f4;}

	#secondary_nav ul.secondaryNav li:hover { background-color:#eee; }
	#secondary_nav ul.secondaryNav li:hover a{ }
	#secondary_nav ul.secondaryNav li:hover a span.iconsweet { color:#478cfe; text-shadow:0 1px 0 #f4f4f4}



/* ====MAIN CONTENT==== */
section#main_content{overflow:visible; min-height:750px; margin-left:93px; border-radius:4px 3px 3px 3px; background:url(../images/section_bg.png) repeat-y left center #ebebeb;}
	section#main_content{_height:1%;}
	*:first-child+html section#main_content{height:1%;}
	section#main_content:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }


#content_wrap{display:block;margin-left:210px;padding:18px}

/* CHART HOME */
#chart_linear{}

/* SUMMARY */
ul.dw_summary{margin:0}
    ul.dw_summary li{margin:0!important;padding:16px 20px;border-top:solid 1px #e4e4e4;font-size:13px;color:#737373;list-style:none!important}
    ul.dw_summary li:first-child{border:none}
    ul.dw_summary li span.percentage_done{display:inline-block;width:67px;font-size:17px;font-weight:bold;color:#484848}
    ul.dw_summary li .progress_wrap{float:right;width:152px;height:6px;margin:5px 0;background:#e4e4e4}
    ul.dw_summary li .progress_wrap .progress_bar{width:0;height:6px;background:#517bac}

/* PROJECT SORT */
ul.filter_project{border-top:solid 1px #f6f6f6;background:#d3d3d3}
    ul.filter_project li{display:inline-block;padding:8px 15px;list-style:none}
    ul.filter_project li a{font-weight:bold;color:#6c6c6c;text-decoration:none;text-shadow:0 1px 0 #fff}
    ul.filter_project li span.count{display:inline-block;min-width:16px;margin-left:8px;padding:2px;border-radius:2px;background:#707070;line-height:100%;color:#fff;text-align:center;text-shadow:0 1px 0 #353535;box-shadow:0 1px 0 0 #fff;-webkit-box-shadow:0 1px 0 0 #fff}
    ul.filter_project li.selected{border:solid 1px #fff;border-width:0 1px;background:#fff;box-shadow:inset 0 10px 8px #eaeaea;-webkit-box-shadow:inset 0 10px 8px #eaeaea}
    ul.filter_project li.selected a{color:#4a4a4a}
    ul.filter_project li.selected span.count{background:#4a4a4a}

    .project_sort ul.project_list{margin:0;padding:15px 0 0 0px}
    .project_sort ul.project_list {_height:1%;}
    *:first-child+html .project_sort ul.project_list {height:1%;}
    .project_sort ul.project_list:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }



    .project_sort ul.project_list li{float:left; display:block;position:relative;width:75px;height:70px; margin-right:10px; margin-bottom:10px;padding:10px;border:solid 1px #c4c4c4;border-radius:3px;background:url(../images/project_bg.png) repeat-x bottom center #ededed;list-style:none}
    .project_sort ul.project_list .project_badge {position:absolute;top:-1px;right:-1px;width:34px; padding-right:2px; height:36px;background:url(../images/project_badge.png) no-repeat center;font-size:19px;line-height:17px;color:#fff;text-align:right}
    .project_sort ul.project_list .project_badge.red{background-position:-148px 0}
    .project_sort ul.project_list .project_badge.blue{background-position:-299px 0}
    .project_sort ul.project_list .project_badge.grey{background-position:-1px 0}
    .project_sort ul.project_list a.project_title{display:inline-block;font-size:13px;line-height:18px;font-family:'CorbelBold';color:#5c5c5c;text-decoration:none;text-shadow:0 1px 0 #fff}
    .project_sort ul.project_list a.assigned_user{position:absolute;left:10px;bottom:11px;font-size:12px; color:#6c6c6c; text-decoration:none;text-shadow:0 1px 0 #fff}
    .project_sort ul.project_list a.assigned_user span{float:left;margin-top:-7px;margin-right:2px;font-size:19px}
    .project_sort ul.project_list a.remove {position:absolute;right:5px;bottom:5px;font-size:12px; color:#6c6c6c; text-decoration:none;}
    .project_sort ul.project_list a.modify {position:absolute;right:20px;bottom:5px;font-size:12px; color:#6c6c6c; text-decoration:none;}
    .project_sort ul.project_list .duty { position:absolute;left:10px;bottom:25px; font-size:12px; color:#666; text-decoration:none; }

/* ACTIVITY DATATABLE */
    .datatableToolbar { display:block; background: none repeat scroll 0 0 #F9F9F9; border:medium none !important; color:#878787; font-size:12px; padding:7px 10px !important; padding:5px; }
    .datatableToolbar {_height:1%;}
    *:first-child+html .datatableToolbar {height:1%;}
    .datatableToolbar:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .dataTables_length { float:left; padding:3px; width:40%; }
    .dataTables_filter { float:right; text-align:right; width:50%; }

    table.activity_datatable{}
    table.activity_datatable th{padding:8px 0;border-right:solid 1px #e5e5e5;border-bottom:solid 1px #d3d3d3;background:url(../images/thead_bg.png) repeat-x bottom center;font-size:11px;font-weight:bold;color:#6c6c6c;text-align:center;text-transform:uppercase;box-shadow:inset 0 1px 0 1px #fff;-webkit-box-shadow:inset 0 1px 0 1px #fff}
    table.activity_datatable td { padding:10px 15px;color:#6c6c6c;vertical-align:middle; font-size:12px;}
    table.activity_datatable tr { border-bottom:solid 1px #e5e5e5; cursor:pointer; }
    table.activity_datatable tr.odd  { background-color:#f7f7f7; }
    table.activity_datatable tr.even { background-color:#fff; }
    table.activity_datatable tr:hover, table.activity_datatable tr:active { background-color:#eef1f5; }

    table.activity_datatable a{line-height:18px;color:#363e40;text-decoration:none}
    table.activity_datatable span.pj_cat{display:inline-block;padding:3px 5px;border-radius:3px;background:#757673;line-height:100%;font-size:10px;color:#fff;text-transform:uppercase;text-shadow:0 1px 0 #646464}
    table.activity_datatable span.stat_up{color:#637b11}
    table.activity_datatable span.stat_down{color:#7b1111}
    table.activity_datatable span.iconsweet{font-size:17px}
    table.activity_datatable span.data_actions a{float:left;margin-right:1px;padding:0 5px;color:#6c6c6c}
    table.activity_datatable span.green_highlight{background:#87ac51}
    table.activity_datatable span.grey_highlight{background:#757673}
    table.activity_datatable span.blue_highlight{background:#4572a7}

/* Actionbar */
.action_bar{padding:8px;border-top:solid 1px #e3e3e3;background:#f2f0f0}
    .action_bar	a.button_small{margin-right:5px}

/* Button - basic */
a.button_big{display:inline-block;height:2.78em;margin-right:15px;margin-bottom:5px;padding:0 10px;border:solid 1px #cfcfcf;border-color:#CCC #CCC #AAA;border-radius:3px;background-color:#F0F0F0;background-image:-moz-linear-gradient(center top, #FFFFFF 0pt, #E0E0E0 100%);background-image:-webkit-linear-gradient(top,white 0,#E0E0E0 100%);background-image:linear-gradient(to bottom,white 0,#E0E0E0 100%);font-family:'CorbelBold';font-size:14px;line-height:2.8em;color:#6c6c6c;text-decoration:none;box-shadow:0 0 1px #FFF inset;text-shadow:0 1px 0 #FFF;-moz-border-radius:3px;-webkit-border-radius:3px}
    a.button_big:hover{box-shadow:0 1px 0 #FFF inset,0 1px 3px rgba(0,0,0,0.08)}
    a.button_big:active{background-image:-moz-linear-gradient(center bottom, #FFFFFF 0pt, #E0E0E0 100%);background-image:-webkit-linear-gradient(bottom,white 0,#E0E0E0 100%);background-image:linear-gradient(to bottom,white 0,#E0E0E0 100%)}
    a.button_big:hover span.iconsweet{color:#478CFE}

    a.btn_grey{border-color:#7a828d #7a828d #3d4046;background-color:#787b83;background-image:-moz-linear-gradient(center top, #787b83 0pt, #44474e 100%);background-image:-webkit-linear-gradient(top,#787b83 0,#44474e 100%);background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%);color:#f0f0f0;box-shadow:0 1px 0 rgba(152,155,160,0.45) inset;text-shadow:0 1px 0 rgba(0,0,0,0.45)}
    a.btn_grey:hover{box-shadow:0 1px 0 #a1a5af inset,0 1px 3px rgba(0,0,0,0.08)}
    a.btn_grey:hover span.iconsweet{color:#000}
    a.btn_grey:active{background-image:-moz-linear-gradient(center bottom, #787b83 0pt, #44474e 100%);background-image:-webkit-linear-gradient(bottom,#787b83 0,#44474e 100%);background-image:linear-gradient(to bottom,#787b83 0,#44474e 100%)}
    a.btn_grey span.iconsweet{color:#f0f0f0}
    a.button_big span{float:left;margin-top:-3px;padding-right:10px;font-size:18px;color:#606060}

/* =Message Bar= */
div.msgbar{margin-top:15px;padding:10px 8px;border-radius:3px;cursor:pointer}
    div.msgbar p{display:inline;margin:0;line-height:inherit}
.content_pad .msgbar:first-child{margin-top:0}

/* Info */
div.msgbar.msg_Info{border:solid 1px #82a5b2;background:#96bcca;color:#4e646c;text-shadow:0 1px 0 #b3dded;box-shadow:inset 0 1px 0 0 #b6d7e3;-webkit-box-shadow:inset 0 1px 0 0 #b6d7e3}
div.msgbar span.iconsweet{float:left;margin-top:-6px;padding-right:5px;font-size:18px}
div.msgbar.msg_Info p{padding-left:8px;border-left:dotted 1px #708a93}

/* Success */
div.msgbar.msg_Success{border:solid 1px #98b383;background:#adca96;color:#647458;text-shadow:0 1px 0 #d3edb3;box-shadow:inset 0 1px 0 0 #b8e3b6;-webkit-box-shadow:inset 0 1px 0 0 #b8e3b6}
div.msgbar.msg_Success p{padding-left:8px;border-left:dotted 1px #708a93;color:#434f3b}

/* Error */
div.msgbar.msg_Error{border:solid 1px #ad7373;background:#c68989;color:#785151;text-shadow:0 1px 0 #f7b1b1;box-shadow:inset 0 1px 0 0 #eca1a1;-webkit-box-shadow:inset 0 1px 0 0 #eca1a1}
div.msgbar.msg_Error p{padding-left:8px;border-left:dotted 1px #785151;color:#372323}

/* Alert */
div.msgbar.msg_Alert{border:solid 1px #a8a969;background:#d6d792;color:#72734b;text-shadow:0 1px 0 #e7e89c;box-shadow:inset 0 1px 0 0 #ddde93;-webkit-box-shadow:inset 0 1px 0 0 #ddde93}
div.msgbar.msg_Alert p{padding-left:8px;border-left:dotted 1px #785151}

/* ACTIVITY STATS */
    #activity_stats{margin-bottom:8px;border-bottom:solid 1px #cdd1d3;box-shadow:0 1px 0 0 #fff;-webkit-box-shadow:0 1px 0 0 #fff}
    #activity_stats h3{display:inline-block;font-size:20px;font-family:'CorbelRegular';color:#6C6C6C;text-shadow:0 1px 0 #fff}
    #activity_stats .activity_column{display:inline-block;padding:0 15px 8px;font-size:14px;line-height:100%;color:#6C6C6C;text-shadow:0 1px 0 #fff}
    #activity_stats .activity_column span.iconsweet{font-size:18px;color:#6C6C6C}
    #activity_stats .activity_column span.big_txt{padding-right:5px;font-size:28px}
    #activity_stats .activity_column span.rd_txt{color:#c68989}
    #activity_stats .activity_column span.gr_txt{color:#9cc591}

/* LOGIN */
#login_container{border-top:solid 6px #3c4143;background:url(../images/pat_bg2.png) #515b5e}
    #login{width:289px;margin:100px auto;padding:35px;border:solid 1px #586366;border-radius:3px;background:url(../images/pat_bg.png) #515b5e;box-shadow:0 0 1px 0 #262e30;-webkit-box-shadow:0 0 1px 0 #262e30}
    #login div{display:inline-block;width:100%}
    #login img{width:150px;margin-bottom:25px}

    #login .summary { color:#fff; line-height:150%; margin-bottom:10px;}

    #login .auth {  float:left; width:150px; height:36px; margin-bottom:15px; border-radius:3px; background:url(../images/login_input_b.png) repeat-x top center; border:none; padding:0 10px;color:#2a2f31; }
    #login input.auth::-webkit-input-placeholder{ color:#2a2f31; }
    #login input.auth:focus{ color:#dbe7eb; text-shadow:0 1px 0 #222526; }
	#login a.authBtn { overflow:hidden; float:left; display:block; height:36px; line-height:36px; padding:0 15px; margin-left:10px; border:0; border-radius:3px; background:url(../images/login_b_bg.png) repeat-x center;  font-size:13px; font-weight:bold; color:#cad2d4; text-shadow:0 1px 0 #000; }

	#login a.authBtn2 { overflow:hidden; float:left; display:block; height:36px; line-height:36px; padding:0 15px; margin-left:0px; border:0; border-radius:3px; background:url(../images/login_b_bg.png) repeat-x center;  font-size:13px; font-weight:bold; color:#cad2d4; text-shadow:0 1px 0 #000; }

    #login .input_box{width:287px;height:36px;margin-bottom:15px;border-radius:3px;background:url(../images/login_input_b.png) repeat-x top center}
    #login .input_box span{float:left;width:37px;height:36px;margin-right:0;font-size:22px;line-height:29px;color:#2b3032;text-align:center;text-shadow:0 1px 0 #70797c}
    #login .input_box input{width:230px;height:24px;padding:7px 4px 4px;border:0;background:none;line-height:15px;font-size:14px;color:#2a2f31;outline:none;text-shadow:0 1px 0 #70797c}
    #login .input_box input::-webkit-input-placeholder{color:#2a2f31}
    #login .input_box input:focus{color:#dbe7eb;text-shadow:0 1px 0 #222526}
    #login input[type=submit]{overflow:hidden;float:right;padding:10px 24px 9px;padding:9px 24px;border:0;border-radius:3px;background:url(../images/login_b_bg.png) repeat-x center;line-height:100%;font-size:13px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#cad2d4;text-shadow:0 1px 0 #000}
    #login a.forgot_password{display:inline-block;margin-top:12px;color:#9eaeb3;text-shadow:0 1px 0 #363d3f}

/* FORM FILEDS */
.form_fields_container{}
    .form_fields_container li:first-child{border:none}
    .form_fields_container li{display:inline-block;width:100%;padding:3px 0; /*border-top:dotted 1px #E6E6E6; */ background:#fff;list-style:none}
    .form_fields_container>li>label{display:block;float:left;margin:5px 0 2px 25px;padding:3px 0;font-size:13px;color:#818386;}
    .form_fields_container li div.form_input{display:block;float:right;width:75%;margin-right:25px;text-shadow:0 1px 0 #fff}
    .form_fields_container li div.form_input input,.form_fields_container li div.form_input textarea { width:98%; padding:5px; border:solid 1px #ccc; border-radius:3px; background:#f8f8f8; font-size:12px; color:#666; box-shadow:inset 0 1px 0 0 #fff;-webkit-box-shadow:inset 0 1px 0 0 #fff}

    .form_fields_container li div.form_input .val { width:98%; padding:5px; border:solid 1px #ccc; border-radius:3px; background:#f8f8f8; font-size:12px; color:#666; box-shadow:inset 0 1px 0 0 #fff; -webkit-box-shadow:inset 0 1px 0 0 #fff; }
    .form_fields_container li div.form_input .value { width:98%; padding:5px; font-size:12px; color:#666; line-height:130%; }
    div.form_input textarea{width:98%!important}

    .form_fields_container li div.form_input input[disabled=disabled]{background:#E4E4E4;color:#999}
    .form_fields_container li div.form_input .in_processing{background-image:url(../images/processing.gif);background-repeat:no-repeat;background-position:right center}
    .form_fields_container li div.form_input .in_submitted{border-color:#a6e259;background-image:url(../images/Tick.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #a6e259;-webkit-box-shadow:0 0 3px 0 #a6e259}
    .form_fields_container li div.form_input .in_error{border-color:#dc5c5c;background-image:url(../images/Remove.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #dc5c5c;-webkit-box-shadow:0 0 3px 0 #dc5c5c}
    .form_fields_container li div.form_input .in_warning{border-color:#f0d648;background-image:url(../images/Warning.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #f0d648;-webkit-box-shadow:0 0 3px 0 #f0d648}


/* FORM SEARCH */
.form_search{}
    .form_search li:first-child{border:none}
    .form_search li{ display:block;width:100%;padding:3px 0; /*border-top:dotted 1px #E6E6E6; */ background:#fff;list-style:none}
    .form_search li:after{content:" "; display:block; clear:both; height:0; visibility:hidden; }
    .form_search > li > label { display:block; width:80px; float:left ;margin:5px 0 2px 25px; padding:3px 0;font-size:13px;color:#818386;}

    .form_search li div.form_input{display:block; margin-left:90px; margin-right:25px; text-shadow:0 1px 0 #fff}
    .form_search li div.form_input input,.form_search li div.form_input textarea { width:90%; padding:5px; border:solid 1px #ccc; border-radius:3px; background:#f8f8f8; font-size:12px; color:#666; box-shadow:inset 0 1px 0 0 #fff;-webkit-box-shadow:inset 0 1px 0 0 #fff}

    .form_search li div.form_input .val { width:98%; padding:5px; border:solid 1px #ccc; border-radius:3px; background:#f8f8f8; font-size:12px; color:#666; box-shadow:inset 0 1px 0 0 #fff; -webkit-box-shadow:inset 0 1px 0 0 #fff; }
    .form_search li div.form_input .value { width:98%; padding:5px; font-size:12px; color:#666; line-height:130%; }
    div.form_input textarea{width:98%!important}

    .form_search li div.form_input input[disabled=disabled]{background:#E4E4E4;color:#999}
    .form_search li div.form_input .in_processing{background-image:url(../images/processing.gif);background-repeat:no-repeat;background-position:right center}
    .form_search li div.form_input .in_submitted{border-color:#a6e259;background-image:url(../images/Tick.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #a6e259;-webkit-box-shadow:0 0 3px 0 #a6e259}
    .form_search li div.form_input .in_error{border-color:#dc5c5c;background-image:url(../images/Remove.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #dc5c5c;-webkit-box-shadow:0 0 3px 0 #dc5c5c}
    .form_search li div.form_input .in_warning{border-color:#f0d648;background-image:url(../images/Warning.png);background-repeat:no-repeat;background-position:right center;box-shadow:0 0 3px 0 #f0d648;-webkit-box-shadow:0 0 3px 0 #f0d648}



/* File Uploader */
#file_uploader{min-height:150px;padding:15px 25px}

/* Forms */
    div.selector{float:left;position:relative; width:140px;height:28px;padding-left:10px;background:url(../images/form_elements/select_left.png) no-repeat scroll left top transparent}
    div.selector select{position:absolute;top:0;left:0;width:150px;height:28px;font-size:12px;cursor:pointer}
    div.selector select option{padding:5px;border:none}
    div.selector span{position:absolute;top:0;right:0;width:140px;height:28px;background:url(../images/form_elements/select_right.png) no-repeat scroll right top transparent;font-size:11px;line-height:28px;cursor:pointer}

    .dataTables_length div.selector{float:left;width:45px;height:22px;padding-left:8px;background:url(../images/form_elements/select_left_datatable.png) no-repeat scroll left top transparent}
    .dataTables_length div.selector span{width:45px;height:22px;background:url(../images/form_elements/select_right_datatable.png) no-repeat scroll right center transparent;line-height:22px}
    .dataTables_length div.selector select{left:-5px;width:65px;height:22px}
    div.checker{float:left;position:relative;width:15px;height:15px;margin-top:6px}
    div.checker input{display:inline-block;width:15px;height:15px;background:none repeat scroll 0 0 transparent;opacity:0}
    div.checker span{display:inline-block;width:17px;height:17px;background:url(../images/form_elements/checkbox.png) no-repeat scroll 0 0 transparent;text-align:center;vertical-align:middle}
    div.checker span.checked{background-position:center bottom}
    div.radio{float:left;position:relative;width:18px;height:18px;margin-top:5px}
    div.radio input{display:inline-block;width:18px;height:18px;background:none repeat scroll 0 0 transparent;text-align:center;opacity:0}
    div.radio span{display:inline-block;width:17px;height:17px;background:url(../images/form_elements/radio.png) no-repeat scroll 0 0 transparent;text-align:center;vertical-align:middle}
    div.radio span.checked{background-position:center bottom}

    div.form_input label{display:inline-block;margin:8px 10px}

/* Slider */
    .widget_body ul.slider_container li{display:inline-block;width:100%;margin:0;padding:10px 0;list-style:none}
    .widget_body ul.slider_container li label{font-size:11px;color:#9fa4a8}
    .widget_body ul.slider_container li input{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#4283d1}

/* UI Elements */
    .elements_container{}
    .elements_container li:first-child{border:none}
    .elements_container li{display:inline-block;width:100%;padding:15px 0;border-top:dotted 1px #E6E6E6;background:#fff;list-style:none}
    .elements_container>li>label{display:block;float:left;margin:5px 0 5px 25px;padding:5px 0;font-size:13px;color:#a9a9a9}
    .elements_container li div.elements_right{display:block;float:right;width:80%;margin-right:25px;text-shadow:0 1px 0 #fff}

/* Button */
    .greyishBtn{border:1px solid #4F5A68;background:url(../images/button/greishBtn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .whitishBtn{border:1px solid #ccc;background:url(../images/button/whiteBtn.png) repeat-x scroll 0 0 transparent;color:#555;text-shadow:0 1px 0 #FFF;box-shadow:0 1px 0 0 #FFF;-webkit-box-shadow:0 1px 0 0 #FFF}
    .bluishBtn{border:1px solid #3079ed;background:url(../images/button/bluishBtn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .redishBtn{border:1px solid #d22a15;background:url(../images/button/redishBtn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .greenishBtn{border:1px solid #4ba301;background:url(../images/button/greenishBtn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .magentaBtn{border:1px solid #ba4c6f;background:url(../images/button/magentaBtn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .yellowBtn{border:1px solid #d5ad23;background:url(../images/button/yellow_btn.png) repeat-x scroll 0 0 transparent;color:#FFF}
    .dblueBtn{border:1px solid #41597c;background:url(../images/button/dark_blue_btn.png) repeat-x scroll 0 0 transparent;color:#FFF}

    .button_small{display:inline-block;margin-left:5px;padding:4px 16px;border-radius:3px;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;line-height:16px;font-size:11px;text-decoration:none;cursor:pointer;text-transform:uppercase;-moz-border-radius:3px;-webkit-border-radius:3px}
    .button_small:hover{background-position:bottom}
    .button_small:active{background-position:center}
    .button_small span.iconsweet{float:left;margin-top:-3px;margin-left:-8px;padding-right:8px;font-size:16px}

/* Gallery */
    .gallery_container{padding:15px}
    .gallery_container ul li{display:inline-block;width:136px;height:136px;margin:0 10px 10px 0;padding:5px;border:solid 1px #e4e4e4;border-radius:3px;background:#f4f4f4;-moz-border-radius:3px;-webkit-border-radius:3px}
    .gallery_container ul li img{margin-bottom:10px;border:solid 1px #fdfdfd}
    .gallery_container ul li a{color:#4a4a4a;text-decoration:none}
    .gallery_container ul li span.name{padding-left:5px;font-weight:bold;color:#4a4a4a;text-decoration:none;text-shadow:0 1px 0 #FFF}
    .gallery_container ul li .modify_image{float:right}
    .gallery_container ul li a.iconsweet{display:inline-block;margin-top:-5px;margin-right:4px;font-size:16px;text-shadow:0 1px 0 #FFF}

/* Error Pages */
    .error_pages{margin:100px auto;text-align:center}
    .error_pages h1{margin:30px;font-size:55px;color:#5a5f60;text-shadow:0 2px 0 #d1d1d1}
    .error_full_page h1{margin:15px 0;font-size:60px;font-family:Arial,Helvetica,sans-serif;color:#35383a;text-shadow:0 2px 0 #697477}
    .error_full_page span.iconsweet{font-size:40px;color:#f04e3a;text-shadow:0 1px 0 #131516}
    .error_full_page p{margin-bottom:15px;font-size:14px;font-weight:bold;line-height:20px;color:#748084;text-shadow:0 1px 0 #272d2f}

/* DATA TABLE */

/* ACTIVITY DATATABLE */
#jqtable tr th{padding:12px 0;border-right:solid 1px #e5e5e5;border-bottom:solid 1px #d3d3d3;background:url(../images/thead_bg.png) repeat-x bottom center;font-size:11px;font-weight:bold;color:#6c6c6c;text-align:center;text-transform:uppercase;box-shadow:inset 0 1px 0 1px #fff;-webkit-box-shadow:inset 0 1px 0 1px #fff}

/* PAGINATION */
    ul.pagination li{display:inline-block;margin:0 2px!important;list-style:none!important}
    ul.pagination li a{padding:3px 8px;border-radius:3px;border-radius:3px;border:1px solid #ccc;background:url(../images/button/whiteBtn.png) repeat-x scroll 0 0 transparent;font-size:11px;font-size:11px;font-weight:bold;line-height:16px;color:#555;text-decoration:none;-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;text-transform:uppercase;-moz-border-radius:3px;-webkit-border-radius:3px;text-shadow:0 1px 0 #FFF;box-shadow:0 1px 0 0 #FFF;-webkit-box-shadow:0 1px 0 0 #FFF}

    ul.pagination li a.active{border:1px solid #4F5A68;background:url(../images/button/greishBtn.png) repeat-x scroll 0 0 transparent;color:#FFF;text-shadow:0 1px 0 #474747}
    ul.pagination li a:hover{background-position:bottom}
    ul.pagination li a:active{background-position:center}

/* CHANGES v1.3 */
a.res_icon,#responsive_nav{display:none}

/* RESPONSIVE */
@media only screen and (max-width: 1080px){
    .one_two_wrap{width:100%}
    .form_fields_container li div.form_input{width:65%}
}

@media only screen and (max-width: 780px){
    .one_two_wrap{}
    #secondary_nav{width:155px}
    #content_wrap{margin-left:155px}
    section#main_content{background-position:-55px center}

    dl.user_info dd{width:130px}
    dl.user_info{width:247px}
    dl.user_info dd span.log_data{margin-bottom:0}
    #activity_stats .activity_column{padding-right:5px;padding-left:5px}
    .form_fields_container li div.form_input{width:60%}
    #secondary_nav ul li a span{display:none}
}



@media only screen and (min-width:421px) and (max-width: 500px){
    body{font-size:80%}
    .one_two_wrap{width:100%}
    .one_three_wrap{width:100%;margin-left:0}
    .one_four_wrap{width:100%;margin-left:0}

    h2{font-size:20px!important}

    header .header_search input[type=text]{width:150px}
    #content_wrap{margin-left:0;padding:8px}
    section#main_content{min-height:250px}
    header{padding:5px 7px}
    section#main_content{margin-left:0;background:#ebebeb;background-image:none}
    nav#primary_nav{display:none}
    #secondary_nav > ul{display:none}
    dl.user_info{margin-left:0}
    dl.user_info dt{width:50px}
    img{max-width:100%}
    #secondary_nav{clear:both;width:100%}

    dl.user_info{width:470px;height:61px}
    dl.user_info dt{margin-right:0}

    dl.user_info dt a{display:block;overflow:hidden;width:50px;height:50px}
    dl.user_info dt a img{width:50px}

    dl.user_info dd{width:395px;height:50px;padding:5px;border-radius:0}
    dl.user_info dd a.welcome_user{margin-bottom:2px}

    #activity_stats{display:inline-block;width:100%}
    #activity_stats h3{display:block;margin-bottom:8px;font-size:16px}
    #activity_stats .activity_column span.big_txt{font-size:17px}
    #activity_stats .activity_column span.iconsweet{font-size:14px}
    #activity_stats .activity_column{float:left;padding-left:0;padding-right:6px;font-size:12px}

    a.button_big{height:2.3em;margin-right:5px;padding:0 8px;line-height:2.3em;font-size:13px}
    a.button_big span{padding-right:5px}

    ul.dw_summary li{padding:16px 8px}
    ul.dw_summary li .progress_wrap{width:100px}
    ul.dw_summary li span.percentage_done{width:45px;text-align:center}
    .widget .widget_title{height:33px}
    .widget .widget_title h5{padding-top:10px}
    .widget .widget_title span{padding:0}
    ul.filter_project li{padding:7px 10px}
    table.activity_datatable td{padding:5px}
    table.activity_datatable th{padding:10px 0;font-size:10px;font-weight:normal}
    table.activity_datatable span.data_actions a{padding:3px 5px}
    .widget{margin-top:15px}
    .widget_body{overflow:hidden}
    .action_bar{padding:5px}
    .project_sort ul.project_list{padding:8px 0 0 8px}
    .project_sort ul.project_list li{margin-right:5px;margin-bottom:7px;padding:10px}
    div.msgbar{margin-top:8px}
    #activity_stats{display:none}

    .dataTables_wrapper .dataTable tbody td{padding:4px!important}
    table.display thead th div.DataTables_sort_wrapper{padding-right:15px!important}
    table.display thead th div.DataTables_sort_wrapper span{right:0!important}
    .dataTables_length{width:20%}
    .dataTables_filter{width:80%}
    .dataTables_wrapper #jqtable_filter input{width:50px}
    #jqtable tr th{font-weight:normal;font-size:10px}
    .form_fields_container li{padding:5px 0}
    .form_fields_container > li > label{display:block;margin-left:15px;margin-top:0}
    .form_fields_container li div.form_input{width:60%}
    .gallery_container{padding:8px}
    .gallery_container ul li{width:120px;height:125px}
    .content_pad{padding:8px}
    .modal{top:2%!important;left:3%!important;width:450px!important;margin-top:0!important;margin-left:0!important}
    #tabs > ul >li{height:15px;padding:8px 6px!important}
    #tabs > ul >li a{font-size:12px}
    .error_pages{margin:25px 0}
    #secondary_nav h2{float:left;margin:10px 0;padding:0}
    .error_pages{margin-top:5px}
    .error_full_page h1{font-size:35px}

    /* Nav */
    a.res_icon{display:block;float:left;clear:left;width:41px;height:31px;margin:10px;background:url(../images/navigate.png) no-repeat center}
    #responsive_nav{overflow:hidden;clear:both;position:absolute;top:160px;left:15px;z-index:999;width:450px!important;margin:0!important;padding-top:7px;border-radius:0 0 7px 7px;background:url(../images/arw_dr.png) no-repeat 16px 0;box-shadow:0 3px 3px #bbb;-webkit-box-shadow:0 3px 3px #bbb}
    #responsive_nav li{padding:9px 8px 8px 12px!important;border-top:none!important;border-bottom:solid 1px #d4d4d4!important;background:#e6e6e6}
    #responsive_nav > li{border-top:solid 1px #fafafa!important;font-size:10px!important}
    #responsive_nav > li:first-child{border-top-width:3px!important}
    #responsive_nav li a{line-height:100%;font-weight:bold!important;font-family:Arial,Helvetica,sans-serif!important;font-size:14px!important;color:#444!important;text-shadow:0 1px #fff}
    #responsive_nav > li > a{font-size:14px!important}
    #responsive_nav li ul{margin:5px 0 0}
    #responsive_nav li ul li{padding:4px 0!important;border-bottom:none!important;border-left:dotted 1px #bdbdbd;box-shadow:none!important}
    #responsive_nav li ul li:before{color:#bdbdbd;content:'--  '}
    #responsive_nav li ul li a{font-weight:normal!important}

    #login{width:270px;margin-top:10px;padding:12px}
    #login a.forgot_password{font-size:11px}
    #login .input_box{width:270px}
    #login .input_box input{width:220px}
}